Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

DOC: Using SSL (#427)
  hi-ml-histopathology/docs/doc_images/example_config.png
  hi-ml-histopathology/docs/doc_images/learning_rate.png
  hi-ml-histopathology/docs/doc_images/online_eval.png
  hi-ml-histopathology/docs/doc_images/train_loss.png
  hi-ml-histopathology/docs/doc_images/val_loss.png
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
Due: hi-ml, hi-ml-histopathology

azure setup
  docs/source/azure_setup.md
Due: none

move all images
  docs/source/images/dsa_heatmap.png
  docs/source/images/example_config.png
  docs/source/images/learning_rate.png
  docs/source/images/lowpriority_interrupted_lr.png
  docs/source/images/online_eval.png
  docs/source/images/train_loss.png
  docs/source/images/val_loss.png
Due: none

remove dead files
  hi-ml-histopathology/docs/README.md
  hi-ml-histopathology/docs/dsa_setup.md
  hi-ml-histopathology/docs/dsa_usage.md
Due: hi-ml, hi-ml-histopathology

move and improve doc files
  docs/source/dsa.md
  docs/source/histopathology.md
  docs/source/index.rst
  docs/source/lowpriority.md
  docs/source/panda_model.md
  docs/source/public_datasets.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-histopathology/docs/azure_setup.md
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
  hi-ml-histopathology/docs/tcga-crck_model.md
Due: hi-ml, hi-ml-histopathology

fixing links
  docs/source/histopathology.md
  docs/source/runner.md
  docs/source/ssl_on_tile_dataset.md
Due: none

fix MD
  docs/source/loading_images.md
Due: none

DOC: Document Histopathology Models (#429)
  .amlignore
  .gitignore
  docs/source/azure_setup.md
  docs/source/dsa.md
  docs/source/histopathology.md
  docs/source/images/dsa_heatmap.png
  docs/source/images/example_config.png
  docs/source/images/learning_rate.png
  docs/source/images/lowpriority_interrupted_lr.png
  docs/source/images/online_eval.png
  docs/source/images/train_loss.png
  docs/source/images/val_loss.png
  docs/source/index.rst
  docs/source/loading_images.md
  docs/source/lowpriority.md
  docs/source/panda_model.md
  docs/source/public_datasets.md
  docs/source/runner.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/scripts/tcga_dataset_prep.py
Due: hi-ml, hi-ml-histopathology

ENH: Simplify how we handle conda environment files in AML submissions (#414)
  docs/source/runner.md
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

ENH: Add Credential Scanning Workflow (#370)
  .github/workflows/codeql-analysis.yml
  .github/workflows/credscan.yml
Due: none

remove logging
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
Due: hi-ml, hi-ml-histopathology

flake8 errors
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
Due: hi-ml, hi-ml-histopathology

remove retired argument
  docs/source/panda_model.md
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/README.md
Due: hi-ml, hi-ml-histopathology

small changes to make the secondary only pattern model comparable
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

hotfix to enable relative conda envs to be found by spawned processes
  hi-ml/src/health_ml/runner.py
Due: hi-ml

ENH: Reduce console logging noise (#430)
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
Due: hi-ml, hi-ml-histopathology

PR comment
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

PR comment Nan
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

ENH: Add Cohen Kappa module metric to DeepMIL (#422)
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

Alternative solution
  hi-ml/src/health_ml/runner.py
Due: hi-ml

flake8
  hi-ml/src/health_ml/runner.py
Due: hi-ml

ENH: Update tiling script
  hi-ml-histopathology/src/histopathology/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

BUG: Stop looking for environment file if already running in AML (#432)
  hi-ml/src/health_ml/runner.py
Due: hi-ml

DOC: Remove retired argument names (#435)
  docs/source/panda_model.md
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/README.md
Due: hi-ml, hi-ml-histopathology

method that update slide results updated, tiles mthod to be refactored for homogeneity
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

add image encoder and utils
  multimodal/health_multimodal/unimodal/image/model.py
  multimodal/health_multimodal/unimodal/image/modules.py
Due: none

update the imports
  multimodal/health_multimodal/unimodal/image/model.py
Due: none

add file headers
  multimodal/health_multimodal/unimodal/image/model.py
  multimodal/health_multimodal/unimodal/image/modules.py
Due: none

pin the library versions
  multimodal/environment.yml
  multimodal/health_multimodal/unimodal/image/model.py
  multimodal/health_multimodal/unimodal/image/modules.py
Due: none

wip
  hi-ml-histopathology/.vscode/launch.json
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

wip + debugg
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

wip debug
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

seed workers
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

rebase
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

debug wip
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

ignore encoder and pooling
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

set seed
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-histopathology

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
