Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

Fix getting branch name
  .github/workflows/multimodal-pr.yml
Due: none

addressing some PR feedback, thanks @Kenza
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
Due: hi-ml, hi-ml-histopathology

Isolate parameterized cell
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

Revert "Introduce change not present in "main" to test CI"
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
Due: hi-ml

remove mountcontext
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

tiling script is updated
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/datasets/default_paths.py
  hi-ml-histopathology/src/histopathology/datasets/panda_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/README_slides_and_tiles.md
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/create_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

submodule commit test
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
Due: hi-ml, hi-ml-histopathology

DOC: Update documentation for hi-ml-multimodal
  docs/source/multimodal.md
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/README.md
  hi-ml-multimodal/package_description.md
Due: hi-ml

Update path to package description
  hi-ml-multimodal/setup.py
Due: hi-ml

Add missing period
  hi-ml-multimodal/README.md
Due: hi-ml

more changes
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
Due: hi-ml, hi-ml-histopathology

more feedback implemented
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

remove pip inclusion
  hi-ml/src/health_ml/runner.py
Due: hi-ml

debug settings
  hi-ml-histopathology/.vscode/launch.json
  hi-ml/.vscode/launch.json
Due: hi-ml, hi-ml-histopathology

debug settings
  hi-ml/.vscode/launch.json
Due: hi-ml

fixing current test plus update env
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-histopathology

fix flake8
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-histopathology

minor fixes
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

fixing issue with unexpcted batch size due to changes in MONAI dev
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

BUG: Fix demo notebook failing on PRs (#492)
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

Address Ozan's suggestions
  hi-ml-multimodal/README.md
Due: hi-ml

ENH: Add commit ID when downloading CXR-BERT model (#482)
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/text/data/test_text_io.py
  hi-ml-multimodal/test_multimodal/text/test_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

remove from models
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology

updated mounting instructions
  docs/source/histopathology.md
  docs/source/panda_model.md
  docs/source/public_datasets.md
Due: none

readme
  hi-ml-histopathology/README.md
Due: hi-ml, hi-ml-histopathology

Rephrase section on Hugging Face
  hi-ml-multimodal/README.md
Due: hi-ml

remove unsused string
  hi-ml-histopathology/src/histopathology/datasets/default_paths.py
Due: hi-ml, hi-ml-histopathology

cleanup of dataset constants
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/scripts/tcga_dataset_prep.py
Due: hi-ml, hi-ml-histopathology

exclude mypy cache
  hi-ml-azure/.vscode/settings.json
  hi-ml-histopathology/.vscode/settings.json
  hi-ml-multimodal/.vscode/settings.json
  hi-ml/.vscode/settings.json
  himl-projects.code-workspace
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

wip
  hi-ml/src/health_ml/__init__.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

change cwd
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

wip tests
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Exclude cache files from file watchers to speed up VSCode (#495)
  hi-ml-azure/.vscode/settings.json
  hi-ml-histopathology/.vscode/settings.json
  hi-ml-multimodal/.vscode/settings.json
  hi-ml/.vscode/settings.json
  himl-projects.code-workspace
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

ENH: Remove local dataset definitions from histopathology models (#494)
  docs/source/histopathology.md
  docs/source/panda_model.md
  docs/source/public_datasets.md
  hi-ml-histopathology/README.md
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datasets/default_paths.py
  hi-ml-histopathology/src/histopathology/scripts/tcga_dataset_prep.py
Due: hi-ml, hi-ml-histopathology

Revert "hardcode to float16"
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

get_datamodeule after setup
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

wip
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-histopathology

Highlight ECCV in citation section
  hi-ml-multimodal/README.md
Due: hi-ml

DOC: Update documentation for hi-ml-multimodal (#493)
  docs/source/multimodal.md
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/README.md
  hi-ml-multimodal/package_description.md
  hi-ml-multimodal/setup.py
Due: hi-ml

better doc string
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml
