Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

move setup out of fixture
  hi-ml-azure/testazure/conftest.py
  hi-ml-cpath/src/health_cpath/utils/__init__.py
  hi-ml-cpath/src/health_cpath/utils/package_setup.py
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/src/health_ml/utils/package_setup.py
  hi-ml/testhiml/conftest.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

flake8 fix
  hi-ml/testhiml/conftest.py
Due: hi-ml

add missing import
  hi-ml-cpath/testhisto/conftest.py
Due: hi-ml, hi-ml-cpath

reduce logging from azureml.dat
  hi-ml-azure/src/health_azure/package_setup.py
Due: hi-ml, hi-ml-azure

simplify logic
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

flake
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

diag
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

diag
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

recreate datamodule in case to reflect any changes after training
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

refactoring
  docs/source/checkpoints.md
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml, hi-ml-cpath

format
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

add ability to delete files right away
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

extra arg
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

ENH: Recreate datamodule for extra validation and inference (#721)
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

downloader function
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

better test
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

most tests in place
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

ENH: Add shadow workflow for hi-ml-pr (#595)
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr-shadow.yml
  .github/workflows/multimodal-pr.yml
Due: none

refactoring, DRY
  hi-ml-azure/src/health_azure/__init__.py
  hi-ml-azure/src/health_azure/package_setup.py
  hi-ml-cpath/src/health_cpath/utils/package_setup.py
  hi-ml/src/health_ml/utils/package_setup.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

renamed functions
  hi-ml-azure/src/health_azure/__init__.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/package_setup.py
  hi-ml-azure/testazure/conftest.py
  hi-ml-cpath/src/health_cpath/utils/__init__.py
  hi-ml-cpath/src/health_cpath/utils/package_setup.py
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/__init__.py
  hi-ml/src/health_ml/utils/package_setup.py
  hi-ml/testhiml/conftest.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

test fix
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🐛 Fix broken function calls
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Reduce logging noise in test suite (#718)
  hi-ml-azure/src/health_azure/__init__.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/package_setup.py
  hi-ml-azure/testazure/conftest.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/src/health_cpath/utils/__init__.py
  hi-ml-cpath/src/health_cpath/utils/package_setup.py
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/__init__.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/src/health_ml/utils/package_setup.py
  hi-ml/testhiml/conftest.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

tests
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

typo
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

update attention heatmap color map + add histogram plot of attention vals
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

add attention histogram plot
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

simplified trigger logic
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

flake, mypy
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

no borders
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

add tests
  hi-ml-cpath/testhisto/test_data/attention_histo/attention_histogram.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

test fix
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

fix typo
  hi-ml-azure/src/health_azure/package_setup.py
Due: hi-ml, hi-ml-azure

update tests
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/attention_histo/attention_histogram.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

use 2 rows
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
Due: hi-ml, hi-ml-cpath

add comments
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/attention_histo/attention_histogram.png
Due: hi-ml, hi-ml-cpath

🎨 Change JobStatus class to Enum
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

⚰️ Remove unused param
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

BUG: Fix broken `--azureml` flag (#709)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure
