Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

fix test
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

wip
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

mypy fix
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

PR comments
  docs/source/self_supervised_models.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-cpath/src/SSL/data/cxr_datasets.py
  hi-ml-cpath/src/SSL/data/datamodules.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

doc
  docs/source/histopathology.md
Due: none

Update Makefile to avoid repetition
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

ENH: Show run ID and prefix if no files are found
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

tiling script update
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

tiling script update
  hi-ml-cpath/src/health_cpath/preprocessing/README_slides_and_tiles.md
Due: hi-ml, hi-ml-cpath

ENH: Publishing the hi-ml-cpath package (#524)
  .github/workflows/cpath-pr.yml
  docs/source/histopathology.md
  docs/source/self_supervised_models.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-cpath/Makefile
  hi-ml-cpath/create_and_lock_environment.sh
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/setup.py
  hi-ml-cpath/src/SSL/configs/CRCK_SimCLRContainer.py
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml-cpath/src/SSL/configs/PANDA_SimCLRContainer.py
  hi-ml-cpath/src/SSL/data/cifar_datasets.py
  hi-ml-cpath/src/SSL/data/cxr_datasets.py
  hi-ml-cpath/src/SSL/data/datamodules.py
  hi-ml-cpath/src/health_cpath/datasets/dataset_return_index.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_crck_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/testSSL/testSSL/configs_for_tests.py
Due: hi-ml, hi-ml-cpath

group checkpoint options in a single argument
  docs/source/runner.md
  docs/source/self_supervised_models.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/conftest.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

doc
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

Use a more appropriate exception class
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

add checkpoints tests
  hi-ml/testhiml/conftest.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

Incorporate additional smoke tests in workflow
  .github/workflows/cpath-pr.yml
Due: none

Clear the top and bottom slides heaps after every validation epoch
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix problem with merged file
  .github/workflows/cpath-pr.yml
Due: none

debug worflow yaml
  .github/workflows/cpath-pr.yml
Due: none

debug inorkflow file
  .github/workflows/cpath-pr.yml
Due: none

enable <xxx_yyy>:<custom/path><file.ckpt> format
  docs/source/runner.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/conftest.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

wip tests
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

mock workspace
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

fix tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

reverst workspace for test_encoders
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

bug in workflow
  .github/workflows/cpath-pr.yml
Due: none

fix validation tests
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

patch get_worksapce twice
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Show run ID and prefix if no files are found (#528)
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

patch workspace
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

Apply suggestions from code review
  docs/source/runner.md
Due: none

state when tiling tcga-prad
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

fix tests and regex check + cached mock_run_id
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/conftest.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
Due: hi-ml, hi-ml-cpath

Update docs/source/runner.md
  docs/source/runner.md
Due: none

rename properties
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

rename property
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml
