Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

fix duplicates
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

explicit first
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add loss stats
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

global try catch
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml/src/health_ml/runner.py
Due: hi-ml

fix loss stats
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add smoke test
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

test duplicates
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

fix makefile
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

Update .github/workflows/cpath-pr.yml
  .github/workflows/cpath-pr.yml
Due: none

rank ascending true
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

loosen constraints
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

relaxing protobuf, removing duplication
  docs/source/amulet/environment.yml
  hi-ml/run_requirements.txt
Due: hi-ml

add tags to amulet job
  hi-ml/src/health_ml/runner.py
Due: hi-ml

update docs
  docs/source/amulet_overview.md
Due: none

update deprecated args
  hi-ml-cpath/amlt_singularity_cpath.yml
Due: hi-ml, hi-ml-cpath

add PR comments
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

refactor filenames
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

read ony loss and slide ids
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

WIP add PR comments
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

WIP add PR test comments
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

wip pr comments
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

MNT: Relax package constraints for AzureML libraries (#619)
  docs/source/amulet/environment.yml
  hi-ml-azure/run_requirements.txt
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-azure

upgrade himl
  hi-ml/environment.yml
Due: hi-ml

update test helper to new API
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

removing more outdated use
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

flake8
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

MNT: Update test helpers to work with latest AML package (#621)
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/environment.yml
Due: hi-ml, hi-ml-azure

ENH: Set additional tags to Amulet Jobs (#620)
  docs/source/amulet_overview.md
  hi-ml-cpath/amlt_singularity_cpath.yml
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-cpath

fix everything
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix typing
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

rename for clarity
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

Revert "flake8"
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

runs successfully in aml
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/environment.yml
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

add PR comments
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add tests for getting v2 inputs and outputs
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure
