Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

Update hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

rename n_columns
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

rename n_top_tiles
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

updat plot tests
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

custom outpuut dir
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

dl coverage file
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

fix xml not html
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

rename cov file
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

ssl encoder bug resolve
  hi-ml-histopathology/src/histopathology/configs/run_ids.py
  hi-ml-histopathology/src/histopathology/utils/layer_utils.py
Due: hi-ml, hi-ml-histopathology

comments
  docs/source/software_design_overview.md
Due: none

typo
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

add cohenkappa
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

latest himl changes and remove cohenkappa
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

Fix some mypy errors
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

update with reviews
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

Fix more mypy errors
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/src/health_ml/utils/split_dataset.py
Due: hi-ml

remove deprecated code
  hi-ml-histopathology/src/histopathology/utils/metrics_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_metrics_utils.py
Due: hi-ml, hi-ml-histopathology

Fix pyright errors
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Fix new mypy error
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-histopathology/testhisto/testhisto/utils/test_metrics_utils.py
Due: hi-ml, hi-ml-histopathology

rename params
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

update py.yml
  .github/workflows/histopathology-pr.yml
Due: none

STYLE: Fix some pre-commit errors (#403)
  .pre-commit-config.yaml
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/src/health_ml/utils/split_dataset.py
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

Start adding documentation on DSA deployment
  docs/source/dsa.md
  docs/source/index.rst
Due: none

fix subfigure axes
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

add checkout step
  .github/workflows/credscan.yml
Due: none

update to latest codeql-action versions
  .github/workflows/codeql-analysis.yml
  .github/workflows/credscan.yml
Due: none

ENH: Select top and bottom tiles on the fly (#388)
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/metrics_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/viz_utils.py
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_metrics_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

PR comments
  hi-ml-histopathology/src/histopathology/configs/run_ids.py
  hi-ml-histopathology/src/histopathology/models/encoders.py
  hi-ml-histopathology/src/histopathology/utils/layer_utils.py
Due: hi-ml, hi-ml-histopathology

update plot tests
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

update link
  README.md
Due: none

STYLE: Fix file without end line
  hi-ml-histopathology/testhisto/RegressionTestResults/SlidesPANDAImageNetMIL/HD_0e805b91-319d-4fde-8bc3-1cea3a6d08dd_0/OUTPUT/regression_metrics.json
Due: hi-ml, hi-ml-histopathology

update except
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

switch branch
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
Due: hi-ml, hi-ml-histopathology

fix merge
  hi-ml-histopathology/.vscode/launch.json
Due: hi-ml, hi-ml-histopathology

DOC: Update link to CONTRIBUTING (#408)
  README.md
Due: none

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
