Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

refactored
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

fix dataset file deletion
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

ENH: Add code to create montages from WSI (#787)
  .github/workflows/cpath-pr.yml
  build_requirements.txt
  docs/source/conf.py
  docs/source/cpath_scripts.rst
  docs/source/create_montage.rst
  docs/source/images/montage_from_dataset.png
  docs/source/images/montage_from_folder.png
  docs/source/index.rst
  docs/source/montage_creation.md
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_random_thumbs.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
  hi-ml-cpath/testhisto/test_data/montages/montage_with_masks.png
  hi-ml-cpath/testhisto/test_data/montages/montage_without_masks.png
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
  hi-ml-cpath/testhisto/testhisto/utils/utils_testhisto.py
Due: hi-ml, hi-ml-cpath

ENH: Add ability to choose a folder for upload to DSA (#796)
  docs/source/dsa.md
  docs/source/images/dsa_api_key.png
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

diag
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

cleanup
  docs/source/histoqc.md
Due: none

wip
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrix_foo.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/normalized_confusion_matrix_foo.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

add workspace config path
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

update docu
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

use workspace_config instead of workspace_config_path
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

configurable split
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

ENH: Add workspace config path to generate checkpoint URL script (#798)
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

MNT: Run multimodal CI every morning (#790)
  .github/workflows/multimodal-pr.yml
Due: none

flake8 error
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

ENH: Add an argument to specify split for DSA upload (#800)
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

modify readme
  docs/source/histoqc.md
Due: none

add modified histoqc config
  docs/source/histoqc.md
  hi-ml-cpath/src/health_cpath/preprocessing/histoqc/config_v2.1_modified.ini
Due: hi-ml, hi-ml-cpath

fix env dependencioes
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

delete redundant file
  hi-ml-cpath/src/health_cpath/preprocessing/histoqc/config_v2.1_modified.ini
Due: hi-ml, hi-ml-cpath

start histo workflow file
  docs/source/histo_workflow.md
Due: none

top heading
  docs/source/histo_workflow.md
Due: none

update readme
  docs/source/histoqc.md
Due: none

wip
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

wip timm
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

PR comments
  docs/source/histo_workflow.md
  docs/source/histoqc.md
Due: none

add swin encoder
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

remove openslide system install
  docs/source/histoqc.md
Due: none

ENH: Add instructions for HistoQC (#799)
  docs/source/histo_workflow.md
  docs/source/histoqc.md
  hi-ml-cpath/.vscode/launch.json
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/preprocessing/ndpi_to_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/preprocessing/crop_and_conversion.py
  hi-ml-cpath/src/health_cpath/preprocessing/ndpi_to_tiff_conversion.py
  hi-ml-cpath/src/health_cpath/scripts/convert_to_tiff.py
  hi-ml-cpath/src/health_cpath/utils/crop_conversion_config.py
Due: hi-ml, hi-ml-cpath

add projection layer
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

mypy fix
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix missing param
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

use dim projection as input dim for pooling layer
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

add relu activation to projection layer
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip add ctranspath
  hi-ml-cpath/src/health_cpath/models/ctranspath.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip add ctranspat models
  hi-ml-cpath/src/health_cpath/models/ctranspath.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

update encoder options
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath
