Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

add flag for intermediate outputs
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

set save_inter_ouputs to True by default
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

replace loggng.warning by print, PL only logs rank 0
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

upgrade aml
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

add PR comments - part1
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

clarify confusion with highest_level / PR comments - part 2
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

PR comments - part 3
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml/src/health_ml/utils/diagnostics.py
Due: hi-ml, hi-ml-cpath

wip trying to fix failing tests
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

remove f string flake8
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

correct docu and add strictly_aml_v1 to run_pytest command
  .github/workflows/cpath-pr.yml
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

swap log to leave more time for file to exist
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

try sleep
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

enable overriding tiling on teh fly steps
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

rename
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

correct parameter name
  hi-ml-cpath/src/SSL/configs/CIFAR_SSL_configs.py
Due: hi-ml, hi-ml-cpath

move sleep to test mock
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Revert "upgrade aml"
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

split workflows
  .github/workflows/cpath-pr.yml
Due: none

make target for GPU tests
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

fix condition for publish
  .github/workflows/cpath-pr.yml
Due: none

move package setup to utils folder
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml

reduce logging noise
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
Due: hi-ml, hi-ml-cpath

cancel previous runs
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  hi-ml-cpath/.vscode/launch.json
Due: hi-ml, hi-ml-cpath

handle exceptions when cancelling
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
Due: none

fix concurrency group
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

fix dependency graph
  .github/workflows/hi-ml-pr.yml
Due: none

change order to see if mock gets called
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-cpath

fix accidental update
  hi-ml-cpath/.vscode/launch.json
Due: hi-ml, hi-ml-cpath

ENH: Enable overriding tiling on the fly steps (#696)
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

comments
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

ENH: Improve PR workflows (#697)
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-cpath

typo
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

fo not set rank in test
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

remove unused import
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

commit
  .github/workflows/cpath-pr.yml
Due: none

work in progress
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

clean up readme
  new_project_template/package_description.md
Due: none

ENH: Clean up readme file in the template for new projects (#702)
  new_project_template/package_description.md
Due: none

moving download tests
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
