Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

flake
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

increase docker
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

complete run
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

🐛 Replace missing code, set `elevate_this` to v1
  hi-ml-azure/src/health_azure/examples/elevate_this.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

mock get_data
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

typing
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

adding test
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

fix pyright
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

code and tests
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

ENH: Add diagnostics tools (#695)
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml-cpath/src/SSL/configs/CIFAR_SSL_configs.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/utils/diagnostics.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix pyright
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml, hi-ml-azure

test fix
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

added the option to only tile a specific slide
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

fix typing
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

split logic for local and downloaded checkpoints
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

diagnostics
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

✅ Add test
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔥 Undo accidental change
  hi-ml-azure/src/health_azure/examples/elevate_this.py
Due: hi-ml, hi-ml-azure

ENH: Add logic to find recovery checkpoints for preempted runs (#705)
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml, hi-ml-azure

ENH: Add option to tile a single slide selected by slide id (#707)
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

👷 Add unique job names, remove shadow strategy flag
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr-shadow.yml
  .github/workflows/multimodal-pr.yml
Due: none

💚 Fix workflow dependencies
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

🔥 Remove un-needed dependencies
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/multimodal-pr-shadow.yml
Due: none

🚚 Rename shadow workflows
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/multimodal-pr-shadow.yml
Due: none

✅ Make test work again
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

add code for distributing job in AML v2
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

distribute for non hyperdrive v2 runs
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

⚡️ Remove azureml flag before submission
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

update tiff writer arguments
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
Due: hi-ml, hi-ml-cpath

BUG: Fix slow-path warning in tests that use MockPandaSlidesGenerator (#717)
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
Due: hi-ml, hi-ml-cpath

👷 🚧 Add final job to multimodal
  .github/workflows/multimodal-pr.yml
Due: none

🚧 👷 Add final jobs to other PR workflows
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr.yml
Due: none

💚 Correct hi-ml-pr job pre-requisites
  .github/workflows/hi-ml-pr.yml
Due: none

👷 Set to only trigger on PRs
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr.yml
Due: none

👷 Add shadow jobs
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/multimodal-pr-shadow.yml
Due: none

✨ Address PR comments
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr-shadow.yml
  .github/workflows/multimodal-pr.yml
Due: none

✨ Update submission to use get_script_params
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

refactoring of package setup
  hi-ml-azure/src/health_azure/__init__.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/package_setup.py
  hi-ml-azure/testazure/conftest.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/__init__.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/src/health_ml/utils/package_setup.py
  hi-ml/testhiml/conftest.py
Due: hi-ml, hi-ml-azure

conftest in cpath
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
