Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

doc
  docs/source/images/montage_from_folder.png
  docs/source/montage_creation.md
Due: none

change to ":" for displaying labels
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_with_masks.png
  hi-ml-cpath/testhisto/test_data/montages/montage_without_masks.png
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

flake
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

better IDs
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

successful pipeline job
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/.vscode/launch.json
Due: hi-ml, hi-ml-azure

switch to new IDs
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

update false
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

doc
  docs/source/images/montage_from_dataset.png
  docs/source/montage_creation.md
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

test fixes
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

test update
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

enable argparsers
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

MNT: Run CI every morning
  .github/workflows/multimodal-pr.yml
Due: none

add non normalized confusion matrix
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

♻️ Refactor get asset from config function
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

add scripts to docu
  build_requirements.txt
  docs/source/cpath_scripts.rst
  docs/source/create_montage.rst
  docs/source/index.rst
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

♻️ Remove repeated literals
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

♻️ Address PR comments
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🏷️ Pyright fixes
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

test fix
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

test and sphinx fix
  docs/source/conf.py
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

fix doc import
  docs/source/create_montage.rst
Due: none

test
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

more doc
  docs/source/montage_creation.md
Due: none

✅ Fix tests
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Enable User Identity for accessing data (#775)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

add test
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

handle None
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

🐛 Fix environment variable mis-ordering
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

✅ 🏷️ Fix typing and tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔥 Remove literal (not on 3.8 yet)
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

✅ Add ordering test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

♻️ Change assert to ValueError
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

PR comments
  docs/source/montage_creation.md
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
Due: hi-ml, hi-ml-cpath

pr comments
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

fixtures
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

PR comments and test
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/plot_roc_curve_stratify.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

PR comment repeated check
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath
