Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

super call
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-histopathology

numpy from conda
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

conda setup
  .github/workflows/histopathology-pr.yml
Due: none

use correct shell
  .github/workflows/histopathology-pr.yml
Due: none

primary deps
  hi-ml-histopathology/primary_deps.yml
Due: hi-ml, hi-ml-histopathology

stripped env
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

scikit-image fix
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

pyarrow 3
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

doc
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

rename chun_size
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_params.py
Due: hi-ml, hi-ml-histopathology

params clean up
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology

hardcode to float16
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

clean deepmil module
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

restrict CredScan action to cred scanning only
  .github/workflows/credscan.yml
Due: none

remove pysocks and dataset-runtime
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

issue with coordinnates being equal fixed
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

update with review comments
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_params.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_utils.py
  hi-ml-histopathology/src/histopathology/utils/download_utils.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

fix test
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

cleaning up checks no longer needed
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

leftover rfrom merge
  hi-ml-histopathology/.vscode/launch.json
Due: hi-ml, hi-ml-histopathology

working environment except dataset-runtime[fuse]
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

update with review comments
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_utils.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

fix mypy
  hi-ml-histopathology/src/histopathology/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-histopathology

flake8 fixes
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

fix tcga case
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-histopathology

mypy fixes
  hi-ml-histopathology/src/SSL/data/cxr_datasets.py
  hi-ml-histopathology/src/SSL/encoders.py
Due: hi-ml, hi-ml-histopathology

use credscan tools
  .github/workflows/credscan.yml
Due: none

test with microsoft policy
  .github/workflows/credscan.yml
Due: none

remove dataprep from run requirements
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

dummy change to trigger rebuild
  .github/workflows/histopathology-pr.yml
Due: none

BUG: Restrict CredScan action to credential scanning only (#490)
  .github/workflows/credscan.yml
Due: none

fix identityEncoder bug
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Reduce hyperparameters serialization time (#486)
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_utils.py
  hi-ml-histopathology/src/histopathology/utils/download_utils.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

Parameterize branch of argument to PIP
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

Remove "notebooks" target from Makefile
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/Makefile
Due: hi-ml

Pass branch name to demo notebook
  .github/workflows/multimodal-pr.yml
Due: none

Echo branch name
  .github/workflows/multimodal-pr.yml
Due: none

Run notebooks in new job
  .github/workflows/multimodal-pr.yml
Due: none

Add steps to check out repo and install Python
  .github/workflows/multimodal-pr.yml
Due: none

Introduce change not present in "main" to test CI
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
Due: hi-ml
