Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

🏷️ Fix mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

✅ Fix tests
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔊 Add logs
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

🚨 Fix pyright
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

clean up names
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

🐛 Fix bug + typo
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix doc
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Address PR comments
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

BUG: Fix create v2 asset bug (#772)
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Make display names a first class citizen (#774)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

Undo branch damage
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Trigger cpath smoke tests
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

fix missing displayname arg
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

tests
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

fix for v1 codepath
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix template
  hi-ml-azure/testazure/testazure/test_data/make_tests.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

template
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
Due: hi-ml, hi-ml-azure

Add hook to add trailing commas
  .pre-commit-config.yaml
Due: none

BUG: Display name is not respected when using SDK v2 (#776)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_data/make_tests.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

add ihc slide to attention heatmap
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

✨ Add datastore import
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

add itp config
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

add test for ihc heatmap
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay_ihc.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

final fixes
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

add intensity_threshold_scale param
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

update docsctring - pr comment
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Add intensity threshold scale argument (#779)
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

add roc curve plot
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

update docstring
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

remove status completed
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

add resubmit_crossval_child flag
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

rename ihc to extra
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay_extra.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

ctache keyerror
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

pr comments
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Add extra slides to attention heatmaps plots (#778)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay_extra.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

🔥 Remove v2 dataset command line args
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

fix bottom
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

BUG: Fix missing bottom coordinates in outputs csv (#784)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

🩹 Attempt to fix v2 output creation
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
