Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

Apply suggestions from code review
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

update doc
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

fix test discovery
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

DRY
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

BUG: Clear the top and bottom slides heaps after every validation epoch (#531)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

Update docs/source/runner.md
  docs/source/runner.md
Due: none

install hi-ml from source
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

update smoke test names
  .github/workflows/cpath-pr.yml
Due: none

update workflow
  .github/workflows/cpath-pr.yml
Due: none

update sys path in for loop
  hi-ml-cpath/testhisto/conftest.py
Due: hi-ml, hi-ml-cpath

add review comments
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

fix pyright
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

install hi-ml-azure from source
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

fix doc
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

use azureml_run_id
  docs/source/runner.md
Due: none

remove hi-ml condition and uninstall hi-ml and hi-ml-azure
  hi-ml-cpath/Makefile
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

move get_workspace under if statement
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

tcga prad notebooks update
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
Due: hi-ml, hi-ml-cpath

fix exist bug
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

fix resume
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

add logs for resuming training and inference only
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

fix chcekpoint loading
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

Final fix,
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

flake8
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

fix test_run
  hi-ml-cpath/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/preprocessing/README_slides_and_tiles.md
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

Revert "fix test_run"
  hi-ml-cpath/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/preprocessing/README_slides_and_tiles.md
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

fix test_run
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

after reviews
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

ENH: Update tcga_prad paths and remove 'slide_' (#533)
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml-cpath/src/health_cpath/preprocessing/README_slides_and_tiles.md
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

leave max_epochs as is, it's up to the user to figure out the right number of epochs to use
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

increase max_epochs
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

update docs
  docs/source/runner.md
Due: none

remove deprecated comment
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

ENH: Enable running inference-only with the hi-ml runner (#518)
  docs/source/runner.md
  docs/source/self_supervised_models.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/src/health_cpath/utils/download_utils.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/test_data/hello_world_checkpoint.ckpt
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Update CRCKSimCLR args
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

add new tiles dataset - v0
  hi-ml-cpath/src/health_cpath/datasets/tiles_dataset.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
