Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

pin azure packages
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

reset env to transfer_main
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

add smoke tests
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

dummy commit
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

add conda
  .github/workflows/cpath-pr.yml
Due: none

fix typo
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

add cache
  .github/workflows/cpath-pr.yml
Due: none

fix cache bug
  .github/workflows/cpath-pr.yml
Due: none

dummy change
  .github/workflows/cpath-pr.yml
Due: none

diagnostics
  .github/workflows/cpath-pr.yml
Due: none

remove smoke tests
  .github/workflows/cpath-pr.yml
Due: none

Update torchmetrics
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml/environment.yml
Due: hi-ml, hi-ml-cpath

manual activataion
  .github/workflows/cpath-pr.yml
Due: none

fix syntax error
  .github/workflows/cpath-pr.yml
Due: none

fix variables again
  .github/workflows/cpath-pr.yml
Due: none

move conda creation to action
  .github/actions/prepare_cpath_environment/action.yml
  .github/actions/prepare_smoke_test_environment/action.yml
  .github/workflows/cpath-pr.yml
Due: none

fix path ref
  .github/workflows/cpath-pr.yml
Due: none

add shell element
  .github/actions/prepare_cpath_environment/action.yml
Due: none

enable all workflows
  .github/workflows/cpath-pr.yml
Due: none

remove global env
  .github/workflows/cpath-pr.yml
Due: none

remove env
  .github/actions/prepare_cpath_environment/action.yml
Due: none

remove invalid ref
  .github/workflows/cpath-pr.yml
Due: none

Add unique job name
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Add params for submitting to singularity
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

Add display name and tags to job
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Add ability to submit hyperparameter search
  docs/source/hyperdrive.md
  docs/source/index.rst
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

Address PR comments
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

update docu
  docs/source/hyperparameter_search.md
Due: none

Typo
  docs/source/hyperparameter_search.md
Due: none

pyright
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

update test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

rename model_key
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

remove failing test
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

ENH: Enable hyperparameter search with AML SDK v2 (#650)
  docs/source/hyperparameter_search.md
  docs/source/index.rst
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

only change 1 package in hi-ml environment
  hi-ml/environment.yml
Due: hi-ml

fix missing import
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Add docker shm size
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure
