Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

test fixes
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

BUG: Misleading warnings when comparing metrics (#838)
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

rebase deepmil
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml

rebase poling
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml, hi-ml-cpath

wip test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

model variants
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

adding logs
  hi-ml-azure/src/health_azure/logging.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

ENH: Allow variants of model parameters in the same class (#840)
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

import fix
  hi-ml/src/health_ml/runner.py
Due: hi-ml

update docstrings in image encoder
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

docstring updates - PR comments
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

test bug fix
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
Due: hi-ml, hi-ml-multimodal

remove the cls token
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
Due: hi-ml, hi-ml-multimodal

PR comments
  hi-ml-azure/src/health_azure/logging.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

remove post_init method
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

code readability
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

update encoder output type
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

switch from strings to enums to specify image encoder types
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

change the naming of encoder input variable
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

update the naming from image model type to image encoder type
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hi-ml-multimodal/test_multimodal/image/test_image_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml, hi-ml-multimodal

end to end test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

reset auto formatting
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

add test encoders
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

typo
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

PR comments
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

fiix tests
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

ENH: Enable activation checkpointing for Resnet and SwinTransformer (#842)
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

refactor swin t checkpointing
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

fix typing
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

add image size check
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

fix typo
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

clean docu
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

enable overriding encoder params class
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

now capture also stdout
  hi-ml-azure/src/health_azure/logging.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-azure

fixes and mypy
  hi-ml-azure/src/health_azure/logging.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-azure

msg
  hi-ml/src/health_ml/runner.py
Due: hi-ml

fix exception handling
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
