Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

BUG: Cast binary labels into integers. (#583)
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

update scriptrunconfig with aisupercomputer details
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/primary_deps.yml
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

adding stage to figures
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

fix best checkpoint name
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

add best_epoch log
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

update log
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

update himl to submit aisupercomputer jobs
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

ENH: Log epoch of best checkpoint (#584)
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-cpath

fixing typo iin string
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

Update hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

Update hi-ml/src/health_ml/utils/logging.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml

adding tests
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

avoiding hard-coded string
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

fixing smoke test
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-cpath

Update hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

typo
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Clarify some comments
  docs/source/runner.md
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

PR feedback
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

fixing typo in test
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

f8
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Adding PR curve plot for val and test for single fold (#585)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

Upgrade linting packages
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

Update mccabe version
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

Update pycodestyle version
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

Update astroid version
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

Update pylint version everywhere
  hi-ml-cpath/requirements_test.txt
  new_project_template/requirements_test.txt
  test_requirements.txt
Due: hi-ml, hi-ml-cpath

MNT: Hotfix for incompatible linting packages (#586)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_test.txt
  new_project_template/requirements_test.txt
  test_requirements.txt
Due: hi-ml, hi-ml-cpath

stain normalization for multiple images
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml

test stain normalization
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

Able to submit to Singularity but env image doesnt build
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

fix pyright errors
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix test failure
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Enable stain normalization for multiple images (#587)
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

adding grad accumulation to trainer params
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

Update env var settings for multi node
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Apply suggestions from code review
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Address PR comments
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure
