Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

test fix
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

diag
  hi-ml-azure/src/health_azure/auth.py
Due: hi-ml, hi-ml-azure

print to console
  hi-ml-azure/Makefile
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

only run single test
  hi-ml-azure/Makefile
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

use different container
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix test
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Revert "use different container"
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

disable wheel
  .github/workflows/hi-ml-pr.yml
Due: none

mypy
  hi-ml-cpath/src/SSL/data/image_transforms.py
Due: hi-ml, hi-ml-cpath

fix syntax
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

script and doc
  hi-ml-azure/Makefile
  hi-ml-azure/README.md
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

doc
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

cleanup
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

fix upload of wheels
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

limit pip version
  Makefile
Due: none

undo pytest
  .github/workflows/hi-ml-pr.yml
  hi-ml-azure/Makefile
Due: hi-ml, hi-ml-azure

undo debug changes
  Makefile
  hi-ml-azure/Makefile
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

skipping distributed tests
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

skip hanging tests
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

disable more distributed
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

revert unnecessary code
  README.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

don't set storage account
  hi-ml-cpath/testhisto/conftest.py
  setup/mount_datastores.sh
  setup/mount_utils.sh
Due: hi-ml, hi-ml-cpath

openai env
  create_and_lock_environment.sh
  hi-ml-azure/Makefile
  hi-ml-azure/environment_openai.yml
  hi-ml-azure/primary_deps_openai.yml
Due: hi-ml, hi-ml-azure

script
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

input and output
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

rename and doc
  hi-ml-azure/Makefile
  hi-ml-azure/README.md
  hi-ml-azure/environment_hello_world.yml
  hi-ml-azure/hello_world.py
  hi-ml-azure/primary_deps_hello_world.yml
Due: hi-ml, hi-ml-azure

fix and error handling
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

fix auth
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

syntax
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

refactor
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

disabling two tests
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Revert "disabling two tests"
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

ENH: Changes after removing storage account access keys (#946)
  .github/workflows/hi-ml-pr.yml
  Makefile
  hi-ml-azure/.vscode/launch.json
  hi-ml-azure/Makefile
  hi-ml-azure/pytest.ini
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/SSL/data/image_transforms.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/utils_testhisto.py
  hi-ml/testhiml/testhiml/test_runner.py
  setup/mount_datastores.sh
  setup/mount_utils.sh
  setup/prepare_blobfuse_installation.sh
Due: hi-ml, hi-ml-azure, hi-ml-cpath

handle file datasets
  hi-ml-azure/hello_world.py
Due: hi-ml, hi-ml-azure

fix torch rank
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Update utils.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Add return statement
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Add parenthesis
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

ENH: Add a "hello world" test script (#948)
  create_and_lock_environment.sh
  hi-ml-azure/Makefile
  hi-ml-azure/README.md
  hi-ml-azure/environment_hello_world.yml
  hi-ml-azure/hello_world.py
  hi-ml-azure/primary_deps_hello_world.yml
Due: hi-ml, hi-ml-azure
