Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

test fix
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

use property for job submission
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

logging cleanup
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

test for resolve_workspace_config
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

flake
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

adding tests for get_ml_client
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

fix weights transfer
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix class weights
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix outdated call syntax
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

fix typo in property
  hi-ml/src/health_ml/runner.py
Due: hi-ml

MLClient in workspace wrapper
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

tests
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

mypy
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

ENH: Add tests for use of checkpoints in inference_only mode (#876)
  hi-ml/.vscode/settings.json
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

cleanup of local mounting codepath
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

fix patch problem
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

FRY
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

signature update
  hi-ml-cpath/src/health_cpath/scripts/mount_azure_dataset.py
  hi-ml-cpath/testhisto/testhisto/mocks/utils.py
Due: hi-ml, hi-ml-cpath

correcting patching
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

test cleanup
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

adding tests for crossval
  .github/workflows/hi-ml-pr.yml
  hi-ml/Makefile
Due: hi-ml

fix yaml
  .github/workflows/hi-ml-pr.yml
Due: none

try fixing shm_size
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

add memory stats
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_common_utils.py
Due: hi-ml

tests
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

mypy
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml

use memory check model for smoktests
  hi-ml/Makefile
Due: hi-ml

Fix empty list of script params not used
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

docker memory
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_common_utils.py
Due: hi-ml

FIX: Fix empty list of script params not used (#881)
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

tests and use in test model
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_common_utils.py
Due: hi-ml

Stop replacing dashes with underscores in experiment name
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Edit test to check new functionality
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Fix env variables not passed to AML SDK v2 job
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Add unit test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Add parameter to submit_run_v2
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Fix submission test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure
