Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

deprecate val_set_is_dist
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

switching to py 3.9
  hi-ml/primary_deps.yml
Due: hi-ml

fix imports and linting
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

🚨 Fix mypy
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

switch to cpath environment
  hi-ml/Makefile
Due: hi-ml

pipeline completes only when smoke tests pass
  .github/workflows/hi-ml-pr.yml
Due: none

✅ Add additional test case to create_v2 test
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

separate smoke tests
  .github/actions/prepare_himl_python_env/action.yml
  .github/workflows/hi-ml-pr.yml
Due: none

yaml fix
  .github/workflows/hi-ml-pr.yml
Due: none

add mising name
  .github/workflows/hi-ml-pr.yml
Due: none

add v2 MPI config
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix condition
  .github/workflows/hi-ml-pr.yml
Due: none

fix checkout error
  .github/actions/prepare_himl_python_env/action.yml
  .github/workflows/hi-ml-pr.yml
Due: none

add missing shell
  .github/actions/prepare_himl_python_env/action.yml
Due: none

fix single node job
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix environment creation
  hi-ml/environment.yml
  hi-ml/primary_deps.yml
  hi-ml/run_requirements_pinned.txt
Due: hi-ml

use new env
  hi-ml/Makefile
Due: hi-ml

fix distrib v2 jobs
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔥 Remove shadow PR files
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/multimodal-pr-shadow.yml
Due: none

ENH: Use UnrepeatedDistributedSampler for validation and test (#743)
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

undo env changes
  hi-ml/environment.yml
  hi-ml/primary_deps.yml
  hi-ml/run_requirements_pinned.txt
Due: hi-ml

old env
  hi-ml/environment.yml
Due: hi-ml

swtich to cpath env
  hi-ml/Makefile
Due: hi-ml

mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

missing env lines
  hi-ml/environment.yml
Due: hi-ml

⬇️ Downgrade + meddle with governance cache
  docs/source/amulet/environment.yml
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml/environment.yml
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath

doc update
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure

Add bumpversion config
  hi-ml-multimodal/.bumpversion.cfg
Due: hi-ml, hi-ml-multimodal

test fix
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Add bump2version to requirements
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml, hi-ml-multimodal

Add make commands to bumpversion
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

BUG: Training HelloWorld using AML v2 SDK hangs (#741)
  .github/actions/prepare_himl_python_env/action.yml
  .github/workflows/hi-ml-pr.yml
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/Makefile
  hi-ml/primary_deps.yml
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

Disable tagging in config
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

Add __init__ to config
  hi-ml-multimodal/.bumpversion.cfg
Due: hi-ml, hi-ml-multimodal

Bump version: 0.1.1 → 0.1.2
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

remove duplidcate code
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

simplified imports
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

gaussian blur correct usage and stain normalization
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
