Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

Address more PR comments
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

Improve test coverage
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

PR comments
  docs/source/runner.md
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml

ENH: Enable logging to AzureML when running training outside AzureML (#580)
  docs/source/runner.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure

cpath on 3.9
  .github/workflows/cpath-pr.yml
Due: none

add dataset-runtime package
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

add dropout to transformer pooling layers
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
  hi-ml/testhiml/testhiml/test_attentionlayers.py
Due: hi-ml, hi-ml-cpath

undo all accidents
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/.mypy.ini
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

upgrade to new numpy
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

make default values consistent
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml, hi-ml-cpath

update defaults
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml, hi-ml-cpath

azureml back to 1.43
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

numpy back to 1.22
  hi-ml-cpath/condaenv._xyculws.requirements.txt
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

add test for transformerpoolingbenchmark
  hi-ml/testhiml/testhiml/test_attentionlayers.py
Due: hi-ml

fix attrs problem
  hi-ml-cpath/condaenv._xyculws.requirements.txt
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

delete temp file
  hi-ml-cpath/condaenv._xyculws.requirements.txt
Due: hi-ml, hi-ml-cpath

PR comments
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

add condition
  hi-ml/testhiml/testhiml/test_attentionlayers.py
Due: hi-ml

pin azure-mgmt-core
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

downgrade mgt-core
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

update env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

FIX: Update env var settings for multi node (#588)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

update
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

move setuptools to old version
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

replace dataset name enum with constants
  docs/source/self_supervised_models.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-cpath/src/SSL/configs/CRCK_SimCLRContainer.py
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml-cpath/src/SSL/configs/PANDA_SimCLRContainer.py
  hi-ml-cpath/src/SSL/lightning_containers/ssl_container.py
  hi-ml-cpath/testSSL/testSSL/configs_for_tests.py
  hi-ml-cpath/testSSL/testSSL/test_data_modules.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/SSL/lightning_containers/ssl_container.py
  hi-ml-cpath/testSSL/testSSL/configs_for_tests.py
Due: hi-ml, hi-ml-cpath

update to python 3.9.13
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

PR comment kwargs
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

PR comment insinstance and separate transformer pooling tests
  hi-ml/testhiml/testhiml/test_attentionlayers.py
Due: hi-ml

PR comment transformer dropout
  hi-ml/testhiml/testhiml/test_attentionlayers.py
Due: hi-ml

ENH: Dropout in transformer layers in DeepMIL (#590)
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
  hi-ml/testhiml/testhiml/test_attentionlayers.py
Due: hi-ml, hi-ml-cpath

adding test
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

Update doc in deep_learning_config.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

ENH: Upgrade hi-ml-cpath to Python 3.9 (#589)
  .github/workflows/cpath-pr.yml
  docs/source/self_supervised_models.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/.mypy.ini
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/SSL/configs/CRCK_SimCLRContainer.py
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml-cpath/src/SSL/configs/PANDA_SimCLRContainer.py
  hi-ml-cpath/src/SSL/data/cxr_datasets.py
  hi-ml-cpath/src/SSL/encoders.py
  hi-ml-cpath/src/SSL/lightning_containers/ssl_container.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/testSSL/testSSL/configs_for_tests.py
  hi-ml-cpath/testSSL/testSSL/test_data_modules.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix string length
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

ENH: Adding gradient accumulation flag to trainer (#592)
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

Add shadow worflow for hi-ml-pr
  .github/workflows/hi-ml-pr-shadow.yml
Due: none

deliberately fail test to check if merge is blocked
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

Add more shadow workflow files
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/multimodal-pr-shadow.yml
Due: none

Dont specify Docker
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
