Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

ENH: Turn on mixed precision training by default (#496)
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml/.vscode/launch.json
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-histopathology

Prepare codebase for image model release
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/common/visualization.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/src/health_multimodal/vlp/__init__.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Fix interpolation mode
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

Fix circular imports
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
Due: hi-ml

Address reviewers' comments
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
Due: hi-ml

improve setup
  docs/source/azure_setup.md
Due: none

add permissions
  docs/source/azure_setup.md
Due: none

readme
  docs/source/histopathology.md
Due: none

Improve documentation for get_similarity_map_from_raw_data
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Address comments on image module
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/image/utils.py
Due: hi-ml

cleanup
  docs/source/azure_setup.md
Due: none

cluster setup
  docs/source/azure_setup.md
Due: none

Add URL to image model weights
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml

Fix function name
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
Due: hi-ml

Support passing the weights path as Path
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml

Select device dynamically
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml

update hf paths
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
Due: hi-ml

Fix mypy error
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Update docs/source/azure_setup.md
  docs/source/azure_setup.md
Due: none

unified the spelling of command-line
  docs/source/azure_setup.md
Due: none

Fix alignment mode error when using NN interpolation
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Fix link to model weights
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
Due: hi-ml

fix all tests
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix tests
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

Load weights on CPU and choose device in notebook
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/text/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Use same tag for text and image models
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml

Add missing return type
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Remove unused attribute
  hi-ml-multimodal/src/health_multimodal/text/inference_engine.py
Due: hi-ml

ENH: Prepare codebase for image model release (#497)
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/common/visualization.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/text/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/src/health_multimodal/vlp/__init__.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

remove scope module for fixture ml_runner_with_container
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

rephrase
  docs/source/azure_setup.md
Due: none

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
