Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

ignore mypy
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
Due: hi-ml, hi-ml-histopathology

multiclass metrics and confusion matrix
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
  hi-ml-histopathology/src/histopathology/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-histopathology

draft WSIDataset
  hi-ml-histopathology/src/histopathology/datasets/base_wsi_dataset.py
Due: hi-ml, hi-ml-histopathology

ENH: Run WSI pipeline without a fixed tile_count (#365)
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
  hi-ml-histopathology/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Add pre-commit (#371)
  .pre-commit-config.yaml
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/requirements_test.txt
  test_requirements.txt
Due: hi-ml, hi-ml-histopathology

refactoring remove unnecessary enum
  hi-ml-histopathology/src/histopathology/utils/metrics_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_metrics_utils.py
Due: hi-ml, hi-ml-histopathology

remove extra import
  hi-ml-histopathology/src/histopathology/utils/metrics_utils.py
Due: hi-ml, hi-ml-histopathology

confusion matrix
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
  hi-ml-histopathology/src/histopathology/utils/analysis_plot_utils.py
  hi-ml-histopathology/src/histopathology/utils/report_utils.py
Due: hi-ml, hi-ml-histopathology

PR comments
  docs/source/coding_guidelines.md
Due: none

break it down
  docs/source/coding_guidelines.md
Due: none

path fix
  himl-projects.code-workspace
Due: none

wip
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

removing string styles
  docs/source/coding_guidelines.md
Due: none

wip v1
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

DOC: Extend coding guidelines (#298)
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
  docs/Makefile
  docs/source/coding_guidelines.md
  docs/source/developers.md
  docs/source/index.rst
  docs/source/whole_slide_images.md
Due: none

refactor save_output_tiles
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

linting
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-histopathology

fix bugs
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/viz_utils.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

working report
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
  hi-ml-histopathology/src/histopathology/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-histopathology

log metrics only at epoch end
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

fix key error
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

remove print
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
  hi-ml-histopathology/src/histopathology/utils/report_utils.py
Due: hi-ml, hi-ml-histopathology

fix all small bugs
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

✅ Fixing paths for tests
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

📝 Update docstrings
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

⚡️ ♻️ Update based on review comments
  docs/source/examples.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

📝 Fit summary onto one line
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

♻️ 💡 Make more review improvements
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🚨 Fix linting
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

✨ Add log text reader function
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Add log text reader function (#367)
  docs/source/examples.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix typo
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

rename att_scores
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

still to be tested, switching branch
  hi-ml-histopathology/src/histopathology/datasets/base_wsi_dataset.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

quality code
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

find class names from json
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
  hi-ml-histopathology/src/histopathology/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-histopathology

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
