Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

disable flaky test
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

ENH: Make logging consistent (#921)
  hi-ml-azure/src/health_azure/amulet.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/himl_tensorboard.py
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/src/health_azure/paths.py
  hi-ml-azure/src/health_azure/traverse.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

running
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

fix fast tests
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

add test
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

fix test
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

ENH: Add AzureCLI authentication for SDK v1 codepath (#922)
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

relax
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

ENH: Relax package requirements for hi-ml-azure (#924)
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

swith to OIDC
  .github/actions/azure-login/action.yml
  .github/actions/cancel_azureml_jobs/azureml-env.yml
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr.yml
Due: none

permissions
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

test fixes
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

sync time
  .github/actions/azure-login/action.yml
Due: none

missing login
  .github/workflows/hi-ml-pr.yml
Due: none

try always instantiate workspace
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

add refresh time
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

authenticate later
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

Add matplotlib requirement
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

Fix transformers errors
  hi-ml-multimodal/src/health_multimodal/text/model/modelling_cxrbert.py
Due: hi-ml, hi-ml-multimodal

get access tokens
  .github/actions/azure-login/action.yml
Due: none

one more scope
  .github/actions/azure-login/action.yml
Due: none

change scope
  .github/actions/azure-login/action.yml
Due: none

MNT: Update `hi-ml-multimodal` (#928)
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
  hi-ml-multimodal/src/health_multimodal/text/model/modelling_cxrbert.py
Due: hi-ml, hi-ml-multimodal

MNT: Bump hi-ml-multimodal version: 0.2.1 → 0.2.2
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

add all scope back
  .github/actions/azure-login/action.yml
Due: none

Fix command when dist dir is missing
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

use scope
  hi-ml-azure/src/health_azure/auth.py
Due: hi-ml, hi-ml-azure

ignore mypy odd error
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-multimodal

type annot
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-multimodal

raise on github
  hi-ml-azure/src/health_azure/auth.py
Due: hi-ml, hi-ml-azure

fix test
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

import cleanup
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

pipeline faster
  .github/workflows/hi-ml-pr.yml
Due: none

fetch token in background
  .github/actions/azure-login/action.yml
Due: none

doc
  .github/actions/azure-login/action.yml
Due: none

undo workspace refresh
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Update README.md
  README.md
Due: none

PR comments
  .github/workflows/hi-ml-pr.yml
  hi-ml-azure/src/health_azure/auth.py
Due: hi-ml, hi-ml-azure

MNT: Upgrade to password-free authentication (#925)
  .github/actions/azure-login/action.yml
  .github/actions/cancel_azureml_jobs/azureml-env.yml
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  .github/workflows/multimodal-pr.yml
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-azure, hi-ml-multimodal

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
