Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

ENH: Simplify publishing workflow by using a single PyPi token (#510)
  .github/workflows/hi-ml-pr.yml
Due: none

Update docs/source/azure_setup.md
  docs/source/azure_setup.md
Due: none

DOC: Improve Azure setup instructions (#507)
  docs/source/azure_setup.md
Due: none

agent upgrade
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
  .github/workflows/multimodal-pr.yml
  new_project_template/new-project-pr.yml
Due: none

downgrade to ubuntu 20 because of test failures
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
  .github/workflows/multimodal-pr.yml
  new_project_template/new-project-pr.yml
Due: none

manual changes in strings
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/README.md
  hi-ml-histopathology/other/slide_image_loading/src/Histopathology/preprocessing/create_tiles_dataset.py
  hi-ml-histopathology/other/slide_image_loading/src/profile_load_image.py
  hi-ml-histopathology/src/health_cpath/utils/output_utils.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-histopathology

rename workflow
  .github/workflows/cpath-pr.yml
Due: none

update references to old top-level folder
  .amlignore
  .codecov.yml
  .github/workflows/cpath-pr.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/source/conf.py
  docs/source/debugging.md
  docs/source/developers.md
  docs/source/dsa.md
  docs/source/histopathology.md
  docs/source/panda_model.md
  docs/source/public_datasets.md
  docs/source/ssl_on_tile_dataset.md
  docs/source/whole_slide_images.md
  hi-ml-azure/run_pytest.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/README.md
  hi-ml/src/health_ml/runner.py
  himl-projects.code-workspace
Due: hi-ml, hi-ml-azure

Use more descriptive step name
  .github/workflows/multimodal-pr.yml
Due: none

fix PR workflow
  .github/workflows/cpath-pr.yml
Due: none

BUG: Plot conf matrix when not all labels present (#509)
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

missing renames
  docs/source/conf.py
  docs/source/histopathology.md
  docs/source/panda_model.md
  docs/source/runner.md
  docs/source/ssl_on_tile_dataset.md
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml

ENH: Upgrade Github runner OS from Ubuntu 18 to Ubuntu 20 (#511)
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
  .github/workflows/multimodal-pr.yml
  new_project_template/new-project-pr.yml
Due: none

Add more categories in PR titles
  docs/source/coding_guidelines.md
Due: none

Remove Style
  .github/workflows/check-pr-title.yml
Due: none

removed dublicated code
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/create_tiles_dataset.py
  hi-ml-histopathology/testhisto/testhisto/preprocessing/test_tiling.py
Due: hi-ml, hi-ml-histopathology

flake8
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

cleaned up test
  hi-ml-histopathology/testhisto/testhisto/preprocessing/test_tiling.py
Due: hi-ml, hi-ml-histopathology

added cucim work around
  hi-ml-histopathology/src/histopathology/preprocessing/loading.py
Due: hi-ml, hi-ml-histopathology

move test to gpu because of cucim
  hi-ml-histopathology/src/histopathology/preprocessing/loading.py
  hi-ml-histopathology/testhisto/testhisto/preprocessing/test_generate_slide_tiles.py
Due: hi-ml, hi-ml-histopathology

test
  hi-ml-histopathology/src/histopathology/preprocessing/loading.py
Due: hi-ml, hi-ml-histopathology

wip add ckpt_run_id
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/src/health_cpath/utils/download_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml, hi-ml-azure

make test gpu only
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_generate_slide_tiles.py
Due: hi-ml

ENH: Update PR titles to include more tags (#505)
  .github/workflows/check-pr-title.yml
  docs/source/coding_guidelines.md
Due: none

DOC: Use imperative for PR title in guidelines
  docs/source/coding_guidelines.md
Due: none

update readme for gpu test
  hi-ml-cpath/README.md
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_generate_slide_tiles.py
Due: hi-ml

update readme for gpu test
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_generate_slide_tiles.py
Due: hi-ml

added original function because of cucim nightmare
  hi-ml-cpath/src/health_cpath/preprocessing/create_panda_tiles_dataset.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_generate_slide_tiles.py
Due: hi-ml

add run_inference_only flag
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

enforce assertion
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

load right checkpoints
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix tests
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
