Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

hot fix
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

wip depend
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

squeenze first dim only
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

avoid double indexing
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

update comment
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

fix squeezing
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Run an additional validation epoch at the end of training. (#465)
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-histopathology

wip refactoring
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

slowly updating the create tiles dataset script
  hi-ml-histopathology/src/histopathology/datasets/tcga_prad_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

remove prints
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

changed all paths
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datasets/default_paths.py
  hi-ml-histopathology/src/histopathology/datasets/panda_tiles_dataset.py
  hi-ml-histopathology/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

removed logging
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

fix warnings
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

rebase env name
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

unpin msrest
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/tree.txt
Due: hi-ml, hi-ml-histopathology

Revert "unpin msrest"
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/tree.txt
Due: hi-ml, hi-ml-histopathology

unpin msrest
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

add conda_update recipe to makefile
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/README.md
Due: hi-ml, hi-ml-histopathology

update jupyter-client and add --prune
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

ENH: Add flake8 requirement to histology Conda environment (#454)
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

ENH: Update azureml packages versions. (#477)
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/README.md
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

add hf revision and unify calls
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/text/data/test_text_io.py
  hi-ml-multimodal/test_multimodal/text/test_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

add missing header template
  hi-ml-multimodal/src/health_multimodal/text/utils.py
Due: hi-ml

Minor changes
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
Due: hi-ml

Fix text imports
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
Due: hi-ml

add a commit tag instead of hash since our CI cannot differentiate str from passcode
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
Due: hi-ml

changes to histo folder
  .github/workflows/histopathology-pr.yml
  hi-ml-histopathology/environment.yml
  hi-ml-multimodal/.mypy.ini
Due: hi-ml, hi-ml-histopathology

fix mypy issue
  hi-ml-histopathology/.mypy.ini
  hi-ml-multimodal/.mypy.ini
Due: hi-ml, hi-ml-histopathology

working environment
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

numpy to 1.23.0 because of wheel building
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

refactor params
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/deepmil_params.py
Due: hi-ml, hi-ml-histopathology

wip fix broken tests
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

add copyrights
  hi-ml-histopathology/src/histopathology/utils/deepmil_params.py
Due: hi-ml, hi-ml-histopathology

ignore mypy
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

fix tests
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

remove pass
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-histopathology
