Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

doc and mypy
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml

diag
  hi-ml/src/health_ml/runner.py
Due: hi-ml

use local rank
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Adding node
  hi-ml/src/health_ml/runner.py
Due: hi-ml

doc
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml

extend the tests to use option
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
Due: hi-ml, hi-ml-multimodal

flake fix
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
Due: hi-ml, hi-ml-multimodal

naming of image model outputs
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
Due: hi-ml, hi-ml-multimodal

PR comments - testing encoders
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
Due: hi-ml, hi-ml-multimodal

disable the torch hub test since we require hi-ml-multimodal package
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

update the docstrings to address the PR comments
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
Due: hi-ml, hi-ml-multimodal

Update docstring - flatten patch embeddings
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
Due: hi-ml, hi-ml-multimodal

ENH: Add BioViL-T image and text encoders (#830)
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/src/health_multimodal/common/device.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hi-ml-multimodal/test_multimodal/image/test_image_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml, hi-ml-multimodal

consume biovil-t weights
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml, hi-ml-multimodal

import biovil-t text model
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hi-ml-multimodal/test_multimodal/text/test_inference_engine.py
Due: hi-ml, hi-ml-multimodal

add inference engine for biovil-t bert
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/text/data/test_text_io.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml, hi-ml-multimodal

consume the biovil-t in notebook and update the inference engine helper functions
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

refactored and tests
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

more tests
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

mypy
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

changed test to work around pathlib problem
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

fix incorrect type annotations
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

ENH: Add log files to AzureML runs to identify preemption (#841)
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

MNT: Fix incorrect type annotations (#846)
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

ENH: Refactor Swin Transformer checkpointing (#843)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix flake8 errors
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-multimodal

fix pytest error
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml, hi-ml-multimodal

PR comments - renaming variable
  hi-ml-multimodal/test_multimodal/text/test_inference_engine.py
Due: hi-ml, hi-ml-multimodal

add display name
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

ENH: Add display name to montage script (#847)
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

fix the example in notebook and add bounding boxes
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/requirements_test.txt
  hi-ml-multimodal/src/health_multimodal/common/visualization.py
  hi-ml-multimodal/test_multimodal/common/test_visualization.py
Due: hi-ml, hi-ml-multimodal

update the notebook
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml, hi-ml-multimodal

finalise the notebook
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

fix the test error
  hi-ml-multimodal/test_multimodal/common/test_visualization.py
Due: hi-ml, hi-ml-multimodal

add copyright and remove temporary code from the notebook
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/test_multimodal/common/test_visualization.py
Due: hi-ml, hi-ml-multimodal

Update README after BioViL-T
  hi-ml-multimodal/README.md
Due: hi-ml, hi-ml-multimodal

Apply suggestions from review
  hi-ml-multimodal/README.md
Due: hi-ml, hi-ml-multimodal

Use single line for authors section
  hi-ml-multimodal/README.md
Due: hi-ml, hi-ml-multimodal

DOC: Update README after BioViL-T (#848)
  hi-ml-multimodal/README.md
Due: hi-ml, hi-ml-multimodal

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
