Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

♻️ Address PR comments
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

🐛 Fix unbound variable
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

adding docker base arg
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

MNT: Remove duplicate code (#751)
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/lightning_loggers.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Deprecate val_set_is_dist (#754)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Output the slowest tests (#762)
  hi-ml-azure/Makefile
  hi-ml-cpath/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-cpath

BUG: SDK v2 datasets are not passed to AML correctly (#758)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

add end_trainin test
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

PR comments
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

change any with callable
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
Due: hi-ml, hi-ml-cpath

refactor transforms
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml, hi-ml-cpath

ENH: Gaussian blur and pre-processing transforms in SSL (#752)
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml, hi-ml-cpath

Update hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

add level to print_message_with_rank_pid
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-azure

rename old_environ
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

PR comments
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

wip fix outputs gathering
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

BUG: Gather results causes OOM for very large bag_size (#765)
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Enable distributed inference (#761)
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure

bug fix and SDK upgrade
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/environment.yml
  hi-ml/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

test fix
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Unpin dependencies and refactor packaging
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/.mypy.ini
  hi-ml-multimodal/MANIFEST.in
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/README.md
  hi-ml-multimodal/environment.yml
  hi-ml-multimodal/pyproject.toml
  hi-ml-multimodal/requirements_build.txt
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/requirements_test.txt
  hi-ml-multimodal/setup.cfg
  hi-ml-multimodal/setup.py
Due: hi-ml, hi-ml-multimodal

Fix Python version on CI
  .github/workflows/multimodal-pr.yml
Due: none

Fix extra dependencies
  hi-ml-multimodal/setup.cfg
Due: hi-ml, hi-ml-multimodal

Fix RTD requirements
  readthedocs_requirements.txt
Due: none

Add matplotlib to dependencies
  hi-ml-multimodal/setup.cfg
Due: hi-ml, hi-ml-multimodal

Fix mypy error
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml, hi-ml-multimodal

Fix flake8 config error
  hi-ml-multimodal/.flake8
Due: hi-ml, hi-ml-multimodal

BUG: Jobs on Kubernetes compute don't see GPUs (#769)
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/environment.yml
  hi-ml/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

🔥 Removing broken/impossible v2 test
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🚨 Fix syntax
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🚨 Fix flake8
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

BUG: Fix and test data asset interactions (#740)
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml-cpath/src/SSL/configs/HistoSimCLRContainer.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

specify aml_worksapce to get_ml_client
  hi-ml/src/health_ml/runner.py
Due: hi-ml

BUG: ML Client doesn't use workspace config path when specified (#771)
  hi-ml/src/health_ml/runner.py
Due: hi-ml

🐛 Fix create v2 asset bug
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🚨 Fix flake8 warnings
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
