Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

fix pl deprecated args
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-histopathology

add integration test
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

unequality for rich
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

include flake8 in hist env
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

pin rich to 12.4.4
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

pyflakes
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

v1
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

wip
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-histopathology

loose dep
  hi-ml-histopathology/environment.yml
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-histopathology

ENH: Switch from azureml-sdk to azureml-core (#455)
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

fix tests
  hi-ml-histopathology/src/SSL/lightning_modules/ssl_online_evaluator.py
Due: hi-ml, hi-ml-histopathology

Add __init__ file
  multimodal/health_multimodal/common/__init__.py
Due: none

pyright
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml, hi-ml-histopathology

Fix docstring
  multimodal/health_multimodal/image/data/io.py
Due: none

wip
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-histopathology

Read requirements from files in Conda YAML
  multimodal/environment.yml
Due: none

Enable members documentation by default
  docs/source/conf.py
Due: none

Add multimodal folder to docs conf path
  docs/source/conf.py
Due: none

Add multimodal run requirements to RTD requirements
  readthedocs_requirements.txt
Due: none

Stop ignoring multimodal API rst file
  .gitignore
Due: none

Git-add multimodal API file
  docs/source/api/multimodal.rst
Due: none

Fix docstrings
  multimodal/health_multimodal/image/data/transforms.py
Due: none

don't ignore hyperparams
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-histopathology

Refactor API documentation
  docs/source/api/multimodal.rst
  multimodal/health_multimodal/common/__init__.py
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/text/__init__.py
  multimodal/health_multimodal/vlp/__init__.py
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Use package description file for docs
  docs/source/index.rst
  docs/source/package_description_multimodal.md
Due: none

fix test model trainer
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

hyperparams and new optimizer
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

fix test logging
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml

flake8
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml

hot fix test_ssl_container_cifar10_resnet_simclr
  hi-ml-histopathology/src/SSL/data/cifar_datasets.py
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-histopathology

BUG: Fix confusion matrix plots (#450)
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

fixed cifar test
  hi-ml-histopathology/src/SSL/data/cifar_datasets.py
  hi-ml-histopathology/src/SSL/data/datamodules.py
Due: hi-ml, hi-ml-histopathology

add total_test/predict properties
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml

fix pyright
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-histopathology

rebase outputs_utils
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Upgrade PyTorch Lightning to 1.6.4 (#453)
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/SSL/data/datamodules.py
  hi-ml-histopathology/src/SSL/lightning_modules/ssl_online_evaluator.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
  hi-ml/run_requirements.txt
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-histopathology

wip additional val epoch
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

ENH: Add Dependabot config file
  .github/dependabot.yml
Due: none

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
