Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

FIX: Set evaluation mode to compute number of dimensions (#809)
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

Use image from Open-i
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

upgrade all test req
  hi-ml-cpath/requirements_test.txt
Due: hi-ml, hi-ml-cpath

copy monai code
  hi-ml-cpath/src/health_cpath/utils/grid_patch.py
Due: hi-ml, hi-ml-cpath

always filter background
  hi-ml-cpath/src/health_cpath/utils/grid_patch.py
Due: hi-ml, hi-ml-cpath

change to using pytest.ini
  hi-ml-cpath/pytest.ini
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
Due: hi-ml, hi-ml-cpath

import RandGridPatchd locally
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

upgrade pytest in hi-ml and hi-ml-azure
  hi-ml-azure/pytest.ini
  hi-ml-azure/testazure/conftest.py
  hi-ml/pytest.ini
  hi-ml/testhiml/conftest.py
  test_requirements.txt
Due: hi-ml, hi-ml-azure

env recreateded
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

downgrade flake
  test_requirements.txt
Due: none

downgrade pre-commit
  test_requirements.txt
Due: none

fixed cpath env
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

flake
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
Due: hi-ml, hi-ml-cpath

mypy errors
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/scripts/tcga_dataset_prep.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-cpath

Update
  hi-ml-multimodal/README.md
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

add ipykernel
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_test.txt
Due: hi-ml, hi-ml-cpath

Fix mention to Open-i
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

MNT: Upgrade pytest (#813)
  hi-ml-azure/pytest.ini
  hi-ml-azure/testazure/conftest.py
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/pytest.ini
  hi-ml-cpath/requirements_test.txt
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/scripts/tcga_dataset_prep.py
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml/pytest.ini
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/conftest.py
  test_requirements.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath

move to run_req
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/requirements_test.txt
Due: hi-ml, hi-ml-cpath

ENH: Add ipykernel to environment (#814)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

fix background padding
  hi-ml-cpath/src/health_cpath/utils/grid_patch.py
Due: hi-ml, hi-ml-cpath

wip memory efficient grid patch
  hi-ml-cpath/src/health_cpath/utils/grid_patch.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

Bump version: 0.1.2 → 0.1.3
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

Add make command to publish to PyPI
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

Add command for TestPyPI
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

Apply suggestions from review
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

Apply suggestions from review
  hi-ml-multimodal/README.md
Due: hi-ml, hi-ml-multimodal

DOC: Replace arXiv links with ECCV links (#812)
  hi-ml-multimodal/README.md
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/text/model/modelling_cxrbert.py
Due: hi-ml, hi-ml-multimodal

Use "there is cardiomegaly" as prompt
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

Increase verbosity while running notebook
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

FIX: Use different image for multimodal notebook (#808)
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

add fixed option
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

Remove redundant commands
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

wip
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

remove mask
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

MNT: Add make command to publish to PyPI (#816)
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
