Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

rename hook
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

add test
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

finalise the zero-shot classification test
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml

update Readme - mentioning zero shot classification
  hi-ml-multimodal/README.md
Due: hi-ml

update the example info -- no commercial or clinical use
  hi-ml-multimodal/README.md
Due: hi-ml

ENH: Support global similarity between text and images (#606)
  hi-ml-multimodal/README.md
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/text/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/text/model/modelling_cxrbert.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
  hi-ml-multimodal/test_multimodal/image/test_image_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml

ENH: Return figure when plotting similarity map (#600)
  hi-ml-multimodal/src/health_multimodal/common/visualization.py
Due: hi-ml

Bump hi-ml-multimodal version: 0.1.0 → 0.1.1
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml

add deepmil test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

MNT: Bump hi-ml-multimodal version: 0.1.0 → 0.1.1 (#610)
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml

Start move to SDK v2
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

further changes
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Separate out functions that have no equivalent in new sdk
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/run_utils.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

basic amlt setup
  .amltignore
  .gitignore
  hello_world.yml
Due: none

example script
  docs/source/amulet/amulet_example.py
  docs/source/amulet/config.yml
  docs/source/amulet/environment.yml
Due: none

ENH: Refactor extra validation epoch logic (#608)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

cleanup of logging
  docs/source/amulet/amulet_example.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

move torchvision to conda section
  docs/source/amulet/environment.yml
Due: none

move to amulet module
  docs/source/amulet/amulet_example.py
  hi-ml-azure/src/health_azure/amulet.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure

doc
  hi-ml-azure/src/health_azure/amulet.py
Due: hi-ml, hi-ml-azure

add amulet setup to runner
  hi-ml/src/health_ml/runner.py
Due: hi-ml

logging for RANK changes
  hi-ml-azure/src/health_azure/amulet.py
Due: hi-ml, hi-ml-azure

fix for huge worker numbers
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

integrate in doc
  docs/source/amulet_example.rst
  docs/source/amulet_overview.md
  docs/source/index.rst
Due: none

add jobs back
  docs/source/amulet/config.yml
Due: none

more doc
  docs/source/amulet/amulet_example.py
  docs/source/amulet_example.rst
Due: none

update protobuf
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml/environment.yml
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath

switch to MD links
  docs/source/amulet/amulet_script.py
  docs/source/amulet/amulet_script.rst
  docs/source/amulet/config.rst
  docs/source/amulet/config.yml
  docs/source/amulet/environment.rst
  docs/source/amulet_example.md
  docs/source/amulet_example.rst
Due: none

doc
  docs/source/amulet/amulet_script.py
  docs/source/amulet_overview.md
Due: none

Add functions from new SDK
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/__init__.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/new_utils.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

fix pyright and flake
  docs/source/amulet/amulet_script.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix pyright issue
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix pyright issue
  pyrightconfig.json
Due: none

PR comments
  docs/source/amulet/config.yml
  docs/source/amulet_example.md
Due: none

doc for processes per node
  docs/source/amulet_overview.md
Due: none

ENH: Improve Amulet support and documentation (#612)
  .amltignore
  .gitignore
  docs/source/amulet/amulet_script.py
  docs/source/amulet/amulet_script.rst
  docs/source/amulet/config.rst
  docs/source/amulet/config.yml
  docs/source/amulet/environment.rst
  docs/source/amulet/environment.yml
  docs/source/amulet_example.md
  docs/source/amulet_overview.md
  docs/source/index.rst
  hello_world.yml
  hi-ml-azure/src/health_azure/amulet.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  pyrightconfig.json
Due: hi-ml, hi-ml-azure, hi-ml-cpath

ENH: Improve Amulet support and documentation (#612)
  config.yml
Due: none

ENH: Improve Amulet support and documentation (#612)
  .amltignore
  .gitignore
  docs/source/amulet/amulet_script.py
  docs/source/amulet/amulet_script.rst
  docs/source/amulet/config.rst
  docs/source/amulet/config.yml
  docs/source/amulet/environment.rst
  docs/source/amulet/environment.yml
  docs/source/amulet_example.md
  docs/source/amulet_overview.md
  docs/source/index.rst
  hello_world.yml
  hi-ml-azure/src/health_azure/amulet.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/runner.py
  pyrightconfig.json
Due: hi-ml, hi-ml-azure, hi-ml-cpath

wip callback
  hi-ml-cpath/src/health_cpath/models/callbacks.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath
