Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

ENH: Enable flexible finetuning of deepmil submodules (#549)
  docs/source/panda_model.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

checkout change from kenzab/flexible_wights_init branch
  docs/source/runner.md
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

fix tiles deepmil
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

remove blank line
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

refactor error message and fix workflow tests
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

raise exception for failed weights copy
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

rename pretrain_X -> pretreained_X
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

FIX: Hotfix HTTP error downloading model with hub (#552)
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml

add total params check
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

DOC: Fix broken links in cpath documentation (#547)
  docs/source/panda_model.md
Due: none

remove hardcoded strings
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

update eror message
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-cpath

Fix output saving for distributed models
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

add metrics for binary case
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

Address PR comments
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

Attempt to fix failing test
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

add metrics
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

add more tests
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

update test
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

small fix
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

refactor duplicated code
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

test with tiles module
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

ENH: Enable flexible weights initialization from src_checkpoint (#554)
  docs/source/runner.md
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

ignore additional errors from rmtree
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

Use old AML runtime to get tests passing
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

BUG: Fix output saving for distributed models (#555)
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

leftover from merge
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

ENH: Update metrics for binary classification (#557)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

ENH: Updating transfer_main to main (#558)
  docs/source/panda_model.md
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-multimodal/MANIFEST.in
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hubconf.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Add code to create PANDAS tiles montage
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

Add smoke test to workflow
  .github/workflows/cpath-pr.yml
Due: none

remove inconsequential change
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Add command line arg for custom SSL encoder checkpoint
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
Due: hi-ml, hi-ml-cpath

update workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/credscan.yml
  .github/workflows/hi-ml-pr.yml
Due: none

ENH: Enable flexible finetuning of deepmil submodules (#549)
  docs/source/panda_model.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath
