Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

BUG: VSCode uses wrong value for Python path in terminal (#375)
  himl-projects.code-workspace
Due: none

type error
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
Due: hi-ml, hi-ml-histopathology

mypy error
  hi-ml-histopathology/src/histopathology/scripts/generate_crossval_report.py
Due: hi-ml, hi-ml-histopathology

use topk and add slides gathering
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

fix small bugs
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

gather all tiles
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology

update RegressionTestResults folderr
  hi-ml-histopathology/RegressionTestResults/CRCK_SimCLR_1647951559_d2a19df5/OUTPUT/metrics.csv
  hi-ml-histopathology/RegressionTestResults/HD_4ab0d833-fe55-44e8-aa04-cbaadbcc2733_0/OUTPUT/metrics.csv
  hi-ml-histopathology/RegressionTestResults/HD_d76ef6cd-0403-4923-b8fa-dfd2827c5d74/OUTPUT/metrics.csv
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-histopathology

Incorporate new DeepSmilePandaTiles class and rename the old version
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datamodules/panda_module_baseline.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/models/encoders.py
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

Add test for mounting script
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
  hi-ml-histopathology/testhisto/testhisto/scripts/test_mount_azure_dataset.py
Due: hi-ml, hi-ml-histopathology

Add makefile command for running smaller regression test
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

skip test since we have an open PR with a fix incoming
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Remove unecessary changes
  .gitignore
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-histopathology/RegressionTestResults/HD_13448836-ddc9-4000-87a4-f84075d9d29c_1/OUTPUT/experiment_summary_comparison.txt
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
  hi-ml-histopathology/testhisto/testhisto/scripts/test_mount_azure_dataset.py
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

Remove unrelated files
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-histopathology/Makefile
  hi-ml-histopathology/src/histopathology/configs/SSL/CRCK_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/scripts/aggregate_metrics_crossvalidation.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

PR comments
  hi-ml-histopathology/docs/README.md
Due: hi-ml, hi-ml-histopathology

wip
  docs/source/index.rst
  docs/source/software_design_overview.md
Due: none

downgrade version req
  hi-ml/run_requirements.txt
Due: hi-ml

clean code
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

clean code
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

v1
  docs/source/software_design_overview.md
Due: none

cleaning code
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

pin protobuf
  hi-ml-histopathology/environment.yml
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-histopathology

protobuf in hi-ml-azure
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

always upload codecov, simplify pipeline
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
Due: none

doc string
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

BUG: Fix protobuf version (#382)
  hi-ml-azure/run_requirements.txt
  hi-ml-histopathology/environment.yml
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

add doc string
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

finish doc string
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

typo
  hi-ml-histopathology/src/histopathology/utils/k_top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology
