Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

ENH: Add DenseNet encoder (#892)
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

analysis plots changes
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-cpath

macenko transform
  hi-ml-cpath/environment.yml
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

add test
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

remove cupy stain normalization
  hi-ml-cpath/environment.yml
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

fix imports
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

correct test
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

ENH: Add Macenko stain normalization (#896)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

Add option to use parameter command
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

remove check
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix and tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

reduce test startup time
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

missing requirement
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

BUG: AmlIgnore file should not lose its last linebreak (#903)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

simplify
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

BUG: Enable submitting jobs to compute instances (#902)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath

refactor
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix bug and test
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

fix and test
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix mypy
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Single node runs for SDK v2 can be non-distributed (#905)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

disable pyright
  .github/workflows/hi-ml-pr.yml
Due: none

MNT: Disable PyRight (#906)
  .github/workflows/hi-ml-pr.yml
Due: none

env creation
  hi-ml-azure/Makefile
  hi-ml-azure/environment.yml
Due: hi-ml, hi-ml-azure

launch
  hi-ml-azure/.vscode/launch.json
Due: hi-ml, hi-ml-azure

register option
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

test script
  hi-ml-azure/.vscode/launch.json
  hi-ml-azure/testazure/output_datasets.py
Due: hi-ml, hi-ml-azure

doc
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix suffix
  hi-ml-azure/testazure/output_datasets.py
Due: hi-ml, hi-ml-azure

rename
  hi-ml-azure/testazure/job_with_output_dataset.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-azure/.vscode/launch.json
  hi-ml-azure/testazure/use_run_with_output_dataset.py
Due: hi-ml, hi-ml-azure

update pillow
  hi-ml-cpath/requirements_run.txt
  hi-ml-multimodal/requirements_run.txt
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-cpath, hi-ml-multimodal

patch scipy
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

patch ipython
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml, hi-ml-multimodal

update to 3.9 and rebuild env
  .github/actions/cancel_azureml_jobs/azureml-env.yml
  .github/workflows/hi-ml-pr.yml
  docs/source/developers.md
  docs/source/examples/1/environment.yml
  docs/source/examples/10/environment.yml
  docs/source/examples/2/environment.yml
  docs/source/examples/3/environment.yml
  docs/source/examples/4/environment.yml
  docs/source/examples/5/environment.yml
  docs/source/examples/6/environment.yml
  docs/source/examples/7/environment.yml
  docs/source/examples/8/environment.yml
  docs/source/examples/9/tensorboard_env.yml
  hi-ml-azure/.mypy.ini
  hi-ml-azure/environment.yml
  hi-ml-azure/setup.py
  hi-ml-azure/src/health_azure/examples/environment.yml
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/simple/environment.yml.template
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/other/slide_image_loading/environment.yml
  hi-ml-cpath/setup.py
  hi-ml/.mypy.ini
  hi-ml/environment.yml
  hi-ml/other/image_loading/environment.yml
  hi-ml/primary_deps.yml
  hi-ml/setup.py
  hi-ml/testhiml/environment.yml
  new_project_template/.mypy.ini
  new_project_template/environment.yml
  new_project_template/new-project-pr.yml
  new_project_template/setup.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

update env
  .github/actions/cancel_azureml_jobs/azureml-env.yml
Due: none

fix mypy
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

env and test fixes (wip)
  hi-ml-azure/environment.yml
  hi-ml-azure/primary_deps.yml
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/traverse.py
  hi-ml/environment.yml
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

fix yaml safe issues
  hi-ml-azure/src/health_azure/traverse.py
Due: hi-ml, hi-ml-azure
