Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

wip
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

enforce check for validation epoch
  hi-ml-histopathology/src/histopathology/models/deepmil.py
Due: hi-ml, hi-ml-histopathology

plots from rank 0 only
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

unit test
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

remove the dependency on pl and pl-bolt
  multimodal/health_multimodal/image/model/model.py
  multimodal/health_multimodal/image/model/resnet.py
  multimodal/requirements_run.txt
Due: none

fix the failing test - plbolt
  multimodal/test_multimodal/image/model/test_model.py
Due: none

correct the annotation type
  multimodal/health_multimodal/image/model/resnet.py
Due: none

Minor docs fixes
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/image/model/resnet.py
Due: none

works locally skipping slide with problematic patches (1 in val on the test case)
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Remove the dependency on Lightning and Lightning Bolts (#466)
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/image/model/model.py
  multimodal/health_multimodal/image/model/resnet.py
  multimodal/requirements_run.txt
  multimodal/test_multimodal/image/model/test_model.py
Due: none

ENH: Add Dependabot config file (#462)
  .github/dependabot.yml
Due: none

Look for package in src folder
  hi-ml-multimodal/setup.py
Due: hi-ml

Install everything before running mypy
  .github/workflows/multimodal-pr.yml
Due: none

Use files for mypy instead of package
  hi-ml-multimodal/Makefile
Due: hi-ml

Install library from GitHub repo
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

load best checkpoint weights for inference
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

fxi tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

remove all val plots options
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-histopathology

typo
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Add CI job to publish package on PyPI
  .github/workflows/multimodal-pr.yml
Due: none

remove break line
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

Add steps to build package
  .github/workflows/multimodal-pr.yml
Due: none

Update and rename broken symlink
  docs/source/index.rst
  docs/source/multimodal.md
  docs/source/package_description_multimodal.md
Due: none

Remove env variables and fix command
  .github/workflows/multimodal-pr.yml
Due: none

Need all other checks before publishing
  .github/workflows/multimodal-pr.yml
Due: none

Add step to set up Python
  .github/workflows/multimodal-pr.yml
Due: none

Fix condition to publish on PyPI
  .github/workflows/multimodal-pr.yml
Due: none

Fix folder name
  .github/workflows/multimodal-pr.yml
Due: none

test
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-histopathology

fix broken tests
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

ENH: Enable pre-commit CI autofixes
  .pre-commit-config.yaml
Due: none

Add trailing whitespace
  hi-ml-multimodal/src/health_multimodal/image/data/io.py
Due: hi-ml

Set autofix option explicitly
  .pre-commit-config.yaml
Due: none

uncomment test rerun
  hi-ml-histopathology/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-histopathology

ENH: Enable pre-commit CI autofixes (#474)
  .pre-commit-config.yaml
Due: none

rename flag run_extra_val_epoch
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml, hi-ml-histopathology

assery existing flag
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

hot fix for empty tiles
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
