Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

Add support to pass a prefix for hyperparam args
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

MNT: Bump `hi-ml-multimodal` version (#929)
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

Rename new parameter
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

ENH: Add support to pass a prefix for hyperparam args (#936)
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Try unpinning azure-cli
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

Try unpinning everything
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

Add lower bounf for ruamel.yaml
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

Add upper bound for azure-ai-ml
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

cleanup md
  README.md
Due: none

dummy change
  hi-ml-azure/pytest.ini
Due: hi-ml, hi-ml-azure

Add support to show run outputs
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

disable test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

disable autkey test
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

cleanup
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

remove thats that fail without access keys
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

fix cpath tests
  .github/workflows/cpath-pr.yml
  Makefile
  hi-ml-cpath/testhisto/conftest.py
  scripts/mount_datastores.sh
  scripts/mount_utils.sh
Due: hi-ml, hi-ml-cpath

test fix
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

debug
  hi-ml-azure/.vscode/launch.json
Due: hi-ml, hi-ml-azure

install blobfuse
  .github/workflows/cpath-pr.yml
  Makefile
  setup/mount_datastores.sh
  setup/mount_utils.sh
  setup/prepare_blobfuse_installation.sh
Due: none

permission
  setup/prepare_blobfuse_installation.sh
Due: none

skip tests, run with mounted pathmnist
  hi-ml-azure/run_pytest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/utils_testhisto.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

no blobfuse on CPU
  .github/workflows/cpath-pr.yml
Due: none

import errors
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

cusotm upload
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

switch from DefaultAzure to AzureCli
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

test fixes
  hi-ml-azure/src/health_azure/auth.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

warnings
  hi-ml-azure/src/health_azure/auth.py
Due: hi-ml, hi-ml-azure

test fixes
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

unit test
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

fix tests
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

diag
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

fix skip syntax
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix dataset mount point and remove diag
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

more mounting changes
  hi-ml-azure/run_pytest.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix arg
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

change to utc
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

daig
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

diag again
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix upload
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure
