Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

code complete
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/regression_test_utils.py
Due: hi-ml, hi-ml-azure

MNT: Upgrade pytorch to 1.11 (#833)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix env build
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

reset to main
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

fix momentum
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

add fairescale package
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

tests and fixes
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/.vscode/settings.json
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml, hi-ml-azure

use monai weekly package
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

revert
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

add non normalized con matrix
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrices_foo.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/normalized_confusion_matrix_foo.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

flake and test failures
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

mypy fix
  hi-ml-cpath/src/health_cpath/scripts/aggregate_metrics_crossvalidation.py
Due: hi-ml, hi-ml-cpath

ENH: Use Latest Monai GridPatch to filter both threshold and count (#834)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

use monai weekly
  hi-ml-cpath/src/health_cpath/utils/grid_patch.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

test refactor
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix and tests
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

check for empty file
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
Due: hi-ml, hi-ml-cpath

convert is file is empty
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

BUG: Convert to tifffile if file doesn't exist or if it's empty (#836)
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

mypy fixes
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

synta error
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

pyright
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

remove confusion matric foo
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrix_foo.png
Due: hi-ml, hi-ml-cpath

mypy and pyright
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

fix tests
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

ENH: Improve handling of metric comparison for regression tests (#835)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/src/health_cpath/scripts/aggregate_metrics_crossvalidation.py
  hi-ml/.vscode/settings.json
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

ENH: Add non normalized confusion matrix to plot options (#791)
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrices_foo.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

no ckpt pooling
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml

fix
  hi-ml/src/health_ml/utils/regression_test_utils.py
Due: hi-ml

fix aggregate metrics
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

swint ckpt
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

test
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
