Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

STYLE: Fix autopep8 errors
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
Due: hi-ml, hi-ml-histopathology

Disable pre-commit CI autofixes
  .pre-commit-config.yaml
Due: none

Try disabling autofixes in this branch
  .pre-commit-config.yaml
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

STYLE: Disable pre-commit CI autofixes (#402)
  .pre-commit-config.yaml
Due: none

STYLE: Fix max line length in autopep8 hook
  .pre-commit-config.yaml
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/src/health_ml/utils/split_dataset.py
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

Fix flake8 issues
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/src/health_ml/utils/split_dataset.py
Due: hi-ml, hi-ml-azure

add cohen kappa metric
  hi-ml-histopathology/src/histopathology/configs/run_ids.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

PR comments
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/datasets/panda_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

reviews
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

fix plot test
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

details on issue handling
  docs/source/software_design_overview.md
Due: none

remove repeated kwargs
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology

more about reviews
  docs/source/software_design_overview.md
Due: none

simplify if statement checks
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

refinements
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

remove yield
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

remove import
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

fix slide ids for tiles pipeline
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

run on windows
  .github/workflows/credscan.yml
Due: none

add ms header
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

remove bandit setting
  .github/workflows/credscan.yml
Due: none

Update docs/source/software_design_overview.md
  docs/source/software_design_overview.md
Due: none

seperate axis off from imshow
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

fix test plots
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
Due: hi-ml, hi-ml-histopathology

add coma
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

docs
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

add pytest-cov to histo env
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

Update hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
  hi-ml-histopathology/src/histopathology/utils/top_bottom_tiles_utils.py
Due: hi-ml, hi-ml-histopathology

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
