Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

update himl test
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

♻️ Address PR comments
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

MNT: Bump hi-ml-multimodal patch version (#750)
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/requirements_test.txt
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

🚨 Fix flake8
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

add test for uneven samples for tiles selection
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

add uneven samples to outputs handler tests
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

add uneven samples case
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

add uneven test case to loss callback
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

add max_num_gpus_inference flag
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

linting
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

⚡️ Change new dataset workflow
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml/src/health_ml/utils/lightning_loggers.py
Due: hi-ml

fix test outputs utils
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

attempt to fix test callback
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

better test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

add test
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

flake8 fix
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

wip fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

add test
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🥅 Fix submission and catch erroneous asset creation
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/.vscode/launch.json
Due: hi-ml, hi-ml-azure

enable multi gpu evaluation
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

🐛 Get latest version of asset by default
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

adding test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

syntax fix
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

uncomment test
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

update tests for ddp inference
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

test failures
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

pyright and doc
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix signature for pyright
  hi-ml/src/health_ml/utils/lightning_loggers.py
Due: hi-ml

BUG: Remove shadow PR files (#745)
  .github/workflows/cpath-pr-shadow.yml
  .github/workflows/hi-ml-pr-shadow.yml
  .github/workflows/multimodal-pr-shadow.yml
Due: none

fix after_ddp_cleanup
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

test on images
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

flake8 error
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml

skip package upload for v2 calls
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

add durations flag
  hi-ml-azure/Makefile
  hi-ml-cpath/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-cpath

disable v2 test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
