Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

wip add wsi_reader_args
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

use cucim backend
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
Due: hi-ml, hi-ml-cpath

fix typos
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

rename
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

remove try except
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Add backend and use named reader
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

beautify
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
Due: hi-ml, hi-ml-cpath

BUG: Raise ClientAuthenticationError in default get credential (#659)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

fix wsi reader error
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

dummy commit
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

update monai to latest
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

add backend to outputs handler
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

docu
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

new tiling transform
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

tiling on the gridd working with new transform
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

use self.mlflow_client
  hi-ml/src/health_ml/utils/lightning_loggers.py
Due: hi-ml

ENH: Parameterize CuCim backend (#661)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

call ml_clitn in v2 scope only
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

BUG: Fix mlflow authentication error (#662)
  hi-ml/src/health_ml/utils/lightning_loggers.py
Due: hi-ml

BUG: Move MlClient call to v2 scope only (#663)
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix meta tensor issues
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

wip update slide pipeline
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

update azureml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

update environment and remove redundant dep
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

aml_v1
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

Revert "aml_v1"
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

run smoke tests with aml v1
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

only call get_ml_client when needed
  hi-ml/src/health_ml/runner.py
Due: hi-ml

use logging.info to avoid logging from all ranks
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/scripts/aggregate_metrics_crossvalidation.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

remove noisy logs
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

ENH: Upgrade azureml packages (#664)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

BUG: Remove all calls to get_ml_client outside v2 (#665)
  hi-ml/src/health_ml/runner.py
Due: hi-ml

update metrics
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix regression
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

remove sync_on_compute
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath
