Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

Fixing typo in panda_model.md
  docs/source/panda_model.md
Due: none

make split labels global
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_crck_tiles_dataset.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_datamodule_caching.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

avoid big refactoring
  hi-ml-cpath/src/health_cpath/datasets/tiles_dataset.py
Due: hi-ml, hi-ml-cpath

add another test
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

adding tcga model page
  docs/source/index.rst
  docs/source/panda_model.md
  docs/source/tcga_model.md
Due: none

FIX: Fixing typo in panda_model.md (#535)
  docs/source/panda_model.md
Due: none

wip make label_column and n_classes instance attributes
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_datamodule_caching.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_tcga_prad_dataset.py
  hi-ml-cpath/testhisto/testhisto/mocks/base_data_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

adding results
  docs/source/tcga_model.md
Due: none

DOC: Adding tcga DeepMIL results (#539)
  docs/source/index.rst
  docs/source/panda_model.md
  docs/source/tcga_model.md
Due: none

code cleaning
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
Due: hi-ml, hi-ml-cpath

Remove TCGACRCKSSLMIL smoke test temporarily until we have a way to provide custom SSL checkpoint
  .github/workflows/cpath-pr.yml
Due: none

Address PR comments
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

update workflow file
  .github/workflows/cpath-pr.yml
Due: none

ENH: Allow skipping of top/ bottom tile plotting (#536)
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

fixed pil import
  docs/source/loading_images.md
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml/other/image_loading/profile_image_loading.py
Due: hi-ml, hi-ml-cpath

FIX: Flake8 problem that got missed due to auto-merge (#541)
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

BUG: Fixed PIL import (#542)
  docs/source/loading_images.md
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml/other/image_loading/profile_image_loading.py
Due: hi-ml, hi-ml-cpath

Add hubconf file
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hubconf.py
Due: hi-ml

Refactor to minimise hubconf dependencies
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hubconf.py
Due: hi-ml

Pin hubconf dependencies
  hubconf.py
Due: none

Revert "Pin hubconf dependencies"
  hubconf.py
Due: none

ENH: Mark completed regression_test_utils tests as complete (#537)
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_tests.py
Due: hi-ml

Add support for newer versions of torch
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml

Add only the model folder to path
  hubconf.py
Due: none

Replace duplicate steps with github action
  .github/actions/prepare_smoke_test_environment/action.yml
  .github/workflows/cpath-pr.yml
Due: none

every field that has a comma is wrapped to avoid problems when converting to a dataframe
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

back to public dataset class
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

update paths with new tiles dataset
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
Due: hi-ml, hi-ml-cpath

BUG: Fix CSV parsing of tiles dataset columns with commas (#544)
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

TEST: Incorporate additional smoke tests (#532)
  .github/actions/prepare_smoke_test_environment/action.yml
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

add default vals to doc string
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
Due: hi-ml, hi-ml-cpath

Remove unnecessary try-except block
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml

Avoid duplicate definition of Hugging Face strings
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
Due: hi-ml

MNT: Prepare package for PyPI
  hi-ml-multimodal/MANIFEST.in
  hi-ml-multimodal/setup.py
Due: hi-ml

rename is_finetune to tune_encoder and add tune_pooling flag
  docs/source/panda_model.md
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
Due: hi-ml, hi-ml-cpath

wip tune_classifier
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

remove harcoded string "label"
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_datamodule_caching.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Relax TorchVision requirement version
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml

Import from a more appropriate module
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
Due: hi-ml
