Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

more 3.9 changes
  .github/actions/cancel_azureml_jobs/azureml-env.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  docs/source/amulet/environment.yml
  hi-ml-azure/.mypy.ini
  hi-ml-azure/setup.py
  hi-ml-multimodal/.mypy.ini
  hi-ml/.mypy.ini
  hi-ml/setup.py
  new_project_template/.mypy.ini
  new_project_template/new-project-pr.yml
  new_project_template/setup.py
  pyrightconfig.json
  runtime.txt
Due: hi-ml, hi-ml-azure, hi-ml-multimodal

ENH: Allow command in script run config (#909)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix test
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

add assert after write
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

recreate env
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

fix pillow API deprecation
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
  hi-ml-cpath/testhisto/test_data/montages/montage_with_masks.png
  hi-ml-cpath/testhisto/test_data/montages/montage_without_masks.png
Due: hi-ml, hi-ml-cpath

remove outdated call
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay_extra.png
Due: hi-ml, hi-ml-cpath

update seaborn to use new numpy
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

updated plots
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrix_1.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrix_3.png
Due: hi-ml, hi-ml-cpath

remove obsolete assert
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

udpate env again
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

update pip
  docs/source/developers.md
  docs/source/examples/1/environment.yml
  docs/source/examples/10/environment.yml
  docs/source/examples/2/environment.yml
  docs/source/examples/3/environment.yml
  docs/source/examples/4/environment.yml
  docs/source/examples/5/environment.yml
  docs/source/examples/6/environment.yml
  docs/source/examples/7/environment.yml
  docs/source/examples/8/environment.yml
  docs/source/examples/9/tensorboard_env.yml
  hi-ml-azure/src/health_azure/examples/environment.yml
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/simple/environment.yml.template
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/other/slide_image_loading/environment.yml
  hi-ml-multimodal/environment.yml
  hi-ml/other/image_loading/environment.yml
  hi-ml/primary_deps.yml
  hi-ml/testhiml/environment.yml
  new_project_template/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

updated envs to pip 23
  hi-ml-azure/environment.yml
  hi-ml/environment.yml
Due: hi-ml, hi-ml-azure

dead file
  hi-ml/testhiml/testhiml/test_anything.py
Due: hi-ml

update pip and downgrade black
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_test.txt
  test_requirements.txt
Due: hi-ml, hi-ml-cpath

update to latest mlflow
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

replace print with logger.info
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

test result update
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/confusion_matrices_foo.png
Due: hi-ml, hi-ml-cpath

fix all errors because of log capture changes
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

more logcap fixes
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

tensorboard test fix
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

numpy for tensorboard test
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

fix tensorboard test by upgrading to pytorch 1.11
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

fix
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

doc update
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

change default
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix logic and tests after changes of default values
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Enable single-node MPI jobs with SDK v1 (#914)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

remove mountcontext imports
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

update cpath environment
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

update files
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
Due: hi-ml, hi-ml-cpath

update simclr tests
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

doc
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

ENH: Remove mount context imports (#919)
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/environment.yml
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
Due: hi-ml, hi-ml-azure, hi-ml-cpath

delte workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/credscan.yml
Due: none

MNT: Delete workflows and switch to built-in tooling (#920)
  .github/workflows/codeql-analysis.yml
  .github/workflows/credscan.yml
Due: none

make logging consistent
  hi-ml-azure/src/health_azure/amulet.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/himl_tensorboard.py
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/src/health_azure/paths.py
  hi-ml-azure/src/health_azure/traverse.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix mypy
  hi-ml-azure/src/health_azure/logging.py
Due: hi-ml, hi-ml-azure
