Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

update transform
  hi-ml-cpath/src/health_cpath/preprocessing/crop_and_conversion.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/crop_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

fix linting + remove all hardcoded values
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

MNT: Bump multimodal version: 0.1.2 → 0.1.3 (#815)
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

wip
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/crop_conversion_config.py
Due: hi-ml, hi-ml-cpath

add test
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

MNT: Increase verbosity while running notebook (#817)
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

🔊 Change logging for submit_run_v2
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

add tests
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

update config
  hi-ml-cpath/src/health_cpath/scripts/convert_to_tiff.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

limit data
  hi-ml-cpath/src/health_cpath/utils/crop_conversion_config.py
Due: hi-ml, hi-ml-cpath

🚨 Fix mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

🐛 Fix test_submit_run_v2 experiment naming
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

✅ Create v2 arg parse function and add tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

🚨 Fix flake8
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

🏷️ Fix mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-cpath/src/health_cpath/utils/crop_conversion_config.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

add tests for conversion config
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

100g by default
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

fix mypy and flake8
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

add cucim check
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/utils/utils_testhisto.py
Due: hi-ml, hi-ml-cpath

PR comments
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

add comments
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
Due: hi-ml, hi-ml-cpath

fix unbounded variable
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

📌 Lock hi-ml environment
  hi-ml/environment.yml
Due: hi-ml

✅ Enable effective experiment name for "-m"
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

make dataset a instance attribute
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

♻️ Address PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🏷️ Fix mypy
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

✅ Fix submit_run_v2 test in GH runner
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix dataset
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

fix prompt
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

add flexibility to check for equality
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath
