Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

Add back in output dataset cmd line args
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

set crossval_index to None by default
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

fix mypy and pyright
  hi-ml/src/health_ml/configs/hello_world.py
Due: hi-ml

fix if statement
  hi-ml/src/health_ml/runner.py
Due: hi-ml

update tests pr and roc curve
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/pr_curve.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/roc_curve.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

flake8 errors
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

remove redefinitions
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

PR comment
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

🚧 ⚡️Replace command line args with env vars
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

first version
  hi-ml-cpath/src/health_cpath/scripts/azure_create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_utils.py
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_random_thumbs.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_with_masks.png
  hi-ml-cpath/testhisto/test_data/montages/montage_without_masks.png
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

rename script
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

✅ Improve test script
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

typo
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

move code to utils
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

rename
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

doc cleanup
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

♻️ Create function for asserting v1 job success
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

add test
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

Add empty v2 success assertion
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🎨 Tidy up unfinished code
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

modify docstring
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Add ROC curve to plot options (#780)
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/pr_curve.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/roc_curve.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Enable resubmitting single cross validation runs manually (#781)
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

✅ ♻️ Refactor and test input and output creation
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

test for slides montage
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

🚨 Fix flake8 and mypy
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

🏷️ Keep mypy happy
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

✅ Add tests for new function
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔥 Remove now-obsolete function
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

🏷️ Fix mypy
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔥 Remove old test + fix mypy
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

stratify by metadata
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

✅ Add env var extraction test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🚨 Fix flake8
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Undo change to trigger cpath
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

test fix
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

rename stratify_by
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

modularize
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
Due: hi-ml, hi-ml-cpath

doc template
  docs/source/index.rst
  docs/source/montage_creation.md
Due: none

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
