Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

fix tests
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/src/histopathology/utils/viz_utils.py
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_0.1.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_1.2.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_2.4.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_3.6.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-histopathology/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-histopathology

crossval seeding
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

Add minor edits to io module
  multimodal/health_multimodal/image/data/io.py
Due: none

set all params
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

Add __init__ files
  multimodal/health_multimodal/__init__.py
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/image/data/__init__.py
  multimodal/health_multimodal/image/model/__init__.py
  multimodal/health_multimodal/text/__init__.py
  multimodal/health_multimodal/text/data/__init__.py
  multimodal/health_multimodal/text/data/io.py
  multimodal/health_multimodal/text/model/__init__.py
Due: none

Fix some mypy errors
  multimodal/health_multimodal/image/data/io.py
Due: none

wip refinements
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

flake8
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology

fix params
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

update safety guards
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

remove slides dataset froom first validation check
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

refinements
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

remove redundan code
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

rename func
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

add plot options in basemil
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-histopathology

Add makefile commands for smoke tests
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

update regression test names in line with smoke test names
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

fix mypy
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

reproducible slides dataloader
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-histopathology

mypy
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

wip make it nicer
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

fix tests
  hi-ml-histopathology/src/histopathology/utils/viz_utils.py
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/score_hist.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_0.1.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_1.2.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_2.4.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_3.6.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-histopathology/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-histopathology

add image and text inference engines
  multimodal/health_multimodal/examples/phrase_grounding.py
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

add init
  multimodal/health_multimodal/vlp/__init__.py
Due: none

add headers and update docstrings
  multimodal/health_multimodal/examples/phrase_grounding.py
  multimodal/health_multimodal/image/data/transforms.py
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/health_multimodal/text/inference_engine.py
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

sort imports
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/health_multimodal/image/model/model.py
  multimodal/health_multimodal/text/inference_engine.py
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Replace Health Intelligence with Health Futures
  multimodal/setup.py
Due: none

Update GitHub workflow
  .github/workflows/multimodal-pr.yml
Due: none

Unify imports
  multimodal/health_multimodal/image/data/transforms.py
Due: none

remove deprecated argument
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

fxi tests
  hi-ml-histopathology/testhisto/testhisto/utils/test_output_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

Add multimodal package to flake8 checks
  .pre-commit-config.yaml
Due: none

Fix flake8 errors
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

test pretrained checkpoint
  multimodal/health_multimodal/examples/phrase_grounding.py
Due: none

remove unused par
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Add phrase grounding notebook
  multimodal/health_multimodal/examples/phrase_grounding.ipynb
  multimodal/health_multimodal/examples/visualization.py
Due: none

pretrained path -- image model
  multimodal/health_multimodal/examples/phrase_grounding.py
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/health_multimodal/image/model/model.py
Due: none

add ipython in the env for notebooks
  multimodal/environment.yml
Due: none

Fix incorrect install command in CI workflow
  .github/workflows/multimodal-pr.yml
Due: none

better test
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-histopathology
