Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

add workspace config path
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

image model takes ImageModelInput in forward
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

remove redundant __init__ in BaseImageModel
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

simplify docstring for BaseImageModel
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

use ImageModelInput in tests (fix tests)
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

Use symlinks to build docs instead of copying files
  .gitignore
  docs/Makefile
  docs/source/CHANGELOG.md
  docs/source/CONTRIBUTING.md
  docs/source/multimodal.md
Due: none

Fix relative symlinks
  docs/source/CHANGELOG.md
  docs/source/CONTRIBUTING.md
  docs/source/multimodal.md
Due: none

📝 Update documentation for PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

DOC: Use symlinks to build docs instead of copying files (#824)
  .gitignore
  docs/Makefile
  docs/source/CHANGELOG.md
  docs/source/CONTRIBUTING.md
  docs/source/multimodal.md
Due: none

fix
  docs/source/histoqc.md
Due: none

ENH: WSI Conversion to tiff files (#820)
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/utils/utils_testhisto.py
Due: hi-ml, hi-ml-cpath

BUG: Doc build fails because of special characters in .md file (#826)
  docs/source/histoqc.md
Due: none

ENH: MONAI Auto3dSeg Updates (#819)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/environment.yml
Due: hi-ml, hi-ml-azure

flexible resultion unit for moch wsi generator
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
Due: hi-ml, hi-ml-cpath

remove literal "centimeter"
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

add swin ssl support
  hi-ml-cpath/src/SSL/encoders.py
  hi-ml-cpath/src/SSL/lightning_containers/ssl_container.py
  hi-ml-cpath/src/SSL/utils.py
Due: hi-ml, hi-ml-cpath

add tests and transform
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

mypy gpu test
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

PR comments
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

remove ImageModelInput class, use args/kwargs
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

mypy: extract "x" from kwargs in forward
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

add vit pooler and timm library
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/src/health_multimodal/image/model/transformers.py
Due: hi-ml, hi-ml-multimodal

add the file header
  hi-ml-multimodal/src/health_multimodal/image/model/transformers.py
Due: hi-ml, hi-ml-multimodal

pass x explicitly in forward+tell mypy to be quiet
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

replace RESUNIT by custom string enum ResolutionUnit
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

formatting
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

fix regression
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
Due: hi-ml, hi-ml-cpath

include mypy error type in ignore line
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

Set user for repo beforehand
  .github/workflows/multimodal-pr.yml
Due: none

add multi-image encoder
  hi-ml-multimodal/src/health_multimodal/common/__init__.py
  hi-ml-multimodal/src/health_multimodal/common/device.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

Get base repo from event
  .github/workflows/multimodal-pr.yml
Due: none

unify dataclasses used for single and multi image types
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

Try to fix syntax
  .github/workflows/multimodal-pr.yml
Due: none

Try again
  .github/workflows/multimodal-pr.yml
Due: none

fix import error and add the file header
  hi-ml-multimodal/src/health_multimodal/common/device.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
Due: hi-ml, hi-ml-multimodal

remove unused args/kwargs in forward
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

Print variables
  .github/workflows/multimodal-pr.yml
Due: none

Try full name
  .github/workflows/multimodal-pr.yml
Due: none

Fix repo name
  .github/workflows/multimodal-pr.yml
Due: none

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
