Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

Fix characters with accents
  hi-ml-multimodal/README.md
Due: hi-ml, hi-ml-multimodal

Minor edits to notebook
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

Rename function
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hubconf.py
Due: hi-ml, hi-ml-multimodal

Replace literals with enums
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

ENH: Consume BioViL-T Pretrained Models in Inference Engines (#845)
  hi-ml-multimodal/README.md
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/common/visualization.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/__init__.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/common/test_visualization.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hi-ml-multimodal/test_multimodal/text/data/test_text_io.py
  hi-ml-multimodal/test_multimodal/text/test_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
  hubconf.py
Due: hi-ml, hi-ml-multimodal

Fix make commands
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

Bump version: 0.1.3 → 0.2.0
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

gradcam callback
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/hooks.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

Upgrade Python version
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/.mypy.ini
  hi-ml-multimodal/README.md
  hi-ml-multimodal/environment.yml
  hi-ml-multimodal/setup.py
Due: hi-ml, hi-ml-multimodal

Unpin SimpleITK
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

Unpin torch and torchvision
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

Unpin all run requirements
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

Unpin all requirements
  hi-ml-multimodal/requirements_build.txt
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml, hi-ml-multimodal

Add max torchvision version
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

Add matplotlib to requirements
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

Fix mypy error
  hi-ml-multimodal/.mypy.ini
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
Due: hi-ml, hi-ml-multimodal

Fix mypy error
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml, hi-ml-multimodal

Remove requirements from conda environment
  hi-ml-multimodal/environment.yml
Due: hi-ml, hi-ml-multimodal

small fix
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

Add runtime config file for Binder
  runtime.txt
Due: none

Fix runtime file
  runtime.txt
Due: none

Switch to Python 3.9
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/.mypy.ini
  hi-ml-multimodal/README.md
  hi-ml-multimodal/environment.yml
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/setup.py
  runtime.txt
Due: hi-ml, hi-ml-multimodal

💄 Add black styling and configuration
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/source/coding_guidelines.md
  docs/source/developers.md
  hi-ml-azure/.flake8
  hi-ml-azure/.vscode/settings.json
  hi-ml-azure/Makefile
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml-cpath/.flake8
  hi-ml-cpath/.vscode/settings.json
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-multimodal/.flake8
  hi-ml-multimodal/.vscode/settings.json
  hi-ml-multimodal/Makefile
  hi-ml/.flake8
  hi-ml/.vscode/settings.json
  hi-ml/Makefile
  hi-ml/environment.yml
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
  new_project_template/.flake8
  new_project_template/README.md
  pyproject.toml
  test_requirements.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

integrated hook into gradcam callback
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/hooks.py
Due: hi-ml, hi-ml-cpath

STY: Ignore styling in git blame
  .git-blame-ignore-revs
  docs/source/amulet/amulet_script.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

FIX: Fix notebook not working on Binder (#852)
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/.mypy.ini
  hi-ml-multimodal/README.md
  hi-ml-multimodal/environment.yml
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/setup.py
  runtime.txt
Due: hi-ml, hi-ml-multimodal

realized that it could be even simpler
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

✨ Expose v1 dataset overwrite param
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

tried more things to fix the memory leak but it is still there
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

🐛 Prevent creating data asset without specifying datastore
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

✨ Make overwrite controllable from DatasetConfig class
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

📝 Update documentation
  docs/source/datasets.md
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

📝 Tidy v1 docs
  docs/source/datasets.md
Due: none

mode flag
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml

renamed
  hi-ml/src/health_ml/__init__.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ignore
  .gitignore
Due: none

refactoring and calling eval runner
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

fix import
  hi-ml/src/health_ml/runner.py
Due: hi-ml

MNT: Bump hi-ml-multimodal version (#849)
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
