Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

try different base docker image
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Add amulet config for cpath and docu
  docs/source/submitting_via_amulet.md
  hi-ml-cpath/amlt_singularity_cpath.yml
Due: hi-ml, hi-ml-cpath

update docu
  docs/source/submitting_via_amulet.md
Due: none

udpate input_datasets
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

able to load mounted datasets
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/amlt_singularity_cpath.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Able to load data from mounted data path
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Configure outputs to show in AML UI
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/amlt_singularity_cpath.yml
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

clean up
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure

bug fix
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Update config file
  hi-ml-cpath/amlt_singularity_cpath.yml
Due: hi-ml, hi-ml-cpath

Remove print statements
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

move to fixed environment
  hi-ml/environment.yml
  hi-ml/primary_deps.yml
Due: hi-ml

seeding
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

docu
  docs/source/runner.md
Due: none

test fix
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

moving locking script
  create_and_lock_environment.sh
Due: none

fix display name
  hi-ml/src/health_ml/runner.py
Due: hi-ml

bug fix
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix accidental import
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Update docs
  docs/source/submitting_via_amulet.md
Due: none

test fix
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

Add info on distributing jobs
  docs/source/submitting_via_amulet.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure

Revert "move to fixed environment"
  hi-ml/environment.yml
  hi-ml/primary_deps.yml
Due: hi-ml

Revert "moving locking script"
  hi-ml-cpath/create_and_lock_environment.sh
Due: hi-ml, hi-ml-cpath

Change log to print for visibility in distributed logs
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
Due: hi-ml, hi-ml-azure

PR comments
  docs/source/runner.md
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

doc
  hi-ml/src/health_ml/lightning_container.py
Due: hi-ml

test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

ENH: Add a way of quickly starting runs with different seeds (#597)
  docs/source/runner.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

Address PR comments and flake8
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure

remove repeated package
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

Update docs/source/submitting_via_amulet.md
  docs/source/submitting_via_amulet.md
Due: none

Add .amltignore
  .amltignore
Due: none

ENH: Submit jobs to Singularity via Amulet (#596)
  .amltignore
  docs/source/submitting_via_amulet.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/amlt_singularity_cpath.yml
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

ENH: Use a locked environment hi-ml folder (#598)
  create_and_lock_environment.sh
  hi-ml/environment.yml
  hi-ml/primary_deps.yml
Due: hi-ml

Add sleep as suggested by Yali
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

integrate find_lr
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml
