Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

ENH: Extract coordinates from tensors metada (#677)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/heatmap_utils.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-cpath

wip updating tiles config
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-cpath

add workspace_config_path
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

ovveride default_datastore
  hi-ml/src/health_ml/runner.py
Due: hi-ml

add test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

core code to choose exp name
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

using the new exp name function
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/testhiml/testhiml/test_serialization.py
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure

ENH: Enable custom workspace config path (#678)
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

ENH: Enable custom datastore name when running outside AML (#679)
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

add tag arg to all smoke tests
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

cleaning up string
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

setting env variable in workflow
  .github/actions/prepare_cpath_environment/action.yml
  .github/workflows/hi-ml-pr.yml
Due: none

add action
  .github/actions/cancel_azureml_jobs/action.yml
  .github/actions/cancel_azureml_jobs/azureml-conda-environment.yml
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
Due: none

use action
  .github/workflows/cpath-pr.yml
Due: none

use action in hi-ml
  .github/workflows/hi-ml-pr.yml
Due: none

fix import error
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
Due: hi-ml

cast to int
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

adding checkout
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

fix mypy, flake, pyright
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure

adding run duration to smoke tests
  hi-ml-cpath/Makefile
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-cpath

fixing call syntax
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

fix conda reference
  .github/actions/cancel_azureml_jobs/action.yml
  .github/actions/cancel_azureml_jobs/azureml-env.yml
Due: none

BUG: Cast true labels to int in results dictionary (#682)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

set env correctly
  .github/actions/cancel_azureml_jobs/action.yml
Due: none

dummy change to test
  .github/actions/cancel_azureml_jobs/action.yml
Due: none

another dummy change
  .github/actions/cancel_azureml_jobs/action.yml
Due: none

simplify experiment name setting
  .github/actions/cancel_azureml_jobs/action.yml
  .github/actions/prepare_cpath_environment/action.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

fix tests
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure

cleanup of more experiment names
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure

fix wrong chars in experiment name
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

ENH: Group AML experiments by PR number (#681)
  .github/actions/cancel_azureml_jobs/action.yml
  .github/actions/cancel_azureml_jobs/azureml-env.yml
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
  .github/workflows/cpath-pr.yml
  .github/workflows/hi-ml-pr.yml
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml-cpath/Makefile
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_serialization.py
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Compute and upload coverage for hi-ml-multimodal
  .codecov.yml
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/Makefile
Due: hi-ml

Fix comment
  .github/workflows/multimodal-pr.yml
Due: none

Remove trailing backslash
  hi-ml-multimodal/Makefile
Due: hi-ml

Use one-liner for pytest command
  hi-ml-multimodal/Makefile
Due: hi-ml

Increase logging threshold for tests
  hi-ml-multimodal/pytest.ini
Due: hi-ml

Refer to CONTRIBUTING for list valid prefixes
  .github/pull_request_template.md
Due: none

Add coverage to test requirements
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml

Fix path to docs
  .github/pull_request_template.md
Due: none
