Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

rebase unecessary changes
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

ignore PL warnings
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

address PR comments
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

use permalinks
  docs/source/checkpoints.md
Due: none

new location for default doker image
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml

add wait for completion, defautl docker
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

BUG: Fix hanging smoke tests (#666)
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/scripts/aggregate_metrics_crossvalidation.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

update env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

monaiadd tests
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-cpath

fix waiting logic and test
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix gpu tests
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
Due: hi-ml, hi-ml-cpath

fix metatensor error
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-cpath

wip fix broken tests
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

fix all tests
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
Due: hi-ml, hi-ml-cpath

test
  hi-ml-multimodal/notebooks/utils.py
  hi-ml-multimodal/notebooks/zero_shot.ipynb
Due: hi-ml

fixed test, reduced waiting time
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

import ordering
  hi-ml/src/health_ml/runner.py
Due: hi-ml

remove premalinks check fron precommit hooks
  .pre-commit-config.yaml
  docs/source/checkpoints.md
Due: none

Perform biovil zeroshot on CheXpert
  hi-ml-multimodal/notebooks/biovil_chexpert.csv
  hi-ml-multimodal/notebooks/zero_shot.ipynb
Due: hi-ml

BUG: Remove permalinks checks from precommit hooks (#667)
  .pre-commit-config.yaml
Due: none

add comment to explain why we need SplitDimd
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

use micro accuracy
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

BUG: Use micro average for MultiClassAccuracy (#671)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

ENH: Upgrade monai to 1.0.1 (#668)
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

simplify coodinates
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

swap x and y
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

scale coordinates
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

deprecate other formats than MetaTensor
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

fix mypy and test failures
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

wip add coordinates scale
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/heatmap_utils.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

refactor loadROId transforms
  .isort.cfg
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

wip refactor
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

add loading tests
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/scripts/mount_azure_dataset.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

update PR
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

flake8 + mypy
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

skip test
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

fix test reproducinility
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-cpath

linting
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-cpath
