Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

add workflow params validation
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

fix tests
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Download Checkpoints across AML workspaces (#642)
  docs/source/checkpoints.md
  docs/source/index.rst
  docs/source/runner.md
  hi-ml-cpath/Makefile
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

Fix tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/make_tests.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

Address PR comments
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Address PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_encoders.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Fix tests
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

try to fix test
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix blank lines
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix html report bugs
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix for missing rounds
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
Due: hi-ml, hi-ml-cpath

add pl_replace_sampler_ddp flag
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

set sampler for training
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

update datamodules
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-cpath

fix for keyerror when file downloaded
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
Due: hi-ml, hi-ml-cpath

wip run validation a single device
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

add openslide
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

seperate batch_sizes
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-cpath

revert changes due to package mismatch
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix azure-mgt-core problem
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-cpath

add max_epochs_dict tests
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-cpath

fix test error
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
Due: hi-ml, hi-ml-cpath

replace MLFlowLogger with PL implementation
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/lightning_loggers.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

flake8
  hi-ml/src/health_ml/utils/lightning_loggers.py
Due: hi-ml

remove package requirement
  hi-ml-cpath/requirements_build.txt
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

wip debugging
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

wip debugging
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

fix when no epochs logged
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
Due: hi-ml, hi-ml-cpath

wip tests
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
Due: hi-ml, hi-ml-cpath

wip sampler
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

fixbug
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

wip single device val
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

More PR comments
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/utils/lightning_loggers.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure
