Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

Add some more pytest requirements
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml

ENH: Use module-level logger in hi-ml-multimodal
  hi-ml-multimodal/src/health_multimodal/text/data/io.py
Due: hi-ml

Revert "Use one-liner for pytest command"
  hi-ml-multimodal/Makefile
Due: hi-ml

Replace special characters in experiment name with underscores
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
Due: none

FIX: Replace special characters in experiment name with underscores (#688)
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
Due: none

add extra env variables
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

fix mypy
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

remove deprecated env var
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

ENH: Enable adding additional env variables from container (#689)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

DOC: Refer to CONTRIBUTING for list valid prefixes (#686)
  .github/pull_request_template.md
Due: none

TEST: Update CI to compute and upload coverage for hi-ml-multimodal (#685)
  .codecov.yml
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/pytest.ini
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml

update tiffile and cucim
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

ENH: Upgrade cucim and tiffile (#691)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

remove DATASET_MOUNT_CACHE_SIZE
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

BUG: Retire DATASET_MOUNT_CACHE_SIZE (#692)
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

update env
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-cpath

update env
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

ENH: Use module-level logger in hi-ml-multimodal (#687)
  hi-ml-multimodal/src/health_multimodal/text/data/io.py
Due: hi-ml

utils
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

wip debugging
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

context manager for timing
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

no shuffle
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

add array shape
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

comment out monai code
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

reset mlflow logging
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

comment all logs
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

pin false
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

compare with main
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-cpath

wip debugging
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

disable intermediate val outputs
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

refactor loding transform to log warning with slide id
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

add TrainingDiagnosisCallback
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/utils/diagnostics.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

add logging with pid/rank and tests
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/testazure/testazure/test_logging.py
Due: hi-ml, hi-ml-azure

add timer wrapper transform
  hi-ml-azure/testazure/testazure/test_logging.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix import
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

add loading test
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
