Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

DOC: Add documentation about dataset creation and PANDA model (#397)
  .amlignore
  .gitignore
  hi-ml-histopathology/docs/README.md
  hi-ml-histopathology/docs/azure_setup.md
  hi-ml-histopathology/docs/dsa_setup.md
  hi-ml-histopathology/docs/dsa_usage.md
  hi-ml-histopathology/docs/panda_model.md
  hi-ml-histopathology/docs/public_datasets.md
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
  hi-ml-histopathology/docs/tcga-crck_model.md
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/scripts/tcga_dataset_prep.py
Due: hi-ml, hi-ml-histopathology

revert changes and correct test
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

Pin msrest to avoid error since SerializationError removed in latest package version
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

ignore nans
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

ENH: Pin msrest to avoid missing import (#424)
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

Add DSA screenshot
  docs/source/dsa.md
  docs/source/dsa_heatmap.png
Due: none

DOC: Add documentation on DSA
  docs/source/dsa.md
  docs/source/index.rst
Due: none

Fix DSA screenshot
  docs/source/dsa_heatmap.png
Due: none

DOC: Changed outdate model name (#419)
  docs/source/runner.md
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

wip
  docs/source/histopathology.md
  docs/source/runner.md
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

STYLE: Set default PR title for pre-commit CI bot (#413)
  .pre-commit-config.yaml
Due: none

wip removing azureml flag
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

DOC: Adding a high-level description of our software design process (#380)
  docs/source/index.rst
  docs/source/software_design_overview.md
Due: none

pin cloudpickle to fix warnings
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

Update hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Clarify section on blob containers and assetstores
  docs/source/dsa.md
Due: none

Clarify section on app registration
  docs/source/dsa.md
Due: none

ENH: Pin cloudpickle to fix warnings in Azure ML (#426)
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

Add explanations on script arguments
  docs/source/dsa.md
Due: none

rebase himl changes
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/configs/hello_world.py
Due: hi-ml, hi-ml-azure

DOC: Add documentation on DSA (#417)
  docs/source/dsa.md
  docs/source/dsa_heatmap.png
  docs/source/index.rst
Due: none

sfixing collate
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

docu
  docs/source/runner.md
Due: none

BUG: Add path resolution in dataset mounting script (#416)
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

ssl docs
  hi-ml-histopathology/docs/doc_images/example_config.png
  hi-ml-histopathology/docs/doc_images/learning_rate.png
  hi-ml-histopathology/docs/doc_images/online_eval.png
  hi-ml-histopathology/docs/doc_images/train_loss.png
  hi-ml-histopathology/docs/doc_images/val_loss.png
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
Due: hi-ml, hi-ml-histopathology

updating transform parameters
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

formatting
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
Due: hi-ml, hi-ml-histopathology

more formatting
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
Due: hi-ml, hi-ml-histopathology

more formatting 2
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
Due: hi-ml, hi-ml-histopathology

more formatting 3
  hi-ml-histopathology/docs/ssl_on_tile_dataset.md
Due: hi-ml, hi-ml-histopathology

seperating command line on its own line
  docs/source/runner.md
Due: none

DEL: Retire the --azureml flag of the runner (#420)
  docs/source/histopathology.md
  docs/source/runner.md
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/Makefile
  hi-ml/.vscode/launch.json
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/.vscode/launch.json
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

update doc
  docs/source/runner.md
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

add additional val epoch
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

wip
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

update docs
  hi-ml/src/health_ml/configs/hello_world.py
Due: hi-ml

DOC: Fix out of sync docs and typo (#428)
  docs/source/runner.md
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
