Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

🏷️ Fix typing
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Add docstring to forward pass method
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml, hi-ml-multimodal

fix env check logic
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

doc cleanup
  docs/source/azure_setup.md
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

update env
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

wip vit
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

adding tests in a new file
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

removing obsolete tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

flake8
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Revert "disable tests, part 2"
  .github/workflows/cpath-pr.yml
Due: none

Revert "disable smoke tests"
  .github/workflows/cpath-pr.yml
Due: none

refactoring of `check` make target
  .github/workflows/hi-ml-pr.yml
  Makefile
  hi-ml-azure/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure

refactoring pytest targets
  .github/workflows/hi-ml-pr.yml
  Makefile
  hi-ml-azure/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure

fix test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Simplify makefile targets (#728)
  .github/workflows/hi-ml-pr.yml
  Makefile
  hi-ml-azure/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure

change primary_deps
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

update env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

refactoring of get_workspace
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

removing obsolete code
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

re-enable test
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
Due: hi-ml, hi-ml-cpath

PR comments and flake
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml, hi-ml-azure

ENH: Re-enable a test for SSL encoders (#726)
  docs/source/azure_setup.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/testSSL/testSSL/utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Change return intermediate argument name
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml, hi-ml-multimodal

Add unit test for intermediate layers
  hi-ml-multimodal/test_multimodal/image/model/test_resnet.py
Due: hi-ml, hi-ml-multimodal

wip
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

run val as part of inference only
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

upgarde env
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

torchvision 13
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

remove and add comments
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Minor edits to improve readability
  hi-ml-multimodal/test_multimodal/image/model/test_resnet.py
Due: hi-ml, hi-ml-multimodal

ENH: Allow return of intermediate layers from ResNet (#724)
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
  hi-ml-multimodal/test_multimodal/image/model/test_resnet.py
Due: hi-ml, hi-ml-multimodal

fix var name
  docs/source/multimodal.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

update cudatools
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

add ckpt_path
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

fix typing
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

update test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
