Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

Remove flag for runtime
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

update requirements files
  hi-ml-multimodal/requirements_build.txt
  hi-ml/environment.yml
Due: hi-ml

checkpoint path
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

fix flake8 and mypy complaints
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

BUG: Checkpoint path not picked up correctly (#630)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

Address more PR comments
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/lightning_loggers.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Address more PR comments and fix test
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Address more PR comments
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

flake8
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

add support to load WSI without masks
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

move param from constructor
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

add 0, 0 location
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

enable crossvalidation outside aml for amulet jobs
  hi-ml/src/health_ml/runner.py
Due: hi-ml

ENH: Enable running cross validation via amulet (#631)
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Ignore PL warnings
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml/src/health_ml/lightning_container.py
Due: hi-ml, hi-ml-cpath

add test
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

addd extra validation of model weights
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

reset ml runner for tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

use LoadROId transform
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

Fix test
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

fix azure dataset test
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

add test
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Validate model weights before inference (#635)
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure

FIX: Fix test_get_dataset (#636)
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

always shuffle tiles
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

ENH: Enable heatmaps and thumbnails plots for WSI without masks (#637)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

Add v2 tests
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

BUG: Set instance shuffling to True (#638)
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

update docs
  docs/source/runner.md
Due: none

fix himl test and local smoke tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix experiment name
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

update config for multiple inputs
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure

run extra validation step on a single gpu
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

dummy commit
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

fix test
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

Update hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

ENH: Run extra validation epoch on a single gpu (#639)
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

split thumbnail and heatmaps plots
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

reverse order
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
