Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

Remove unused character for f-string
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

Fix variable name
  .github/workflows/multimodal-pr.yml
Due: none

Fix typo
  .github/workflows/multimodal-pr.yml
Due: none

Remove version from PIP install
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

add pl_sync_batchnorm flag
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

change default to TRue
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

add scale_intensity param
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

add tcga unit test
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

update doc and use mock generator for tests
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

sanity checks
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

set default to True
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

add clarification comment
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

update docs
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

restore
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

ENH: Add pl_sync_batchnorm flag (#571)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml

pick a random sample for test
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

add debug_ddp flag
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

ignore mypy type error
  hi-ml/src/health_ml/runner.py
Due: hi-ml

fix test test_submit_to_azureml_if_needed
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

ENH: Add smoke test for flexible finetuning (#563)
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

Update hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml

Update hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

fix typing
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

update tests checks
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

ENH: Add debug_ddp flag (#573)
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

add specific encoders for transferaibility
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix if statements
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

MNT: Install PyPI package in demo notebook (#570)
  .github/workflows/multimodal-pr.yml
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

update docstring
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

Update hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

rename param
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Parameterize tiles intensity scaling (#572)
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

update encoders
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath
