Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

local checkpoint
  hi-ml-cpath/src/health_cpath/models/ctranspath.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml, hi-ml-cpath

normalize background, hed jitter call
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml, hi-ml-cpath

correct comment
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml

wip
  hi-ml-cpath/src/health_cpath/preprocessing/crop_and_conversion.py
  hi-ml-cpath/src/health_cpath/utils/crop_conversion_config.py
Due: hi-ml, hi-ml-cpath

wip log scale
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay_extra.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/split_utils.py
Due: hi-ml, hi-ml-cpath

introduce an abstracted image model class
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

autopep8 formatting
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

add abstract image model class to the init files
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
Due: hi-ml, hi-ml-multimodal

Update image URL
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

Remove comments from hi-ml-multimodal's flake8
  hi-ml-multimodal/.flake8
Due: hi-ml, hi-ml-multimodal

Remove comments and use extend-ignore
  hi-ml-azure/.flake8
  hi-ml-cpath/.flake8
  hi-ml/.flake8
  new_project_template/.flake8
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Set evaluation mode to compute number of dimensions
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

Delete multimodal.md
  docs/source/multimodal.md
Due: none

Copy hi-ml-multimodal README when building docs
  docs/Makefile
Due: none

Ignore file created while building the docs
  .gitignore
Due: none

Add context manager to restore training mode
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

Replace arXiv links with ECCV links
  hi-ml-multimodal/README.md
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
  hi-ml-multimodal/src/health_multimodal/text/model/modelling_cxrbert.py
Due: hi-ml, hi-ml-multimodal

add swin tranformer and projection layer
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

update env, add timm
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

remove 2
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

add test
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix errors in launch.json
  hi-ml-cpath/.vscode/launch.json
Due: hi-ml, hi-ml-cpath

FIX: Copy hi-ml-multimodal README while building documentation (#811)
  .gitignore
  docs/Makefile
  docs/source/multimodal.md
Due: none

add LoadRandomSubROId
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

add comments
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

ENH: Add Swin Transformer Encoder and Projection layer (#810)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix linting
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

fix typo
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

fxi section selection
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

test hed jitter
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

test dummy bag
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

flake8 error
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

improve docs
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

replace asserts
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

update name to BaseImageModel and inherit from ABC
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

fix scales
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

ENH: Add background normalization transform (#803)
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml, hi-ml-cpath

Revert "Set evaluation mode to compute number of dimensions"
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
