Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

update docs
  docs/source/runner.md
Due: none

namespace fixes
  hi-ml-cpath/src/health_cpath/SSL/configs/CXR_SSL_configs.py
  hi-ml-cpath/src/health_cpath/SSL/utils.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml

Update .github/workflows/multimodal-pr.yml
  .github/workflows/multimodal-pr.yml
Due: none

remove classificaiton folder
  hi-ml-cpath/src/health_cpath/configs/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml

exclusive check
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

remove classification folder
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/configs/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml

remove conda merging
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-azure

cluster name
  hi-ml-cpath/.vscode/launch.json
Due: hi-ml

removing obsolete package
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-azure

test fix
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

flake
  hi-ml/src/health_ml/runner.py
Due: hi-ml

partially revert 348da3a13b322038
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-azure

Add makefile variables to avoid repetition
  hi-ml-cpath/Makefile
Due: hi-ml

test fix
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

ENH: Add github workflow for smoke testing DeepSMILEPandaSlidesBenchmark (#506)
  .github/workflows/cpath-pr.yml
  create_config.sh
  hi-ml-cpath/Makefile
Due: hi-ml

fixed setup
  hi-ml-cpath/setup.py
Due: hi-ml

workflow
  .github/workflows/cpath-pr.yml
Due: none

get_worksapec within github agent
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

same for load_model_chkpt test
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix: wrong folder was built
  .github/workflows/cpath-pr.yml
Due: none

publish by version
  .github/workflows/cpath-pr.yml
Due: none

ENH: Split run requirements for cpath folder into file (#519)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/README.md
  hi-ml-cpath/create_and_lock_environment.sh
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/requirements_test.txt
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml, hi-ml-azure

after Daniel's review
  hi-ml-cpath/src/health_cpath/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
  hi-ml-cpath/testhisto/testhisto/mocks/base_data_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_create_tiles.py
Due: hi-ml

update readme
  docs/source/runner.md
Due: none

update run_inference_only doc
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

update error message
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

update DL assertion
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml, hi-ml-azure

use patch.multiple
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Update tiling script (#516)
  hi-ml-cpath/README.md
  hi-ml-cpath/src/health_cpath/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/create_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/testhisto/testhisto/mocks/base_data_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_create_panda_tiles.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_create_tiles.py
  hi-ml-histopathology/src/histopathology/preprocessing/README_slides_and_tiles.md
Due: hi-ml, hi-ml-histopathology

update ssl_ckpt_run_id docs
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml

adding package smoketest
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/requirements_run.txt
Due: hi-ml

remove _get_worksapce
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

update environment after including hi-ml dependency
  hi-ml-cpath/create_and_lock_environment.sh
  hi-ml-cpath/environment.yml
Due: hi-ml

reduce dependency of health_cpath on SSL
  hi-ml-cpath/src/SSL/data/cifar_datasets.py
  hi-ml-cpath/src/SSL/data/cxr_datasets.py
  hi-ml-cpath/src/health_cpath/datasets/dataset_return_index.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_crck_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/testSSL/testSSL/configs_for_tests.py
Due: hi-ml

fix publishing conditions
  .github/workflows/cpath-pr.yml
Due: none

PR comments
  hi-ml-cpath/setup.py
Due: hi-ml

rename checkpoint params
  docs/source/runner.md
  docs/source/self_supervised_models.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure

precompute sum for validation checks
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

fix super callbacks
  hi-ml/src/health_ml/configs/hello_world.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
