Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

unify the encoder types
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
  hi-ml-multimodal/test_multimodal/image/test_image_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml, hi-ml-multimodal

Fix indentation
  .github/workflows/multimodal-pr.yml
Due: none

add get_encoder_from_type unify the initialisation of single and multi image models
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

Update hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

ENH: Enable flexible resolution unit for mock data generator (#827)
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

PR comments
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

revert docu change
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
Due: hi-ml, hi-ml-cpath

fix pytest and notebook errors
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

update the encoder to support multi-image backbone
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

add unit-test
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

FIX: Fix notebook CI when trying to merge from fork (#829)
  .github/workflows/multimodal-pr.yml
Due: none

extend the tests
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

remove inputimagetype
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
Due: hi-ml, hi-ml-multimodal

Add base encoder class
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

Add base encoder class
  .vscode/settings.json
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

add multi image model
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

further simpliyfy the check
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
Due: hi-ml, hi-ml-multimodal

add multi-image-model test
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

update unit test
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml, hi-ml-multimodal

mypy fix
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

work in progress
  hi-ml-azure/src/health_azure/himl_delete_runs.py
Due: hi-ml, hi-ml-azure

bug repro
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

fix tests
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Add LoadMaskSubROId transform (#828)
  hi-ml-cpath/src/health_cpath/preprocessing/loading.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_loading.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

upgrade pytorch
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

test for dictionary comparison
  hi-ml/src/health_ml/utils/regression_test_utils.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
Due: hi-ml

add PL static graph
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

fix batch norm
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

encoder_forward
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

update docker image
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

upgrade pytorch to 1.11
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix tests
  hi-ml-cpath/testhisto/test_data/montages/montage_excluded.png
  hi-ml-cpath/testhisto/test_data/montages/montage_from_folder.png
  hi-ml-cpath/testhisto/test_data/montages/montage_included.png
  hi-ml-cpath/testhisto/test_data/montages/montage_via_args.png
Due: hi-ml, hi-ml-cpath

use monai dev
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

add static graph flag
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

fix transfom gridpatch
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
Due: hi-ml, hi-ml-cpath

clean deepmil
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
