Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

update default to 1 week
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

remove debug run id
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

update dox
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-cpath

big refactor
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml, hi-ml-cpath

wip fix tests
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix mypy
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-cpath

fix circul;ar dependencies
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

dummy commit
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

create and register v2 environments
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

Use default datastore if name not provided
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

fix pyright
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

mypy
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

fix mypy
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
Due: hi-ml, hi-ml-cpath

generic test + docs
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml, hi-ml-cpath

wip fix tests
  hi-ml-cpath/Makefile
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml, hi-ml-cpath

wip fix test
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
Due: hi-ml, hi-ml-cpath

Separate out v1 and v2 code
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/testSSL/testSSL/test_encoders.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

flake8 and mypy
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

make shebang script executable
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

make shebang script executable
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
Due: hi-ml, hi-ml-azure

pyright
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

remove hardcoded None
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

fix hi-ml test
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

fix cpath test
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

revert renamminh
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix smoke tests
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-cpath

add init call
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
Due: hi-ml, hi-ml-cpath

fix last tests
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml, hi-ml-cpath

Update hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

wip PR comments
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

Apply suggestions from code review
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

rename func/args to generic names
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

add tests fo default SSL checkpoint
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

pyright and pytest
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Address PR comments
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

flake8
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

ads docs
  docs/source/checkpoints.md
  docs/source/index.rst
  docs/source/runner.md
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml, hi-ml-cpath

fix indent
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

update docs
  docs/source/checkpoints.md
Due: none

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
