Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

move visualisation and update the notebook
  multimodal/health_multimodal/common/visualization.py
  multimodal/health_multimodal/examples/phrase_grounding.ipynb
Due: none

update the import
  multimodal/health_multimodal/examples/phrase_grounding.ipynb
Due: none

wip fix tests
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

Use linear interpolation for similarity maps
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Remove phrase grounding example Python file
  multimodal/health_multimodal/examples/phrase_grounding.py
Due: none

Stop trying to compute and upload coverage
  .github/workflows/multimodal-pr.yml
Due: none

Fix float comparison in test
  multimodal/test_multimodal/text/model/test_modelling_cxrbert.py
Due: none

add another demo example, unifying plotting
  multimodal/health_multimodal/common/visualization.py
  multimodal/health_multimodal/examples/phrase_grounding.ipynb
Due: none

Fix some mypy errors
  multimodal/health_multimodal/common/visualization.py
  multimodal/test_multimodal/image/data/test_io.py
Due: none

fix pyright and test failure
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

try fix environment problem
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

Fix similarity map indexing
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Fix warning about interpolation
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Remove hard-coded strings from notebook
  multimodal/health_multimodal/examples/phrase_grounding.ipynb
Due: none

Ignore mypy error in test
  multimodal/test_multimodal/text/test_inference_engine.py
Due: none

Add typing hints to visualization function
  multimodal/health_multimodal/common/visualization.py
Due: none

test on gpu
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

test on gpu
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-histopathology

flake8
  multimodal/health_multimodal/image/model/model.py
  multimodal/health_multimodal/image/model/modules.py
  multimodal/test_multimodal/image/model/test_model.py
  multimodal/test_multimodal/text/test_inference_engine.py
Due: none

PR comments
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-histopathology

mypy fixes
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
Due: hi-ml, hi-ml-histopathology

Start adding docs
  docs/source/index.rst
  docs/source/multimodal.md
Due: none

mypy types
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-histopathology

test seed function
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

Address PR comments
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

address pr comment
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

ENH: Add makefile commands for smoke tests (#442)
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

wip tests
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

fix tests
  hi-ml-histopathology/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-histopathology

wip tests
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Move notebook outside Python package
  multimodal/notebooks/phrase_grounding.ipynb
Due: none

wip
  hi-ml-histopathology/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-histopathology

Run notebook in CI
  .github/workflows/multimodal-pr.yml
  multimodal/requirements_build.txt
Due: none

fix mypy and tests
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

extend plots tests
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Move requirement
  multimodal/requirements_build.txt
  multimodal/requirements_test.txt
Due: none

fix
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Add call to pytest and install kernel for papermill
  .github/workflows/multimodal-pr.yml
Due: none

Move requirements to file
  .github/workflows/multimodal-pr.yml
  multimodal/requirements_test.txt
Due: none

fix test outputs
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology
