Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

wip refinements
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

add docs
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

flake8
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

fix tests
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

wip tests
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

wip
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-histopathology

problematic slides now skipped
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

cleanup
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

justmycode
  himl-projects.code-workspace
Due: none

better import sorting
  hi-ml-histopathology/.vscode/settings.json
Due: hi-ml, hi-ml-histopathology

wip docs
  docs/source/debugging.md
  docs/source/index.rst
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

first draft
  docs/source/debugging.md
  docs/source/images/tensorboard/change_views.png
  docs/source/images/tensorboard/distributed.png
  docs/source/images/tensorboard/gpu_kernel.png
  docs/source/images/tensorboard/memory.png
  docs/source/images/tensorboard/operator.png
  docs/source/images/tensorboard/overview.png
  docs/source/images/tensorboard/palette.png
  docs/source/images/tensorboard/select_dir.png
  docs/source/images/tensorboard/tensorboard_palette.png
  docs/source/images/tensorboard/tensorboard_select_dir.png
  docs/source/images/tensorboard/trace.png
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

add unit tests
  docs/source/debugging.md
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

more tests
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

remove import
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

rebase to remove formating changes
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

add changes
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

typos
  docs/source/debugging.md
Due: none

mypy
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

style
  docs/source/debugging.md
Due: none

Update debugging.md
  docs/source/debugging.md
Due: none

rename PlotOptions enum
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Update hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

remove unecessary check
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Improve docstring by adding info on percentiles
  multimodal/health_multimodal/image/data/io.py
Due: none

reduce verbosity
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Use Path class for path parameter
  multimodal/health_multimodal/common/visualization.py
  multimodal/health_multimodal/image/data/io.py
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/test_multimodal/image/data/test_io.py
Due: none

Add typing hints in notebook functions
  multimodal/notebooks/phrase_grounding.ipynb
Due: none

Add clarifying comment
  multimodal/health_multimodal/image/data/io.py
Due: none

Move notebooks command to local Makefile
  .github/workflows/multimodal-pr.yml
  multimodal/Makefile
Due: none

Remove unused variables
  multimodal/health_multimodal/common/visualization.py
Due: none

update with reviews
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/src/histopathology/utils/viz_utils.py
Due: hi-ml, hi-ml-histopathology

remove str from enum
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

use collection instead of Set
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

use context managers for mocking functions
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Add docstrings to visualization functions
  multimodal/health_multimodal/common/visualization.py
Due: none

Use Set in containers
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
Due: hi-ml, hi-ml-histopathology

Add Microsoft file header
  multimodal/health_multimodal/image/data/transforms.py
Due: none
