Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

ENH: Improve Amulet support and documentation (#615)
  .amltignore
  .gitignore
  docs/source/amulet/amulet_script.py
  docs/source/amulet/amulet_script.rst
  docs/source/amulet/config.rst
  docs/source/amulet/config.yml
  docs/source/amulet/environment.rst
  docs/source/amulet/environment.yml
  docs/source/amulet_example.md
  docs/source/amulet_overview.md
  docs/source/index.rst
  hello_world.yml
  hi-ml-azure/src/health_azure/amulet.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/runner.py
  pyrightconfig.json
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Run HelloWorld on AML
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/new_utils.py
Due: hi-ml, hi-ml-azure

wip callback
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/callbacks.ipynb
  hi-ml-cpath/src/health_cpath/models/callbacks.py
Due: hi-ml, hi-ml-cpath

wip callback
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.ipynb
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-cpath

Add MLFlowLogger
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml

fix everything
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

revert shuffling change
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

fix gathering
  hi-ml-cpath/src/health_cpath/utils/callbacks.ipynb
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix merge
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

tight layout
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

check for Nans
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add comment
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

remove notebook
  hi-ml-cpath/src/health_cpath/utils/callbacks.ipynb
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

linting
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

[WIP] add docs
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

wip docs
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

additional exception handling
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add docs
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

save loss_ranks
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

treu grid
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

Add screenshots
  hi-ml-multimodal/screenshots/error_correction.png
  hi-ml-multimodal/screenshots/interactive_attention.png
  hi-ml-multimodal/screenshots/latent_space.png
  hi-ml-multimodal/screenshots/latent_space_rsna_pca.png
  hi-ml-multimodal/screenshots/report_assistant.png
  hi-ml-multimodal/screenshots/zero_shot_1.png
Due: hi-ml

fix small bugs
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

sanity checks
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add optional tile ids saving param
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

Fix logging
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml

small fixes
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

include methods for v2 datastores and datasets
  hi-ml-azure/src/health_azure/__init__.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Hack to create v2 data Inputs
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

fixes due to testings
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

test on_train_epoch_end
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

test all callback functions
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

revert phrase grouding changes
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml

update checkpoint
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

remove slides with loss values that have some issues
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix duplicate slides issue
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix slides duplicates issue
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

remove empty lines
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

fix False if statement
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

zfill epochs
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath
