Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

Fix more tests in submission test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml, hi-ml-azure

test for env variables
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

pyright
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

FIX: Stop replacing dashes with underscores in experiment name (#884)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

FIX: Fix env variables not passed to AML SDK v2 jobs (#885)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix unbound variable problem
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

tests for local datasets
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml, hi-ml-azure

remove the "actual" variables
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

BUG: Fix for duplicate authentication (#878)
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml-cpath/src/health_cpath/scripts/mount_azure_dataset.py
  hi-ml-cpath/testhisto/testhisto/mocks/utils.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

warning to info
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
Due: hi-ml, hi-ml-cpath

BUG: TIFF conversion enforces resolution unit to be centimeter (#887)
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

add densenet
  hi-ml-cpath/src/SSL/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix and test
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner_base.py
Due: hi-ml, hi-ml-cpath

cleanup
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

space
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

change default to 1
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

class weights
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

weights for num_classes = 1
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

test
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

pyright
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/utils/split_dataset.py
Due: hi-ml, hi-ml-cpath

mypy and test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/utils/split_dataset.py
  hi-ml/testhiml/testhiml/test_split_dataset.py
Due: hi-ml, hi-ml-cpath

remove outdated doc
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

test passing with simpler code structure
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix base image
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

BUG: DeepMIL model uses training data even when running in eval mode (#889)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/utils/split_dataset.py
  hi-ml/testhiml/testhiml/test_split_dataset.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix key error
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
Due: hi-ml, hi-ml-cpath

add densenet encoder
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

add densenet
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

fix in features
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

BUG: Fix KeyError when converting svs to tiff (#891)
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
Due: hi-ml, hi-ml-cpath

add tests
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

remove blank lines
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

fix typing
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

refactor base checkpointing class
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix batch norm
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath
