Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

compose with base preprocesing
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

ENH: Add specific ImageNet encoders for transferability study (#574)
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/encoders.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

unify author name, string quotes
  hi-ml-azure/setup.py
  hi-ml-cpath/setup.py
  hi-ml/setup.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

unify quotes
  hi-ml-cpath/setup.py
Due: hi-ml, hi-ml-cpath

DOC: Use a consistent team name across all packages (#575)
  hi-ml-azure/setup.py
  hi-ml-cpath/setup.py
  hi-ml/setup.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

remove flag
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

remove metadata from validation
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
Due: hi-ml, hi-ml-cpath

parameterize metadat validation
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
Due: hi-ml, hi-ml-cpath

fix warning
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
Due: hi-ml, hi-ml-cpath

conda activate himlRevert "remove flag"
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

force new runtime
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

add tests
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_tiles.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
Due: hi-ml, hi-ml-cpath

reorganize and make consistent metrics
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

alphabetical order
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

add PR comments
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_tiles.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
Due: hi-ml, hi-ml-cpath

quick fix
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
Due: hi-ml, hi-ml-cpath

remove kwargs
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
Due: hi-ml, hi-ml-cpath

code and tests
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix test
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
Due: hi-ml, hi-ml-cpath

remove hardcoded threshold and change matrix normalization
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

BUG: Fix SettingWithCopyWarning and parametrize metadata validation (#577)
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_tiles.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
Due: hi-ml, hi-ml-cpath

fix probability in plots title
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

fix plots
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_0.1.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_1.2.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_2.4.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_3.6.png
  hi-ml-cpath/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-cpath/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Add/reorganise metrics and correctly normalise confusion matrix (#578)
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

use function to return plot titles
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

probs summed to 1
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

add more test cases
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_0.1.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_0.1_TP.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_1.2.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_1.2_TN.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_2.4.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_2.4_FP.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_3.6.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_3.6_FN.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

log only in single run
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure

flake fix
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

MD fixes
  docs/source/runner.md
Due: none

doc
  docs/source/runner.md
Due: none

simplify
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

test fixes
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml

2 test fixes
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml

correct mocking
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

BUG: Fix probability scores displayed on histo plots (#581)
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_0.1.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_0.1_TP.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_1.2.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_1.2_TN.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_2.4.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_2.4_FP.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_3.6.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/slide_3.6_FN.png
  hi-ml-cpath/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-cpath/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

cast binary labels into integers
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

add smoke test
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

remove aml from smoke test name
  .github/workflows/cpath-pr.yml
Due: none

adding PR plot to AML output
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
