Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

remove unrelated change
  .github/actions/cancel_azureml_jobs/cancel_aml_jobs.py
Due: none

wip
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
Due: hi-ml

test init inference
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix run_validaion tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix test
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

subsampled without replacement
  hi-ml-cpath/src/health_cpath/models/transforms.py
Due: hi-ml, hi-ml-cpath

update condition
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

♻️ Resolve PR comments
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🔥 Remove V1 SDK restriction from smoke tests
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

🐛 Fix missing change_working_directory
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Add strict v1 restriction to cpath smoke tests
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

BUG: Add waiting for job completion for SDK v2 (#669)
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-azure

adapt hed jitter to slides pipeline
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml

test for unique samples
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

flake8 error
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

separate test for only randomize
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

Update test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Remove print statement
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

BUG: Subsample tiles without replacement (#732)
  hi-ml-cpath/src/health_cpath/models/transforms.py
  hi-ml-cpath/testhisto/testhisto/models/test_transforms.py
Due: hi-ml, hi-ml-cpath

simplify runner logic for inference
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

cast path to str
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

wip test
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

update test init training and run training
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix test init_inference
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

wip fixing tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix all tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

clean up
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

Add back multimodal doc without symlink
  docs/source/multimodal.md
Due: none

reset comments
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

add mypy cache to makefiles
  hi-ml-azure/Makefile
  hi-ml-multimodal/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-multimodal

DRY, make less verbose
  Makefile
  hi-ml-azure/Makefile
  hi-ml-cpath/Makefile
  hi-ml-multimodal/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

delete offending link
  docs/source/multimodal.md
Due: none

modified amulet config
  hello_world.yml
Due: none

docker
  hi-ml/src/health_ml/runner.py
Due: hi-ml

ENH: Remove mypy cache folder in `make clean` (#735)
  Makefile
  hi-ml-azure/Makefile
  hi-ml-cpath/Makefile
  hi-ml-multimodal/Makefile
  hi-ml/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

fix assertion
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

ENH: Allow for distributed jobs in AML SDK v2 (#730)
  docs/source/multimodal.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

Apply suggestions from code review
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

Update hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml
