Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

rename to split labels default
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_datamodule_caching.py
Due: hi-ml, hi-ml-cpath

ENH: Make label_column an instance attribute (#538)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_crck_tiles_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_datamodule_caching.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_tcga_prad_dataset.py
  hi-ml-cpath/testhisto/testhisto/mocks/base_data_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/mocks/tiles_generator.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

wip tests
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Update panda_model.md
  docs/source/panda_model.md
Due: none

add unit test
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

change toy test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

update error message
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

update workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/credscan.yml
  .github/workflows/hi-ml-pr.yml
Due: none

Update .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update .github/workflows/cpath-pr.yml
  .github/workflows/cpath-pr.yml
Due: none

Update .github/workflows/credscan.yml
  .github/workflows/credscan.yml
Due: none

Update .github/workflows/hi-ml-pr.yml
  .github/workflows/hi-ml-pr.yml
Due: none

dummy commit
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

revert dummy
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

rebase worfklow
  .github/workflows/codeql-analysis.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/credscan.yml
  .github/workflows/hi-ml-pr.yml
Due: none

skip attention tests
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

skip test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

workaround to azureml runtime
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

explain why we skip test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

deprecate tune_classfier
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix mypy flake8
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

revert aml runtime fix, it doesn't seem to help
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Update TorchVision versions interval
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml

add resume_training flag
  docs/source/runner.md
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

wip
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

Update authors field
  hi-ml-multimodal/setup.py
Due: hi-ml

unskip test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

skip test again + ignore rmtree errors + remove uncessary context manager + rename enable_grad function
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

rebase test finetuini
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Remove keywords and unused path variable
  hi-ml-multimodal/setup.py
Due: hi-ml

Fix import
  hi-ml-multimodal/setup.py
Due: hi-ml

aml env var for common runtime
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

aml commom runtime true
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
