Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

BUG: Fix ordering of `local_datasets` (#794)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

PR comments
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

outputs handler
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

PR comments minor
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

remaining PR comments
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

remove keys
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

add warning if metadata not available
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

class method
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

format
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

doc cleanup
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

doc
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

doc
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

ENH: Stratify PR and ROC curves by metadata (#788)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/plot_roc_curve_stratify.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

smoke test, more docs
  .github/workflows/cpath-pr.yml
  docs/source/montage_creation.md
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

waiting for completion
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/scripts/create_montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
Due: hi-ml, hi-ml-cpath

better error handling
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

Heatmap uploading into folder
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

✨ Add identity based flag to experiment config
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml

✨ Add identity-based-auth flag handling
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_data/make_tests.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

doc
  docs/source/dsa.md
Due: none

✅ Fix tests
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

🚨 fix flake8
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

♻️ Address PR comments
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml, hi-ml-azure

more diagnostics
  .amlignore
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

disable multiprocess in most tests
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

parallel=1
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

BUG: Add flag for identity-based data access (#797)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_data/make_tests.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

adding flexible waiting
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
  hi-ml-cpath/testhisto/testhisto/utils/utils_testhisto.py
Due: hi-ml, hi-ml-cpath

wip
  docs/source/histo_workflow.md
  docs/source/histoqc.md
Due: none

diagnostics
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

fix bug in diagnostics
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

loop fix
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

PR comm
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

PR comms
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

doc
  docs/source/dsa.md
  docs/source/images/dsa_api_key.png
Due: none

udpate fix
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

Update hi-ml-cpath/src/health_cpath/utils/girder.py
  hi-ml-cpath/src/health_cpath/utils/girder.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
