Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

check pred_label and gt_label compatibility before pushing into heap
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

Return figure when plotting similarity map
  hi-ml-multimodal/src/health_multimodal/common/visualization.py
Due: hi-ml

ENH: Enable logging to AzureML when running training outside AzureML (#580)
  docs/source/runner.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure

FIX: Update env var settings for multi node (#588)
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

ENH: Add a way of quickly starting runs with different seeds (#597)
  docs/source/runner.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

ENH: Submit jobs to Singularity via Amulet (#596)
  .amltignore
  docs/source/submitting_via_amulet.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/amlt_singularity_cpath.yml
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix test
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

add comment
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Add essential changes from main (#602)
  .amltignore
  docs/source/runner.md
  docs/source/submitting_via_amulet.md
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/amlt_singularity_cpath.yml
  hi-ml-cpath/src/health_cpath/datasets/default_paths.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

wip
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml

test with higher num_top_slides
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

wip test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

add n_slides to ddp test
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

add aml run test
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

BUG: Fix top bottom tiles selection mismatch. (#599)
  hi-ml-cpath/src/health_cpath/utils/tiles_selection_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_tiles_selection_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Enable adding tags to aml runs from LightningContainer (#603)
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

add hyperdrive_arg_name
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
Due: hi-ml, hi-ml-cpath

rename crossval references to hyperdrive
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-cpath

rename split
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
Due: hi-ml, hi-ml-cpath

add global similarity comparison between text and image inputs
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
  hi-ml-multimodal/test_multimodal/image/test_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

rename the file to address pytest issue
  hi-ml-multimodal/test_multimodal/image/test_image_inference_engine.py
Due: hi-ml

update method naming -- PR comment
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

add support for multi prompt similarities
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

protect run extra val epoch flag
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-cpath

update tests
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

update function naming
  hi-ml-multimodal/src/health_multimodal/image/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
  hi-ml-multimodal/test_multimodal/image/test_image_inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

Improve method docstring
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
Due: hi-ml

Add zero-shot prediction test with notebook image
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

fix index issue
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-cpath

update metric lists
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
Due: hi-ml, hi-ml-cpath

add average_precision plotrs to training curves
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
Due: hi-ml, hi-ml-cpath

fix typo
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

type ignore
  hi-ml/src/health_ml/lightning_container.py
Due: hi-ml

fix the issue with normalising embeddings twice
  hi-ml-multimodal/src/health_multimodal/text/inference_engine.py
  hi-ml-multimodal/src/health_multimodal/text/model/modelling_cxrbert.py
  hi-ml-multimodal/src/health_multimodal/vlp/inference_engine.py
  hi-ml-multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: hi-ml

add initial version of zero-shot classification
  hi-ml-multimodal/test_multimodal/vlp/test_zero_shot_classification.py
Due: hi-ml

ENH: Make crossval html report generic to all hyperdrive runs (#605)
  hi-ml-cpath/src/health_cpath/scripts/generate_crossval_report.py
  hi-ml-cpath/src/health_cpath/utils/analysis_plot_utils.py
  hi-ml-cpath/src/health_cpath/utils/report_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_report_utils.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
