Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

flake8
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Fix linting errors
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_paths.py
  hi-ml/src/health_ml/networks/layers/attention_layers.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml, hi-ml-azure

add tune_classifier
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

aml fix
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

attempt to fix attention test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix gpu test
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
Due: hi-ml, hi-ml-cpath

Upgrade flake8 version
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_test.txt
  hi-ml-multimodal/requirements_test.txt
  new_project_template/requirements_test.txt
  test_requirements.txt
Due: hi-ml, hi-ml-cpath

Revert flake8 version for pathology
  hi-ml-cpath/requirements_test.txt
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

BUG: Fix incompatibility between PIP and Conda CUDA versions (#546)
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml

MNT: Prepare hi-ml-multimodal for PyPI (#545)
  hi-ml-multimodal/MANIFEST.in
  hi-ml-multimodal/setup.py
Due: hi-ml

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

Add test to compare package and PyTorch Hub models
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml

Add version number to package __init__
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml

break
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Remove branch name from PyTorch Hub repo string
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml

wip grad check for test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Revert "wip grad check for test"
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

add use_pretrained_classifier flag
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

remove comment
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

add gradients checks after training
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

revert changes to old test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

break test into 2 smaller tests
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

beautify
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

wip test
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Check only fields from package model
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml

Remove unnecessary zip wrap
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml

rename flags
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

ENH: Add hubconf to load models without installing (#543)
  hi-ml-multimodal/src/health_multimodal/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/__init__.py
  hi-ml-multimodal/src/health_multimodal/image/model/model.py
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
  hi-ml-multimodal/src/health_multimodal/image/utils.py
  hi-ml-multimodal/src/health_multimodal/text/utils.py
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
  hubconf.py
Due: hi-ml

add snaity check test and exception
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

Fix HTTP error downloading model with hub
  hi-ml-multimodal/test_multimodal/image/model/test_model.py
Due: hi-ml

skip if all False
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

use regex
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

update validate
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
