Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

do not remove conda_env argument
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

make runner support both AML v1 and v2
  hi-ml/src/health_ml/runner.py
Due: hi-ml

do not remove conda_env argument
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml/src/health_ml/runner.py
Due: hi-ml

update tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

mypy
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

fix test
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Simplify MLRunner Inference (#734)
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/utils/fixed_paths_for_tests.py
Due: hi-ml

use unrepeted sampler for validation
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

wip verbose
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

BUG: Do not remove conda_env argument when submitting with SDK v2 (#737)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-cpath

🚚 Rename dataset to data asset
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

⚡️ Improve error handling
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

✨ Update data asset retrieval
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

add more logs
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

rebase deepmil to remove debugging logs
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

🚚 Dataset to asset renaming and import sort
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

♻️ Reorder arguments
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

♻️ Fix line lengths
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

✨ Add ML client to dataset testing
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

✅ Add valid create v2 asset test
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

✅ Add create_v2_data_asset tests
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

✅ Add retrieve_v2_data_asset tests
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

♻️ Reorder arguents and renaming
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

adding tests
  .github/workflows/hi-ml-pr.yml
  hi-ml/Makefile
Due: hi-ml

add max run duration
  hi-ml/Makefile
Due: hi-ml

doc and timeout
  hi-ml/Makefile
Due: hi-ml

✅ Fix tests + pyright
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
Due: hi-ml, hi-ml-azure

✅ Add test for asset version incrementing
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

fix and test update
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

test fixes
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

adding updated env
  hi-ml/environment.yml
Due: hi-ml

pyright
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

update datamodule test
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

rebase runner
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

fix warning
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

add forge
  hi-ml/primary_deps.yml
Due: hi-ml

changed channel order
  hi-ml/environment.yml
  hi-ml/primary_deps.yml
Due: hi-ml

✅ Fix test
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure
