Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

fix docs
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
Due: hi-ml, hi-ml-cpath

add PR comments
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Separate attention heatmap and slide thumbnail plot options (#640)
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Switch to new AzureML runtime (#576)
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

pick tile_ids from outputs dict instead of batch
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add smoke tests
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

add tile_ids to callback inputs
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix container
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
Due: hi-ml, hi-ml-cpath

BUG: Retrieve tiles_ids from outputs dictionary for loss analysis (#641)
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

remove ssl_ckpt_run_if from BaseMIL
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-cpath

linting
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml

add properties to ssl_ckpt
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

download ssl checkpoint if necessary
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-cpath

fix typos
  hi-ml/testhiml/testhiml/test_checkpoints.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
Due: hi-ml

add tests
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

wip tests
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-cpath

add script to generate ssl url
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

remove default run_id
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

fix mock container
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
Due: hi-ml, hi-ml-cpath

remove all ssl_checkpoint_run_id
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix script
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

remove redundancy
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

typo
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

update checkpoint run id
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

move import inside function
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

mock get_workspace
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

add optional sas token
  hi-ml-cpath/src/health_cpath/scripts/generate_ssl_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

updated hed jitter
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml

update enviroment
  hi-ml-cpath/Makefile
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

updated test
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

after review
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

hack shapes
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml/src/health_ml/utils/data_augmentations.py
Due: hi-ml, hi-ml-cpath

add tiling on the fly test case
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

add test for image_colate
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-cpath

fix lower bound for tile_count
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
Due: hi-ml, hi-ml-cpath

ENH: Extend StainNormalisation Transform to work with Slides Pipeline (#644)
  hi-ml-cpath/src/health_cpath/utils/wsi_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_wsi_utils.py
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml, hi-ml-cpath

ENH: HEDJitter update (#643)
  hi-ml/src/health_ml/utils/data_augmentations.py
  hi-ml/testhiml/testhiml/test_data_augmentations.py
Due: hi-ml

add log_every_n_steps trainer param
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

ENH: Add log every nsteps parameter (#645)
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

update env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath
