Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

ENH: Run tests for histopathology folder in Conda environment (#487)
  .github/actions/prepare_cpath_environment/action.yml
  .github/actions/prepare_smoke_test_environment/action.yml
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

environment
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

adding openslide and crytography
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

add activate
  .github/actions/prepare_cpath_environment/action.yml
Due: none

remove pytest
  .github/workflows/cpath-pr.yml
Due: none

just run python
  .github/workflows/cpath-pr.yml
Due: none

shorten env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

diagnoistics
  .github/actions/prepare_cpath_environment/action.yml
Due: none

always change path
  .github/actions/prepare_cpath_environment/action.yml
Due: none

dummy change to env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

dummy env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

full env
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

full workflow again
  .github/workflows/cpath-pr.yml
Due: none

env indentation fix
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

ENH: Add openslide to cpath conda environment (#646)
  .github/actions/prepare_cpath_environment/action.yml
  hi-ml-cpath/environment.yml
  hi-ml-cpath/primary_deps.yml
Due: hi-ml, hi-ml-cpath

update cpath workflow
  .github/workflows/cpath-pr.yml
Due: none

fix last smoke test
  .github/workflows/cpath-pr.yml
Due: none

update load_image_dict
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

FIX: Fix bug in saving validation outputs (#649)
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml/environment.yml
Due: hi-ml, hi-ml-cpath

remove check for dropout
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
Due: hi-ml, hi-ml-cpath

reverse val outputs csv renaming
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

add PR comments
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
Due: hi-ml, hi-ml-cpath

skip failing tests to be adressed as part of issue Re-enable the test test_encoder[get_ssl_encoder] #655
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

fix outputs.csv
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
Due: hi-ml, hi-ml-cpath

Revert "update load_image_dict"
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

seperate gpu test
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

add tiles smoke test
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

Add test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

mypy and pyright
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

ENH: Add pl_replace_sampler_ddp flag for small validation sets (#648)
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILECrck.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_slides_datamodule.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_output_utils.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-cpath

ENH: Add display name, tags and shm size to SDK v2 job (#654)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

raise exception
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix test
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

adding zeroshot for padchest using biovil
  hi-ml-multimodal/notebooks/eval.py
  hi-ml-multimodal/notebooks/zero_shot.ipynb
  hi-ml-multimodal/notebooks/zero_shot.py
Due: hi-ml

cleanup
  hi-ml-multimodal/notebooks/zero_shot.ipynb
Due: hi-ml

ENH: Small Fixes for Transfer Main merge
  .github/workflows/codeql-analysis.yml
  .github/workflows/cpath-pr.yml
  .github/workflows/credscan.yml
  .github/workflows/hi-ml-pr.yml
  docs/source/runner.md
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/output_utils.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
