Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

fix Flatten issue
  hi-ml-cpath/src/health_cpath/models/encoders.py
Due: hi-ml, hi-ml-cpath

fix yaml issues
  hi-ml-azure/src/health_azure/traverse.py
  hi-ml/src/health_ml/utils/reports.py
  hi-ml/testhiml/testhiml/utils/test_reports.py
Due: hi-ml, hi-ml-azure

more diag
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml

raise error when chdir
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml

removing obsolete chdir
  hi-ml-cpath/src/health_cpath/utils/download_utils.py
Due: hi-ml, hi-ml-cpath

test dir
  hi-ml/testhiml/conftest.py
Due: hi-ml

Revert "test dir"
  hi-ml/testhiml/conftest.py
Due: hi-ml

dummy test for files
  hi-ml/testhiml/testhiml/test_anything.py
Due: hi-ml

limiting torch version to maybe avoid api errors
  hi-ml/run_requirements.txt
Due: hi-ml

cleanup
  hi-ml-azure/testazure/use_run_with_output_dataset.py
Due: hi-ml, hi-ml-azure

doc
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

BUG: Allow relative path for entry script for SDK v2 submission (#904)
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

on-behalf
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/use_run_with_output_dataset.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-azure/.vscode/launch.json
Due: hi-ml, hi-ml-azure

patch scipy
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-cpath

patch ipython
  hi-ml-multimodal/requirements_test.txt
Due: hi-ml, hi-ml-multimodal

update pillow
  hi-ml-cpath/requirements_run.txt
  hi-ml-multimodal/requirements_run.txt
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-cpath, hi-ml-multimodal

fix yaml safe issues
  hi-ml-azure/src/health_azure/traverse.py
Due: hi-ml, hi-ml-azure

yaml to safe
  hi-ml/src/health_ml/utils/reports.py
  hi-ml/testhiml/testhiml/utils/test_reports.py
Due: hi-ml

wip
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/use_run_with_output_dataset.py
Due: hi-ml, hi-ml-azure

Revert "update pillow"
  hi-ml-cpath/requirements_run.txt
  hi-ml-multimodal/requirements_run.txt
  hi-ml/run_requirements.txt
Due: hi-ml, hi-ml-cpath, hi-ml-multimodal

wip
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix command
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

avoid Path
  hi-ml/testhiml/testhiml/utils/test_reports.py
Due: hi-ml

fix yaml dump
  hi-ml/testhiml/testhiml/utils/test_reports.py
Due: hi-ml

fix yaml test
  hi-ml-azure/src/health_azure/traverse.py
Due: hi-ml, hi-ml-azure

fix test discrepancy
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

fix check for queuing message
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

update metric that has changed
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

refactor
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

test fix
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

test failures
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

diagnostics for SP
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

try to fix SSL test again
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
Due: hi-ml, hi-ml-cpath

mypy and test fix
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_get_ml_client.py
Due: hi-ml, hi-ml-azure

ENH: Apply security fixes (#912)
  hi-ml-azure/src/health_azure/traverse.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/requirements_run.txt
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml-multimodal/requirements_test.txt
  hi-ml/src/health_ml/utils/reports.py
  hi-ml/testhiml/testhiml/utils/test_reports.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

logs via print
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

from 3.9.18 to 3.8.18
  docs/source/developers.md
  docs/source/examples/1/environment.yml
  docs/source/examples/10/environment.yml
  docs/source/examples/2/environment.yml
  docs/source/examples/3/environment.yml
  docs/source/examples/4/environment.yml
  docs/source/examples/5/environment.yml
  docs/source/examples/6/environment.yml
  docs/source/examples/7/environment.yml
  docs/source/examples/8/environment.yml
  docs/source/examples/9/tensorboard_env.yml
  hi-ml-azure/environment.yml
  hi-ml-azure/primary_deps.yml
  hi-ml-azure/src/health_azure/examples/environment.yml
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/simple/environment.yml.template
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/other/slide_image_loading/environment.yml
  hi-ml/environment.yml
  hi-ml/other/image_loading/environment.yml
  hi-ml/primary_deps.yml
  hi-ml/testhiml/environment.yml
  new_project_template/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath
