Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

refactoring for re-use
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/conftest.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

e2e test working
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

add linear classifier
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/test_multimodal/image/model/test_pretrained.py
Due: hi-ml, hi-ml-multimodal

revert the notebook changes
  hi-ml-multimodal/notebooks/phrase_grounding.ipynb
Due: hi-ml, hi-ml-multimodal

test
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

tests
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

ignore
  .gitignore
Due: none

moving argparsing out
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/argparsing.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_argparsing.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

code and first test wip
  hi-ml-azure/src/health_azure/argparsing.py
  hi-ml-azure/testazure/testazure/test_argparsing.py
Due: hi-ml, hi-ml-azure

missing arg
  hi-ml/src/health_ml/ml_runner.py
Due: hi-ml

tests
  hi-ml-azure/src/health_azure/argparsing.py
  hi-ml-azure/testazure/testazure/test_argparsing.py
Due: hi-ml, hi-ml-azure

fix import
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

pyright
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/himl_tensorboard.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
Due: hi-ml, hi-ml-azure

📝 Update documentation again
  docs/source/datasets.md
Due: none

ENH: Expose v1 dataset overwrite (#853)
  docs/source/datasets.md
  hi-ml-azure/src/health_azure/datasets.py
Due: hi-ml, hi-ml-azure

test and mypy fixes
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

test fix and mark fast
  hi-ml-azure/testazure/testazure/test_argparsing.py
Due: hi-ml, hi-ml-azure

doc
  hi-ml-azure/.vscode/settings.json
  hi-ml/src/health_ml/eval_runner.py
Due: hi-ml, hi-ml-azure

move to separate file
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner_base.py
Due: hi-ml

✨ Raise no datastore specified error
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Revert "move to separate file"
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner_base.py
Due: hi-ml

Revert "Revert "move to separate file""
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/ml_runner.py
  hi-ml/src/health_ml/runner_base.py
Due: hi-ml

add diagnosis of tiff conversion
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

file rename
  hi-ml/src/health_ml/__init__.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/training_runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

renaming the class
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml/src/health_ml/__init__.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/training_runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-azure

ENH: Add diagnosis for Tiff Conversion (#862)
  hi-ml-cpath/src/health_cpath/preprocessing/tiff_conversion.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/preprocessing/test_tiff_conversion.py
Due: hi-ml, hi-ml-cpath

removing timeconsuming auth to azure
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

test fix
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

doc
  hi-ml-azure/src/health_azure/argparsing.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

ENH: Better commandline parsing of Enums (#861)
  .gitignore
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/argparsing.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/himl_tensorboard.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_argparsing.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/montage_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

PR comments
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

rename fixtures as per PR comments
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

clean up init_inference
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/training_runner.py
Due: hi-ml

test
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

Revert "clean up init_inference"
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/training_runner.py
Due: hi-ml

fix test
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
  hi-ml-multimodal: any of: hi-ml-multimodal
