Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

PR comments
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

PR comments
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

refactoring of nested method
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

PR comments
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

test refactoring
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

Add argument to return ResNet intermediate layers
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml, hi-ml-multimodal

Return x0 in addition to x1-4
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml, hi-ml-multimodal

test split
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml

flake
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

mypy
  hi-ml/src/health_ml/utils/checkpoint_utils.py
Due: hi-ml

docu
  hi-ml/src/health_ml/utils/checkpoint_handler.py
Due: hi-ml

Specify type for each element in returned tuple
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml, hi-ml-multimodal

wip
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

enable test
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

add PR comments
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

typo
  hi-ml-azure/src/health_azure/package_setup.py
Due: hi-ml, hi-ml-azure

fix test discovery
  hi-ml-cpath/testSSL/conftest.py
Due: hi-ml, hi-ml-cpath

flake8
  hi-ml-cpath/testSSL/conftest.py
Due: hi-ml, hi-ml-cpath

ENH: Allow low-priority preemption after training (#722)
  docs/source/checkpoints.md
  hi-ml-azure/src/health_azure/package_setup.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/deepmil_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
  hi-ml/src/health_ml/utils/checkpoint_handler.py
  hi-ml/src/health_ml/utils/checkpoint_utils.py
  hi-ml/testhiml/testhiml/test_checkpoints.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix histogram
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/attention_histo/attention_histogram.png
Due: hi-ml, hi-ml-cpath

add mean location in color bar
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
Due: hi-ml, hi-ml-cpath

reduce opcity of wsi
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

diagnostics
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

remove clim 0 and make ax0 invsible
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
Due: hi-ml, hi-ml-cpath

update plot to fix test
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
Due: hi-ml, hi-ml-cpath

remove kde
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testhisto/test_data/attention_histo/attention_histogram.png
Due: hi-ml, hi-ml-cpath

diagnostics
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

disable smoke tests
  .github/workflows/cpath-pr.yml
Due: none

Revert "diagnostics"
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

removing duplicate code
  hi-ml-cpath/testSSL/testSSL/utils.py
Due: hi-ml, hi-ml-cpath

removed duplicate method, adding env-based selection to get_workspace
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

remove unnecessary mock
  hi-ml-cpath/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-cpath

Revert "disable smoke tests"
  .github/workflows/cpath-pr.yml
Due: none

disable tests, part 2
  .github/workflows/cpath-pr.yml
Due: none

bug fix
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

ENH: Improve Attention Heatmaps plots (#723)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/src/health_cpath/utils/plots_utils.py
  hi-ml-cpath/src/health_cpath/utils/viz_utils.py
  hi-ml-cpath/testSSL/conftest.py
  hi-ml-cpath/testhisto/test_data/attention_histo/attention_histogram.png
  hi-ml-cpath/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-cpath/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-cpath

🐛 Fix ruamel.yaml uses
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

⚰️ Properly remove unused param
  hi-ml-azure/src/health_azure/himl.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure
