Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

fix tests
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-cpath/testSSL/testSSL/test_ssl_containers.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Remove commented code
  hi-ml/src/health_ml/runner.py
Due: hi-ml

fix tests
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

Fix test
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Fix test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

fix return value of training_step
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

Fix test
  hi-ml/testhiml/testhiml/test_run_ml.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

wip adding entropy
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

add entropy to cache
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

Fix tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

add doc strings
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/make_tests.py
  hi-ml-azure/testazure/testazure/test_data/simple/hello_world_template.txt
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

small fix
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

wip test
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

Fix run that was failing on AML
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/layer_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

add sequential rainbow colors
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix test_deepmil
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

update checkpoint
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

remove unused param n_classes
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

check val loss cache
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

fix tests
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

fix test_lightningmodule_attention
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

wip no_reduction fix
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

fix test
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

quick refactor of train/val loss cache to dict
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

separate out functions to generate azure datasets
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

mark script with shebang executable
  hi-ml/src/health_ml/runner.py
Due: hi-ml

rename workspace_client -> ml_client
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

MNT: Fix YAML syntax for Amulet jobs (#624) (#626)
  docs/source/amulet/config.yml
Due: none

get new batch
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

always return dict
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-cpath

refactor format epoch as suggested by @dccastro
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

ENH: Track validation loss and add entropy value (#629)
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
  hi-ml-cpath/testhisto/conftest.py
  hi-ml-cpath/testhisto/testhisto/models/test_deepmil.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

Address PR comments
  docs/source/multimodal.md
  docs/source/runner.md
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/mlflow_utils.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-cpath: any of: hi-ml-cpath
