Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

fix on run extra val epoch hook call
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/training_runner.py
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

fix typo
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

fix test
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

ENH: Add a class_weights argument to the data module (#871)
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

BUG: Fix extra validation epoch hook call order (#873)
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/training_runner.py
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

add acount key argument to generate ckpt URL script
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

add doc
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

add account kkey
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

fix account_name
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

cleanup of slides dataset
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

replace slide id column
  hi-ml-cpath/src/health_cpath/datamodules/panda_module_benchmark.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
Due: hi-ml, hi-ml-cpath

image_column
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

cleanup of default csv filename
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/src/health_cpath/scripts/tcga_dataset_prep.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/src/health_cpath/scripts/tcga_dataset_prep.py
Due: hi-ml, hi-ml-cpath

rename
  hi-ml-cpath/src/health_cpath/datamodules/panda_module.py
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

typo
  hi-ml-cpath/src/health_cpath/datamodules/panda_module_benchmark.py
Due: hi-ml, hi-ml-cpath

add log
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
Due: hi-ml, hi-ml-cpath

fix
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

mypy
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

ENH: Add account key argument to generate checkpoint URL script (#874)
  hi-ml-cpath/src/health_cpath/scripts/generate_checkpoint_url.py
  hi-ml-cpath/testhisto/testhisto/utils/test_deepmil_utils.py
Due: hi-ml, hi-ml-cpath

Stop using torch_int_div
  hi-ml-multimodal/src/health_multimodal/image/model/transformer.py
Due: hi-ml, hi-ml-multimodal

Add support for modern TorchVision
  hi-ml-multimodal/requirements_run.txt
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/model/resnet.py
Due: hi-ml, hi-ml-multimodal

Add kwargs support for image model
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-multimodal

Unpin requirements
  hi-ml-multimodal/requirements_run.txt
Due: hi-ml, hi-ml-multimodal

MNT: Bump hi-ml-multimodal version: 0.2.0 → 0.2.1 (#869)
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

PR comments
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

PR comment
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
Due: hi-ml, hi-ml-cpath

remove apply_ma_inference
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

ENH: Clean up design of slides dataset (#875)
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILEPanda.py
  hi-ml-cpath/src/health_cpath/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-cpath/src/health_cpath/datamodules/panda_module.py
  hi-ml-cpath/src/health_cpath/datamodules/panda_module_benchmark.py
  hi-ml-cpath/src/health_cpath/datasets/base_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/panda_dataset.py
  hi-ml-cpath/src/health_cpath/datasets/tcga_prad_dataset.py
  hi-ml-cpath/src/health_cpath/scripts/tcga_dataset_prep.py
  hi-ml-cpath/src/health_cpath/utils/montage.py
  hi-ml-cpath/src/health_cpath/utils/tiff_conversion_config.py
  hi-ml-cpath/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_montage.py
Due: hi-ml, hi-ml-cpath

test
  hi-ml/.vscode/settings.json
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml

symbolic link
  runner.py
Due: none

test
  hi-ml/Makefile
Due: hi-ml

Revert "symbolic link"
  runner.py
Due: none

fix
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/logging.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

fix tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_get_workspace.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure

fix
  hi-ml-azure/testazure/testazure/test_get_workspace.py
Due: hi-ml, hi-ml-azure

unify usage of get_ml_client
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

flake
  hi-ml-azure/testazure/testazure/utils_testazure.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

mypy
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure
