Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true

renaming
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

refactor filenames
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

avoid reading csv twice
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add log_exceptions flag to be able to debug failure cases
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

add test for log exception flag
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

remove log_exception from smmoke test
  hi-ml-cpath/Makefile
Due: hi-ml, hi-ml-cpath

ENH: Add Loss Outliers Analysis callback (#618)
  .github/workflows/cpath-pr.yml
  hi-ml-cpath/Makefile
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/testhisto/testhisto/mocks/container.py
  hi-ml-cpath/testhisto/testhisto/utils/test_callbacks.py
Due: hi-ml, hi-ml-cpath

remove double root_folder
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

Add cli for using sdk v1
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml, hi-ml-azure

Add arg for using AML SDK v1
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/requirements_run.txt
  hi-ml/primary_deps.yml
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

Add more tests
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

seperate root folders from filename
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

update command line arg
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

BUG: Fix double root folder for heatmaps (#622)
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

Rename command line arg to clarify
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure

MNT: Replace print with logging.info
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

MNT: Fix YAML syntax
  docs/source/amulet/config.yml
Due: none

MNT: Fix YAML syntax for Amulet jobs (#624)
  docs/source/amulet/config.yml
Due: none

Fix logging syntax
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

Fix tests
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/himl_download.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_himl_download.py
  hi-ml-cpath/testhisto/testhisto/mocks/utils.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

cleanup
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/primary_deps.yml
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-azure

MNT: Replace print with logging.info (#623)
  hi-ml-azure/src/health_azure/utils.py
Due: hi-ml, hi-ml-azure

fix flake8 errors
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml/src/health_ml/utils/logging.py
Due: hi-ml, hi-ml-azure

mypy and flake8 corrections
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-cpath/environment.yml
  hi-ml-cpath/src/SSL/lightning_modules/ssl_online_evaluator.py
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/testSSL/testSSL/test_byol_moving_average.py
  hi-ml-cpath/testhisto/testhisto/mocks/slides_generator.py
  hi-ml-cpath/testhisto/testhisto/utils/test_viz_utils.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/utils/logging.py
  hi-ml/testhiml/testhiml/utils/test_logging.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

update pip requirements
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_run.txt
Due: hi-ml, hi-ml-azure, hi-ml-cpath

update run requirements
  hi-ml-azure/run_requirements.txt
Due: hi-ml, hi-ml-azure

fix package clash
  hi-ml-cpath/environment.yml
  hi-ml-cpath/requirements_build.txt
  hi-ml-multimodal/requirements_build.txt
Due: hi-ml, hi-ml-cpath

wip add validation analysis
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

relax package constraint
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix pyright issues
  docs/source/examples/10/inputs.py
  docs/source/examples/4/results.py
  docs/source/examples/7/inputs.py
  docs/source/examples/8/inputs.py
  hi-ml-azure/run_pytest.py
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/src/health_azure/utils.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/environment.yml
  hi-ml/src/health_ml/networks/layers/attention_layers.py
  hi-ml/src/health_ml/runner.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath

pin Azure storage blob
  hi-ml-azure/run_requirements.txt
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix mypy issue and update package versiosn
  hi-ml-azure/run_requirements.txt
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-cpath/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-cpath

fix test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Fix tests
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Fix tests
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml, hi-ml-azure
