Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

fixes
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

wip add conf matrix to plot_options
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

flake8
  hi-ml-azure/src/health_azure/himl.py
Due: hi-ml, hi-ml-azure

wip
  hi-ml-histopathology/environment.yml
  hi-ml/run_requirements.txt
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

Stop running multimodal tests when the hi-ml libraries change.
  .github/workflows/multimodal-pr.yml
Due: none

Fix docstring
  multimodal/health_multimodal/image/model/model.py
Due: none

Use double quotes for consistency
  multimodal/health_multimodal/image/model/model.py
Due: none

BUG: Workflows time out because of using a too large test dataset (#447)
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/src/health_azure/himl.py
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

Improve error message and add ResNet enum
  multimodal/health_multimodal/image/model/model.py
Due: none

Update docstring for tokenize_input_prompts
  multimodal/health_multimodal/text/data/io.py
Due: none

Refactor some requirements
  multimodal/environment.yml
  multimodal/requirements_run.txt
  multimodal/requirements_test.txt
Due: none

Add missing requirement
  multimodal/environment.yml
  multimodal/requirements_run.txt
Due: none

Stop installing hi-ml-azure in CI
  .github/workflows/multimodal-pr.yml
Due: none

wip
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
Due: hi-ml, hi-ml-histopathology

Install all requirements in CI
  .github/workflows/multimodal-pr.yml
Due: none

Install all requirements in CI before pytest
  .github/workflows/multimodal-pr.yml
Due: none

set default to None
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

Add missing run requirements
  multimodal/requirements_run.txt
Due: none

Ignore mypy error
  multimodal/test_multimodal/image/model/test_model.py
Due: none

ENH: Improve mypy arguments
  hi-ml-azure/Makefile
  hi-ml-histopathology/Makefile
  hi-ml/Makefile
  multimodal/Makefile
  new_project_template/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

ENH: Improve mypy arguments (#448)
  hi-ml-azure/Makefile
  hi-ml-histopathology/Makefile
  hi-ml/Makefile
  multimodal/Makefile
  new_project_template/Makefile
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

ENH: Redirect profiler traces to outputs folder and add debugging doc (#444)
  docs/source/debugging.md
  docs/source/images/tensorboard/change_views.png
  docs/source/images/tensorboard/distributed.png
  docs/source/images/tensorboard/gpu_kernel.png
  docs/source/images/tensorboard/memory.png
  docs/source/images/tensorboard/operator.png
  docs/source/images/tensorboard/overview.png
  docs/source/images/tensorboard/palette.png
  docs/source/images/tensorboard/select_dir.png
  docs/source/images/tensorboard/tensorboard_palette.png
  docs/source/images/tensorboard/tensorboard_select_dir.png
  docs/source/images/tensorboard/trace.png
  docs/source/index.rst
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

Upgrade Pillow to 9.0.1 to avoid security flag
  multimodal/environment.yml
  multimodal/requirements_run.txt
Due: none

Add some VLP unit tests
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/text/__init__.py
  multimodal/health_multimodal/vlp/inference_engine.py
  multimodal/test_multimodal/text/test_inference_engine.py
  multimodal/test_multimodal/vlp/test_vlp_inference_engine.py
Due: none

Improve check for special tokens
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/text/__init__.py
  multimodal/health_multimodal/text/data/io.py
  multimodal/test_multimodal/text/data/test_text_io.py
Due: none

Add missing Microsoft headers
  multimodal/health_multimodal/__init__.py
  multimodal/health_multimodal/common/visualization.py
  multimodal/health_multimodal/image/__init__.py
  multimodal/health_multimodal/image/data/__init__.py
  multimodal/health_multimodal/image/model/__init__.py
  multimodal/health_multimodal/text/__init__.py
  multimodal/health_multimodal/text/data/__init__.py
  multimodal/health_multimodal/text/model/__init__.py
  multimodal/health_multimodal/vlp/__init__.py
  multimodal/test_multimodal/image/data/test_io.py
  multimodal/test_multimodal/text/model/test_modelling_cxrbert.py
Due: none

Remove some unused test requirements
  multimodal/environment.yml
  multimodal/requirements_test.txt
Due: none

Allow [MASK] token in TextInput prompts
  multimodal/health_multimodal/text/data/io.py
Due: none

wip
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

fix conf matrix plot
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

remove import
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

formatting
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Make building Monai-based models reproducible (#443)
  hi-ml-histopathology/.vscode/settings.json
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILECrck.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/datamodules/base_module.py
  hi-ml-histopathology/testhisto/testhisto/datasets/test_panda_slides.py
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/test_deep_learning_config.py
  hi-ml/testhiml/testhiml/test_run_ml.py
  himl-projects.code-workspace
Due: hi-ml, hi-ml-histopathology

remove unused param
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

remove unused imports
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

fp16 as default
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml/src/health_ml/deep_learning_config.py
Due: hi-ml, hi-ml-histopathology

Update docstring for MultiTaskModel
  multimodal/health_multimodal/image/model/modules.py
Due: none

wip
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

refinements
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-histopathology

formatting
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
