Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

STYLE: Fix file without end line (#409)
  hi-ml-histopathology/testhisto/RegressionTestResults/SlidesPANDAImageNetMIL/HD_0e805b91-319d-4fde-8bc3-1cea3a6d08dd_0/OUTPUT/regression_metrics.json
Due: hi-ml, hi-ml-histopathology

revert default value of destination_folder
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

add periods
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

Update docs
  docs/source/dsa.md
Due: none

ENH: PANDA SSL with tile selection enabled (random or tile occupancy) (#398)
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/datasets/panda_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

fix indents
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

break line
  hi-ml-azure/run_pytest.py
Due: hi-ml, hi-ml-azure

ENH: Add gpu tests coverage to codecov reports (#399)
  .github/workflows/histopathology-pr.yml
  hi-ml-azure/run_pytest.py
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

Add authentication and authorization
  docs/source/dsa.md
Due: none

DEL: Delete deprecated code from outputs utils (#407)
  hi-ml-histopathology/src/histopathology/utils/metrics_utils.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_metrics_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_top_bottom_utils.py
Due: hi-ml, hi-ml-histopathology

Add function to save data frames as JSON with newline at the end
  hi-ml-histopathology/src/histopathology/scripts/aggregate_metrics_crossvalidation.py
  hi-ml-histopathology/src/histopathology/utils/report_utils.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-histopathology

Improve docstring
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml

adding coordinates to the batch
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

add test
  hi-ml-histopathology/src/histopathology/models/encoders.py
  hi-ml-histopathology/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-histopathology

flake8 and mypy
  hi-ml-histopathology/src/histopathology/models/encoders.py
  hi-ml-histopathology/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-histopathology

flake8 error
  hi-ml-histopathology/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-histopathology

STYLE: Ensure new line at the end of JSON files (#410)
  hi-ml-histopathology/src/histopathology/scripts/aggregate_metrics_crossvalidation.py
  hi-ml-histopathology/src/histopathology/utils/report_utils.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/utils/common_utils.py
Due: hi-ml, hi-ml-histopathology

STYLE: Set default PR title for pre-commit CI bot
  .pre-commit-config.yaml
Due: none

Update
  docs/source/dsa.md
Due: none

first version
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

rename pl_limit_batches to fast_dev_run
  hi-ml-histopathology/.vscode/launch.json
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

add path resolution in mounting script
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
Due: hi-ml, hi-ml-histopathology

fix tests
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/utils/common_utils.py
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

wip
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_runner.py
Due: hi-ml

test fixes
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/utils/test_common_utils.py
Due: hi-ml

update validate function
  hi-ml/src/health_ml/runner.py
Due: hi-ml

typo
  hi-ml/src/health_ml/runner.py
Due: hi-ml

Remove TilesPANDA regression test
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

test ssl encoder
  hi-ml-histopathology/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-histopathology

update doc
  docs/source/runner.md
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

STYLE: Rename pl_limit_batches to pl_fast_dev_run (#415)
  hi-ml-histopathology/.vscode/launch.json
  hi-ml/src/health_ml/deep_learning_config.py
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-histopathology

update exception
  hi-ml/src/health_ml/runner.py
Due: hi-ml

wip
  hi-ml/src/health_ml/runner.py
Due: hi-ml

DEL: Remove TilesPANDA regression test (#418)
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

wip removing --azureml
  hi-ml/.vscode/launch.json
  hi-ml/src/health_ml/configs/hello_world.py
Due: hi-ml

run id change
  hi-ml-histopathology/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-histopathology

BUG: Correctly setting up encoder for SSLMIL (#404)
  hi-ml-histopathology/src/histopathology/configs/run_ids.py
  hi-ml-histopathology/src/histopathology/models/encoders.py
  hi-ml-histopathology/src/histopathology/utils/layer_utils.py
  hi-ml-histopathology/testhisto/testhisto/models/test_encoders.py
Due: hi-ml, hi-ml-histopathology

revert changes histosimclr
  hi-ml-histopathology/src/histopathology/configs/SSL/HistoSimCLRContainer.py
Due: hi-ml, hi-ml-histopathology

fix typo
  hi-ml-histopathology/src/histopathology/utils/naming.py
Due: hi-ml, hi-ml-histopathology

update test
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology
