Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-histopathology:
    paths:
      - hi-ml-histopathology
    carryforward: true

Launch CI tests also when hi-ml changes
  .github/workflows/multimodal-pr.yml
Due: none

add tes for slides dataset
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

switch to 3.10.5
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
  .github/workflows/multimodal-pr.yml
  docs/source/developers.md
  docs/source/examples/1/environment.yml
  docs/source/examples/10/environment.yml
  docs/source/examples/2/environment.yml
  docs/source/examples/3/environment.yml
  docs/source/examples/4/environment.yml
  docs/source/examples/5/environment.yml
  docs/source/examples/6/environment.yml
  docs/source/examples/7/environment.yml
  docs/source/examples/8/environment.yml
  docs/source/examples/9/tensorboard_env.yml
  hi-ml-azure/.mypy.ini
  hi-ml-azure/environment.yml
  hi-ml-azure/setup.py
  hi-ml-azure/src/health_azure/examples/environment.yml
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/simple/environment.yml.template
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-histopathology/.mypy.ini
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/other/slide_image_loading/environment.yml
  hi-ml/.mypy.ini
  hi-ml/environment.yml
  hi-ml/other/image_loading/environment.yml
  hi-ml/setup.py
  hi-ml/testhiml/environment.yml
  multimodal/.mypy.ini
  multimodal/environment.yml
  multimodal/setup.py
  new_project_template/.mypy.ini
  new_project_template/environment.yml
  new_project_template/new-project-pr.yml
  new_project_template/setup.py
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

ENH: Enable setting plot options in the containers config (#441)
  hi-ml-histopathology/src/histopathology/configs/classification/BaseMIL.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILESlidesPandaBenchmark.py
  hi-ml-histopathology/src/histopathology/models/deepmil.py
  hi-ml-histopathology/src/histopathology/utils/metrics_utils.py
  hi-ml-histopathology/src/histopathology/utils/naming.py
  hi-ml-histopathology/src/histopathology/utils/output_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/src/histopathology/utils/tiles_selection_utils.py
  hi-ml-histopathology/src/histopathology/utils/viz_utils.py
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/heatmap_overlay.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/score_hist.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_0.1.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_1.2.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_2.4.png
  hi-ml-histopathology/testhisto/test_data/histo_heatmaps/slide_3.6.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_bottom.png
  hi-ml-histopathology/testhisto/test_data/top_bottom_tiles/slide_0_top.png
  hi-ml-histopathology/testhisto/testhisto/mocks/container.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_output_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_tiles_selection_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_viz_utils.py
Due: hi-ml, hi-ml-histopathology

switch to 3.10.4
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
  .github/workflows/multimodal-pr.yml
  docs/source/developers.md
  docs/source/examples/1/environment.yml
  docs/source/examples/10/environment.yml
  docs/source/examples/2/environment.yml
  docs/source/examples/3/environment.yml
  docs/source/examples/4/environment.yml
  docs/source/examples/5/environment.yml
  docs/source/examples/6/environment.yml
  docs/source/examples/7/environment.yml
  docs/source/examples/8/environment.yml
  docs/source/examples/9/tensorboard_env.yml
  hi-ml-azure/environment.yml
  hi-ml-azure/src/health_azure/examples/environment.yml
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/simple/environment.yml.template
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/other/slide_image_loading/environment.yml
  hi-ml/environment.yml
  hi-ml/other/image_loading/environment.yml
  hi-ml/testhiml/environment.yml
  multimodal/environment.yml
  new_project_template/.mypy.ini
  new_project_template/environment.yml
  new_project_template/new-project-pr.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

ubuntu 22
  .github/workflows/hi-ml-pr.yml
  .github/workflows/histopathology-pr.yml
  .github/workflows/multimodal-pr.yml
  new_project_template/new-project-pr.yml
Due: none

pip
  docs/source/developers.md
  docs/source/examples/1/environment.yml
  docs/source/examples/10/environment.yml
  docs/source/examples/2/environment.yml
  docs/source/examples/3/environment.yml
  docs/source/examples/4/environment.yml
  docs/source/examples/5/environment.yml
  docs/source/examples/6/environment.yml
  docs/source/examples/7/environment.yml
  docs/source/examples/8/environment.yml
  docs/source/examples/9/tensorboard_env.yml
  hi-ml-azure/environment.yml
  hi-ml-azure/src/health_azure/examples/environment.yml
  hi-ml-azure/testazure/testazure/test_azure_util.py
  hi-ml-azure/testazure/testazure/test_data/simple/environment.yml.template
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/other/slide_image_loading/environment.yml
  hi-ml/environment.yml
  hi-ml/other/image_loading/environment.yml
  hi-ml/testhiml/environment.yml
  multimodal/environment.yml
  new_project_template/environment.yml
Due: hi-ml, hi-ml-azure, hi-ml-histopathology

Pass list of transforms to validation function
  multimodal/health_multimodal/image/data/transforms.py
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/notebooks/phrase_grounding.ipynb
Due: none

wip integrate reviews
  docs/source/debugging.md
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

Fix docstring
  multimodal/health_multimodal/image/inference_engine.py
Due: none

Update typing hints
  multimodal/health_multimodal/image/inference_engine.py
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

add reviews
  docs/source/debugging.md
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

Update kwarg name
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Fix docstring
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

Replace hard-coded variable with kwarg
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

wip
  docs/source/debugging.md
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
Due: hi-ml

Declare variable before the line in which it is used
  multimodal/test_multimodal/image/data/test_io.py
Due: none

Fix type of returned value
  multimodal/health_multimodal/image/inference_engine.py
Due: none

bug fix runs locally
  hi-ml-histopathology/.vscode/launch.json
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

update doc
  docs/source/debugging.md
Due: none

typo
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml

Rename class and fix docstrings
  multimodal/health_multimodal/image/model/model.py
  multimodal/health_multimodal/image/model/modules.py
  multimodal/health_multimodal/text/model/modelling_cxrbert.py
  multimodal/test_multimodal/image/model/test_model.py
Due: none

numpy update
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

example file
  hi-ml/py310.py
Due: hi-ml

Fix docstring
  multimodal/health_multimodal/image/model/model.py
Due: none

Improve some docstrings
  multimodal/health_multimodal/image/model/model.py
Due: none

faster test
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Improve assertion
  multimodal/health_multimodal/image/model/model.py
Due: none

Replace import with type definition
  multimodal/health_multimodal/image/model/model.py
Due: none

Stop initializing list in kwarg
  multimodal/health_multimodal/image/model/model.py
Due: none

Fix docstring
  multimodal/health_multimodal/text/inference_engine.py
Due: none

Fix docstring
  multimodal/health_multimodal/text/model/configuration_cxrbert.py
Due: none

Fix docstring
  multimodal/health_multimodal/text/model/modelling_cxrbert.py
Due: none

reduce logging
  hi-ml-histopathology/src/histopathology/utils/wsi_utils.py
Due: hi-ml, hi-ml-histopathology

Remove old comment from ImageTextInferenceEngine docstring
  multimodal/health_multimodal/vlp/inference_engine.py
Due: none

switch to testing really our code
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Update docstring for get_patch_embeddings_from_image
  multimodal/health_multimodal/image/inference_engine.py
Due: none

simplify tensorboard test
  hi-ml-azure/testazure/testazure/test_himl.py
  hi-ml-azure/testazure/testazure/test_run_tensorboard.py
Due: hi-ml, hi-ml-azure

Apply docstring suggestion for get_patch_embeddings_from_image
  multimodal/health_multimodal/image/inference_engine.py
Due: none
