Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

.codecov.yml:

comment:
  # Skip the "diff" part of the report because it shows lots of misleading red lines when not everything is uploaded
  layout: "reach, flags, files"
flags:
  hi-ml:
    paths:
      - hi-ml
    carryforward: true
  hi-ml-azure:
    paths:
      - hi-ml-azure
    carryforward: true
  hi-ml-cpath:
    paths:
      - hi-ml-cpath
    carryforward: true
  hi-ml-multimodal:
    paths:
      - hi-ml-multimodal
    carryforward: true

Revert "Revert "clean up init_inference""
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/training_runner.py
Due: hi-ml

Update hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/runner_base.py
Due: hi-ml

rename mode
  hi-ml/src/health_ml/experiment_config.py
Due: hi-ml

rename mode
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/runner.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

test fixes
  hi-ml/testhiml/testhiml/test_eval_runner.py
Due: hi-ml

doc
  docs/source/runner.md
Due: none

ENH: Ability to evaluate model on a new dataset (#859)
  docs/source/runner.md
  hi-ml-azure/.vscode/settings.json
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml/src/health_ml/__init__.py
  hi-ml/src/health_ml/configs/hello_world.py
  hi-ml/src/health_ml/eval_runner.py
  hi-ml/src/health_ml/experiment_config.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/src/health_ml/runner.py
  hi-ml/src/health_ml/runner_base.py
  hi-ml/src/health_ml/training_runner.py
  hi-ml/testhiml/conftest.py
  hi-ml/testhiml/testhiml/test_eval_runner.py
  hi-ml/testhiml/testhiml/test_regression_test_utils.py
  hi-ml/testhiml/testhiml/test_runner.py
  hi-ml/testhiml/testhiml/test_training_runner.py
Due: hi-ml, hi-ml-azure

FIX: Fix typo in makefile for make targets
  Makefile
Due: none

Change pretrained argument default to False
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
Due: hi-ml, hi-ml-multimodal

Add enum for model weight types
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
Due: hi-ml, hi-ml-multimodal

Add function for initialising model with imagenet weights
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-multimodal

Add function to load ImageModel with chosen weights
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
Due: hi-ml, hi-ml-multimodal

FIX: Fix target names in Makefile (#865)
  Makefile
Due: none

✅ ♻️ Address PR comments
  hi-ml-azure/testazure/testazure/test_datasets.py
Due: hi-ml, hi-ml-azure

BUG: Prevent creating v2 data asset without specifying datastore (#854)
  hi-ml-azure/src/health_azure/datasets.py
  hi-ml-azure/testazure/testazure/test_datasets.py
  hi-ml-azure/testazure/testazure/test_himl.py
Due: hi-ml, hi-ml-azure

Bug bounty test - please ignore.... (mdvalw)
  Makefile
  docs/Makefile
  hi-ml-azure/Makefile
  hi-ml-azure/setup.py
  hi-ml-cpath/Makefile
  hi-ml-cpath/setup.py
  hi-ml-multimodal/Makefile
  hi-ml-multimodal/setup.py
  hi-ml/Makefile
  hi-ml/setup.py
  new_project_template/Makefile
  new_project_template/setup.py
Due: hi-ml, hi-ml-azure, hi-ml-cpath, hi-ml-multimodal

Rename weights enum
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
Due: hi-ml, hi-ml-multimodal

Add unit test for ImageNet weights
  hi-ml-multimodal/test_multimodal/image/model/test_pretrained.py
Due: hi-ml, hi-ml-multimodal

update naming
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

ENH: Add normalized confusion matrix key to metrics keys (#868)
  hi-ml-cpath/src/health_cpath/utils/naming.py
Due: hi-ml, hi-ml-cpath

Update dilation unit test to use get_imagenet_init_encoder()
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
Due: hi-ml, hi-ml-multimodal

ENH: Improve support for choosing image model weights (#807)
  hi-ml-multimodal/src/health_multimodal/image/model/encoder.py
  hi-ml-multimodal/src/health_multimodal/image/model/pretrained.py
  hi-ml-multimodal/src/health_multimodal/image/model/types.py
  hi-ml-multimodal/test_multimodal/image/model/test_encoder.py
  hi-ml-multimodal/test_multimodal/image/model/test_pretrained.py
Due: hi-ml, hi-ml-multimodal

Bump version: 0.2.0 → 0.2.1
  hi-ml-multimodal/.bumpversion.cfg
  hi-ml-multimodal/setup.py
  hi-ml-multimodal/src/health_multimodal/__init__.py
Due: hi-ml, hi-ml-multimodal

Specify hi-ml-multimodal in commit message
  hi-ml-multimodal/.bumpversion.cfg
Due: hi-ml, hi-ml-multimodal

Use compliant message for PR
  hi-ml-multimodal/.bumpversion.cfg
Due: hi-ml, hi-ml-multimodal

Remove potential previous build
  hi-ml-multimodal/Makefile
Due: hi-ml, hi-ml-multimodal

Fix commit message
  hi-ml-multimodal/.bumpversion.cfg
Due: hi-ml, hi-ml-multimodal

add DeepMILMAWeightUpdate
  hi-ml-cpath/src/SSL/lightning_modules/byol/byol_moving_average.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

fix typing
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/.vscode/launch.json
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
  hi-ml-cpath/src/health_cpath/utils/callbacks.py
Due: hi-ml, hi-ml-cpath

hacking strategy
  hi-ml-cpath/environment.yml
  hi-ml/src/health_ml/model_trainer.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

propagate apply_ma_inference flag
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
Due: hi-ml, hi-ml-cpath

wip small fixes
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

fix
  hi-ml-cpath/src/health_cpath/datamodules/base_module.py
Due: hi-ml, hi-ml-cpath

test
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

assert
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath

wip
  hi-ml-cpath/src/health_cpath/configs/classification/BaseMIL.py
  hi-ml-cpath/src/health_cpath/models/deepmil.py
Due: hi-ml, hi-ml-cpath

missing args
  hi-ml-cpath/testhisto/testhisto/datamodules/test_histo_datamodule.py
Due: hi-ml, hi-ml-cpath
