Repository microsoft/hi-ml: changes, and which Codecov flags are due for each by the changed paths.
All: hi-ml, hi-ml-azure, hi-ml-histopathology

add save_hyperparameters
  hi-ml-histopathology/src/SSL/lightning_modules/ssl_classifier_module.py
Due: hi-ml, hi-ml-histopathology

load checkpoint only if necessary
  hi-ml-histopathology/src/SSL/lightning_modules/ssl_classifier_module.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml, hi-ml-histopathology

fix break lines
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml

link better setup from everywhere
  docs/source/first_steps.md
  docs/source/histopathology.md
  docs/source/index.rst
Due: none

DOC: More details about creating Azure resources (#498)
  docs/source/azure_setup.md
  docs/source/first_steps.md
  docs/source/histopathology.md
  docs/source/index.rst
Due: none

add has_custom_test_step func to lightning container
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

add docs
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

move regression test header
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

add review comments
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

typo
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

remove trailing coma
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

get datamodule after seeding workers
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

remove unecessary logs
  hi-ml/src/health_ml/run_ml.py
Due: hi-ml

clean logs
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

ENH: Move all training related functions to MLRunner class. (#499)
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml/src/health_ml/__init__.py
  hi-ml/src/health_ml/lightning_container.py
  hi-ml/src/health_ml/model_trainer.py
  hi-ml/src/health_ml/run_ml.py
  hi-ml/testhiml/testhiml/test_model_trainer.py
  hi-ml/testhiml/testhiml/test_run_ml.py
Due: hi-ml, hi-ml-histopathology

add a loop at the end to keep the mount context alive
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
Due: hi-ml, hi-ml-histopathology

cleanup
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
Due: hi-ml, hi-ml-histopathology

BUG: Mounted dataset disappears when mount script terminates (#504)
  hi-ml-histopathology/src/histopathology/scripts/mount_azure_dataset.py
Due: hi-ml, hi-ml-histopathology

Update PR titles
  .github/workflows/check-pr-title.yml
Due: none

Add github workflow for smoke test for DeepSMILEPandaSlidesBenchmark
  .github/workflows/smoke-test-SlidesPANDAImageNetMILBenchmark.yml
  hi-ml-histopathology/Makefile
Due: hi-ml, hi-ml-histopathology

update env
  .github/workflows/smoke-test-SlidesPANDAImageNetMILBenchmark.yml
Due: none

add script to create config.json
  .github/workflows/smoke-test-SlidesPANDAImageNetMILBenchmark.yml
  create_config.sh
Due: none

Change permission on bash script
  create_config.sh
Due: none

config missing quotations
  create_config.sh
Due: none

better doc
  docs/source/azure_setup.md
Due: none

bug fix in confusion matrix labels
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

remove subfolder
  hi-ml-histopathology/src/histopathology/configs/SSL/PANDA_SimCLRContainer.py
  hi-ml-histopathology/src/histopathology/configs/classification/DeepSMILEPanda.py
  hi-ml-histopathology/src/histopathology/datasets/default_paths.py
  hi-ml-histopathology/src/histopathology/datasets/panda_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
  hi-ml-histopathology/src/histopathology/preprocessing/create_tiles_dataset.py
  hi-ml-histopathology/testhisto/testhisto/models/test_deepmil.py
Due: hi-ml, hi-ml-histopathology

Use single PyPi token
  .github/workflows/hi-ml-pr.yml
Due: none

Extend test for save_confusion_matrix
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

solve flake8
  hi-ml-histopathology/src/histopathology/preprocessing/create_panda_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

added package to environment and changed small tweaks to make datataset suitable for 20x
  hi-ml-histopathology/environment.yml
  hi-ml-histopathology/src/histopathology/datasets/panda_tiles_dataset.py
Due: hi-ml, hi-ml-histopathology

Update PyPI token
  .github/workflows/multimodal-pr.yml
Due: none

Update PyPI token secret name
  .github/workflows/multimodal-pr.yml
Due: none

corrected version number of package fast-pytorch-kmeans
  hi-ml-histopathology/environment.yml
Due: hi-ml, hi-ml-histopathology

Add back missing variable
  .github/workflows/multimodal-pr.yml
Due: none

updated PANDA 5X path
  hi-ml-histopathology/src/histopathology/datasets/default_paths.py
Due: hi-ml, hi-ml-histopathology

address PR comments
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/testhisto/testhisto/utils/test_plots_utils.py
Due: hi-ml, hi-ml-histopathology

Update hi-ml-histopathology/src/histopathology/utils/plots_utils.py
  hi-ml-histopathology/src/histopathology/utils/plots_utils.py
Due: hi-ml, hi-ml-histopathology

Path conditions:
  hi-ml: any of: hi-ml
  hi-ml-azure: any of: hi-ml-azure
  hi-ml-histopathology: any of: hi-ml-histopathology
